[2022-04-12 15:13] danehans opened #1 "Create Design Doc"
Create a design document that provides details of system components, functionality, etc.

[2022-04-12 15:15] danehans opened #2 "Create a Readme"
Create a Readme that provides an intro to the project and references on how to communicate with the community, how to contribute, etc.

[2022-04-12 15:25] danehans opened #3 "Bootstrap the Repo"
- [x] Readme
- [x] Contrib guide
- [x] Design doc
- [x] Code of conduct doc
- [x] Owners doc
- [x] Goals doc
- [x] Governance doc

envoyproxy/envoy repo should be used as a reference for how docs are created for this repo.

[2022-04-13 18:43] alexgervais opened #6 "Create Goals Document"
Create a GOALS.md document that highlights the objectives, non-objectives and personas of the Gateway project.

[2022-04-13 21:53] danehans opened #8 "Create Contrib Guide"
Use Envoy [contrib guide](https://github.com/envoyproxy/envoy/blob/main/CONTRIBUTING.md) as a reference model.

High-level dev workflow:
- Create issue
- Label issue accordingly
- Create a local topic branch
- Hack and commit changes, include a `--signoff` for each commit.
- Push commits to repo branch
- Submit PR to main, include `fixes <issue_number>`.
- Other?

[2022-04-14 17:22] danehans opened #9 "Support Multi-Cluster Services using ServiceImport as a BackendRef"
As a Kubernetes cluster administrator, I would like Gateway to support Kubernetes services that run in multiple clusters. Gateway should support multi-cluster service networking methods defined by [sig-multicluster](https://github.com/kubernetes/community/blob/master/sig-multicluster/README.md) but not preclude other methods.

xref: https://github.com/envoyproxy/gateway/pull/7

[2022-04-19 16:55] danehans opened #10 "Create Demo Code"
Port Gateway API code from Contour to provide a kubecon demo. The code should be ported to a demo branch and not main. The ported code should be as minimal as possible to demo Gateway API functionality.

[2022-04-22 20:49] arkodg opened #11 "Create ROADMAP.md"
A document about the project roadmap helps users understand
* WHAT - future scope and deliverable for the project
* WHEN - timelines for delivering these milestones / also helps with GH project visibility
* HOW - procedure for users to request & upvote new items into the roadmap

[2022-04-22 22:05] danehans opened #12 "Support Istio Integration"
Istio [Ingress Gateway](https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/) is an Envoy-based edge proxy that is managed by Istiod and integrates with the Istio service mesh. Should EG be considered as a replacement? If so, why? What are the benefits of using EG for mesh ingress instead of Istio Ingress Gateway? Do other opportunities exist to integrate with Istio?

[2022-04-22 22:36] danehans opened #13 "Add Serverless Support"
Serverless is becoming a common app runtime for cloud native apps. Popular Serverless OSS projects such as [Knative](https://knative.dev/docs/serving/) should use EG as the preferred ingress/egress networking solution.

[2022-04-22 22:56] danehans opened #14 "Create Docker Hub Repo for EG Image"
A docker hub repo is needed to store EG images. The push will be triggered by a GH action.

[2022-04-22 23:03] danehans opened #15 "Create a Release Plan"
1. What are the steps for releasing EG? Automate as much as possible, e.g. GH actions, etc.
2. At what cadence should EG be released? I suggest we sync with Envoy proxy releases, targeting v1alpha for 7/15/22, [xref](https://github.com/envoyproxy/envoy/blob/main/RELEASES.md).
3. Assign a release manager or create a release manager rotation.
4. What artifacts should be released?
5. Decide on releas

[2022-04-23 20:38] danehans opened #17 "Docs Publishing Strategy"
Should Envoy Gateway's documentation be separate from Envoy's [official docs](https://www.envoyproxy.io/docs/envoy/latest/) or integrate with https://github.com/envoyproxy/envoy-website

[2022-04-24 02:12] danehans opened #18 "Consider Renaming the Project"
IMO "Gateway" does not accurately reflect the intended functionality of the project. The project will manage Envoy fleets that are represented as GatewayClasses and Gateways. Let's use comments in this issue to provide name suggestions and a thumbs-up emoji if you like the name. The name with the most thumbs-up's wins. If a tie exists, we'll have @mattklein123 be the final decision maker.

[2022-04-24 02:27] danehans opened #19 "Consider Adding Egress Proxy Support"
The project is currently targeting the edge reverse proxy use case. Should the project also support forward proxy, e.g. egress?

[2022-04-25 02:17] arkodg opened #20 "Extend EnvoyGateway Control Plane"
Consider defining a [WASM](https://www.tetrate.io/blog/wasm-modules-and-envoy-extensibility-explained-part-1/) ABI spec for Control Plane APIGateways similar to [proxy-wasm](https://github.com/proxy-wasm/spec) so the components defined in https://github.com/envoyproxy/gateway/pull/16 can be extended by users to define new control plane APIGateway functionality . [wazero](https://github.com/tetrate

[2022-04-25 16:56] danehans opened #21 "Cut 0.0.1 Release"
The following checklist must be completed for the project's public announcement, e.g. v0.0.1:

- [x] Merge required PRs: [Readme](https://github.com/envoyproxy/gateway/pull/4), [Goals](https://github.com/envoyproxy/gateway/pull/7), [Design](https://github.com/envoyproxy/gateway/pull/16) (add others if needed).
- [x] Remove the private CNCF Slack channel and create an Envoy public channel.
- [x] Cr

[2022-04-26 21:38] danehans opened #23 "Support Default GatewayClass and Gateway Management"
To simplify the UX (especially for dev's), the project should support managing a default GatewayClass and Gateway. For example, when EG is started with an ENV var or CLI flag such as `--default-gateway-class=true` and `--default-gateway=true` it will create the default GatewayClass and default Gateway resources.

Open Questions:
1. What namespace should be used for the default Gateway? To support

[2022-04-26 22:40] #18 closed, assigned to nobody

[2022-04-28 01:04] arkodg opened #24 "Allow users to configure xDS resources"
Users might want to directly configure [xDS Resources](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#resource-types) in case Envoy Gateway's API doesn't support their use case.
They might want to add/merge/remove/replace xDS resources that are pushed by Envoy Gateway into Envoy Proxy.
Projects such as Istio provide APIs such as [EnvoyFilter](https://istio.io/latest/docs/referen

[2022-04-28 15:29] #6 closed, assigned to nobody

[2022-04-28 17:50] danehans opened #25 "[docs] Create Owners File"
The file should list the maintainers of the project.

[2022-04-28 19:12] danehans opened #29 "Design and Implement Config API"
A Config API is required for EG to consume config params through `gatewayclass.spec.parameterRefs`. This config API is referred to as "Bootstrap Config" in https://github.com/envoyproxy/gateway/pull/16.

[2022-04-28 19:25] danehans opened #30 "Detail Config Merging"
#16 states that EG will merge config from multiple sources but does not provide the "how". This "how" should be detailed in this issue or a referenced design doc.

[2022-04-28 19:41] arkodg opened #31 "Override default Envoy Proxy Bootstrap Configuration"
https://github.com/envoyproxy/gateway/issues/24 highlights the need for users to override xDS resources configured by
Envoy Gateway. Raising this issue to track how do you express this intent for the [Envoy Proxy Bootstrap Config](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/bootstrap/v3/bootstrap.proto#config-bootstrap-v3-bootstrap) using the[ Gateway API](https://gateway-api.sigs.k8

[2022-04-28 19:42] danehans opened #32 "Internal Data Model Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for an Intermediate Representation (IR) component to decouple the system from Gateway API. The IR details should be captured in this issue or a linked doc.

[2022-04-28 19:43] danehans opened #33 "Initial Config Server Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Config Server (CS) component to allow EG to be configured from a remote endpoint. The CS details should be captured in this issue or a linked doc.

[2022-04-28 19:54] danehans opened #34 "Initial Message Service Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Message Service (MS) component to allow internal services to communicate while being loosely coupled. The MS details should be captured in this issue or a linked doc.

[2022-04-28 19:58] danehans opened #35 "Resolve Service to Endpoints IPs"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Service Resolver (SR) component that resolves IR services into platform-specific endpoints. The SR details should be captured in this issue or a linked doc.

[2022-04-28 20:34] arkodg opened #36 "Support routing to non K8s upstream services"
Envoy Gateway intends to support upstream services & endpoint running in all environments as highlighted [here](https://github.com/envoyproxy/gateway/blob/main/GOALS.md#all-environments). This issue tracks how this can be
achieved using the [Gateway API](https://gateway-api.sigs.k8s.io)

[2022-04-28 21:40] danehans opened #37 "Initial Path Watcher Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Path Watcher (PW) component to allow EG to be configured from file(s) in a directory path. The PW details should be captured in this issue or a linked doc.

[2022-04-28 21:52] danehans opened #38 "Initial Resource Translator Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Gateway API Translator (GAT) to decouple the user APIs from the internal system. The GAT details should be captured in this issue or a linked doc.

[2022-04-28 21:54] danehans opened #39 "Initial xDS Translator Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for an xDS Translator (XT) to translate IR resources to an xDS config. The XT details should be captured in this issue or a linked doc.

[2022-04-28 21:56] danehans opened #40 "Initial xDS Server Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for an xDS server to configure managed Envoy instances. The xDS server details should be captured in this issue or a linked doc.

[2022-04-28 21:57] danehans opened #41 "Initial Infra Manager Design and Implementation"
https://github.com/envoyproxy/gateway/pull/16 specifies the need for a Provisioner to manage the infra needed to run Envoy. The Provisioner details should be captured in this issue or a linked doc.

[2022-04-29 01:26] youngnick opened #42 "Add Code of Conduct"
We need to make sure we have some sort of code of conduct markdown file in the root of the repo.

[2022-04-29 03:48] arkodg opened #43 "Initial Config Manager Design and Implementation"
The Config Manager is responsible for instantiating and managing the lifecycle of the various system components
in Envoy Gateway based on the Envoy Gateway Bootstrap spec

[2022-04-29 16:40] danehans opened #46 "Repo Labels"
As discussed, the repo can use additional labels to help organize PRs, issues, etc. After reviewing other projects in the envoyproxy org, the following are the labels that I propose:

area/ci
area/build
area/api
area/config (Config Manager, Config Sources, etc.)
area/data model
area/message service
area/translator
area/xds server
area/provisioner

@arkodg @LukeShu @alexgervais @youngnick @skriss P

[2022-04-29 16:44] danehans opened #47 "L4 Support"
During the 4/29/21 community meeting, support for L4 support, e.g. [TCPRoute](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.TCPRoute) was discussed. The community should come to an agreement on if L4 should be supported and if so, how.

[2022-04-29 16:53] danehans opened #48 "Governance Doc"
A GOVERNANCE.md is required to explain how to become a maintainer, maintainer responsibilities, etc.

xref: https://github.com/envoyproxy/gateway/issues/3

[2022-05-02 16:38] #1 closed, assigned to danehans, arkodg

[2022-05-02 17:51] danehans opened #50 "Define Initial APIs"
https://github.com/envoyproxy/gateway/pull/16 specifies the need to define APIs, e.g. bootstrap config. To begin developing these APIs, the community should agree on:

1. How these APIs will defined, protos vs Go types. [Emissary](https://github.com/emissary-ingress/emissary) uses protos to define [API types](https://github.com/emissary-ingress/emissary/blob/master/api/agent/director.proto) wherea

[2022-05-02 19:37] arkodg opened #51 "Design and Implement Initial Envoy Gateway Config API"
* Define Bootstrap Config API
* Add infra to define API and generate go structs

[2022-05-02 20:33] danehans opened #52 "Which Gateway API Version Should be Used?"
v0.4.2 is the latest Gateway AP release. Should this release be used or should the main branch be used until v0.5.0 is released which introduces [release channels](https://gateway-api.sigs.k8s.io/concepts/versioning/#release-channels-eg-experimental-stable)?

cc: @youngnick

[2022-05-03 14:06] alexgervais opened #54 "Create a CHANGELOG.md"
Create a CHANGELOG.md file at the repository root to document changes and release notes.

[2022-05-03 15:38] #25 closed, assigned to danehans

[2022-05-03 15:43] #42 closed, assigned to danehans

[2022-05-03 20:29] #8 closed, assigned to danehans

[2022-05-03 23:06] danehans opened #55 "Create Compatibility Matrix"
A matrix is needed that describes component versions used in EG releases. For example, EG v0.1 = Envoy v1.x, Gateway API v1.y, etc.

[2022-05-05 20:12] danehans opened #56 "Update readme with Envoy public announcement"
The readme should be updated to xref cncf/envoy public announcements.

[2022-05-09 16:17] #46 closed, assigned to danehans

[2022-05-09 22:41] danehans opened #57 "Add About and Topics"
I added an "About" and topics to the repo homepage, PTAL. This issue captures the need for both. @arkodg @youngnick @skriss @LukeShu @alexgervais please comment in this issue with any "About" or topics suggestions.

[2022-05-10 16:21] #10 closed, assigned to skriss

[2022-05-10 22:48] #2 closed, assigned to danehans

[2022-05-10 23:17] danehans opened #60 "Engineering Decisions to Prepare Implementing Design Doc"
Enumerate the engineering decisions needed to prepare for implementing the [design doc](https://github.com/envoyproxy/gateway/blob/main/docs/design/SYSTEM_DESIGN.md).

[2022-05-11 19:31] #54 closed, assigned to nobody

[2022-05-12 16:42] #57 closed, assigned to danehans

[2022-05-12 17:16] danehans opened #62 "Refine Governance Doc"
The initial governance doc is generalized. Update the doc to include more procedural information.

xref: https://github.com/envoyproxy/gateway/pull/58

[2022-05-13 18:19] danehans opened #63 "Initial CI Environment"
Create an initial CI environment where TBD tests are executed for PRs.

[2022-05-13 18:21] danehans opened #64 "Create Initial Tests"
Create initial integration/e2e tests, framework, tooling etc. that exercises the EG codebase.

[2022-05-13 18:28] danehans opened #65 "Initial Gateway API Conformance"
The community has established Gateway API [conformance](https://gateway-api.sigs.k8s.io/concepts/guidelines/?h=conformance#conformance) as the target of the [0.0.2 release](https://github.com/envoyproxy/gateway/milestone/1). This is a meta issue, in that issues, PRs, etc. that target this goal should be linked to this issue.

[2022-05-13 20:58] #48 closed, assigned to mattklein123

[2022-05-13 20:59] #3 closed, assigned to danehans

[2022-05-13 21:00] #21 closed, assigned to danehans

[2022-05-16 22:03] moderation commented on #47
@youngnick Not supporting the TCPRoute and UDPRoute in the Gateway API spec is consistent with Contour's approach - https://github.com/projectcontour/contour/issues/1248

However there have been numerous requests in the community to support UDPRoute particularly for voice applications.  The Istio issue is https://github.com/istio/istio/issues/1430

If the view is that Envoy Gateway can't support t

[2022-05-16 22:09] ghughes opened #66 "Why?"
As a reasonably satisfied user of Contour, I'm curious: what motivated the decision to start over with a new project?

[2022-05-16 22:11] mattklein123 commented on #47
I would definitely like to see both TCP and UDP implemented by this project, so let's discuss after the initial HTTP bootstrapping work is done. Having both TCP and UDP support is a consistent customer request.

[2022-05-17 07:38] danehans commented on #66
https://blog.envoyproxy.io/introducing-envoy-gateway-ad385cc59532 provides additional background to why Envoy Gateway. youngnick @skriss feel free to provide additional input from a Contour community perspective.

[2022-05-17 10:03] youngnick commented on #11
Big +1 from me for using milestones, but I think @danehans' rough outline is pretty good. I think that @skriss point about conformance being a moving target is a good one too, so we should mark a Gateway API release as the first target, and work towards that. (Perhaps v0.4.3, the current release, or v0.5.0, due soon, that will move some resources to v1beta1.)

[2022-05-17 10:04] youngnick commented on #65
Yes, I think we should pick a Gateway API release as our first milestone target, we could choose either v0.4.3, the final v1alpha2 release, or the forthcoming v0.5.0, the first v1beta1 release. I'm inclined toward the latter.

[2022-05-17 18:05] danehans commented on #65
@skasisom6 the [v0.2.0](https://github.com/envoyproxy/gateway/milestone/1) goal is for Envoy Gateway to pass Gateway API conformance tests. This means that Envoy Gateway will provide a set of core API Gateway functionality. When you have a moment, please review [Gateway API conformance](https://gateway-api.sigs.k8s.io/geps/gep-917/?h=conforma#what-is-conformance), along with the [conformance tests

[2022-05-18 07:10] #66 closed

[2022-05-18 11:58] rahulanand16nov commented on #12
I have a similar question since Istio provides its own implementation of Gateway API that translates into Envoy Proxy config and EG is trying to achieve a similar thing. How does EG differ from Istio's implementation of Gateway API?

[2022-05-18 22:25] adamdunstan commented on #23
Depending on the overall configuration construction of the solution, I could see the value of adding the GatewayClass by default but not the Gateway.  When implemented to include the allocation of an external IP Address, the address is allocated when the Gateway is created.  This is logical, an IP address has a different lifecycle than a route, allocating an address before its needed doesnt seem l

[2022-05-18 22:32] mattklein123 commented on #47
Per my comment above we will definitely support all 3 types in this project. Where it lands on the roadmap I'm not sure. Let's see how things evolve and who wants to work on what.

[2022-05-19 05:26] danehans commented on #23
We need to keep in mind the "batteries included" approach to streamline onboarding app devs with Envoy.  The default gc/gw could look similar to [this upstream example](https://github.com/kubernetes-sigs/gateway-api/blob/master/examples/v1alpha2/basic-http.yaml#L1-L21) but include a [tls config](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.GatewayTLS

[2022-05-19 09:27] krish512 opened #69 "Slack link in not working"
README file has a slack link to join the #gateway-dev which does not work any more

Readme file: https://github.com/envoyproxy/gateway/blob/main/README.md

Slack link: https://envoyproxy.io/slack

[2022-05-19 11:15] gyohuangxin commented on #69
@krish512  This link works for me. Maybe you need to sign in at first: https://envoyproxy.slack.com/signin

[2022-05-19 11:18] krish512 commented on #69
<img width="660" alt="Screenshot 2022-05-19 at 4 48 17 PM" src="https://user-images.githubusercontent.com/6457418/169281382-73060251-5d76-4799-af31-1f38dfe89091.png">

Slack link: https://envoyproxy.io/slack

[2022-05-19 11:30] gyohuangxin commented on #69
What if you click "Join with Email", then sign in with your email?
![image](https://user-images.githubusercontent.com/42127654/169283170-b8d3d63d-541f-4287-830b-68d1bb8832bc.png)

[2022-05-19 14:15] mattklein123 commented on #69
Thanks I will figure out how to fix this.

[2022-05-19 15:18] mattklein123 commented on #69
Should be fixed soon. Unfortunately this is a limitation of how Slack invites work. https://github.com/envoyproxy/envoy-website/pull/256

[2022-05-19 15:18] #69 closed

[2022-05-23 21:15] arkodg commented on #12
Here are some of the similarities between the Envoy Gateway project and the Istio project
* They both plan on supporting the Gateway API (Istio already supports most of it today)
* Both use Envoy Proxy in the data plane

Here are some of the differences
* Istio manages the ingress gateways as well as sidecar proxies managing north-south as well east-west traffic
* Envoy Gateway's scope is limited

[2022-05-23 21:15] #12 closed

[2022-05-23 23:33] arkodg opened #70 "Control Plane (xDS Server - Envoy) Auth + Authz"
This issue tracks how the the data plane Envoy Proxy authenticates and authorizes with the xDS Server within Envoy Gateway

[2022-05-23 23:42] arkodg commented on #40
@youngnick raised https://github.com/envoyproxy/gateway/issues/70 so we can track the auth + authz implementation for gRPC communication b/w Envoy proxy and the xDS Server which should ensure that the xDS server can trust different data plane components / envoy proxies deployed by the provisioner allowing the default Envoy Gateway implementation to be based off a single binary (i.e. the Provisione

[2022-05-24 07:35] rahulanand16nov opened #71 "WASM Plugin Design and Implementation"
Hi guys, we have been following this project closely because it overlaps with some of the use cases [Kuadrant](https://github.com/Kuadrant) solves using Istio, but we feel we can also extend support with Envoy Gateway as well, given there is a way to inject WebAssembly modules from an image registry.

Currently, we use [WasmPlugin](https://istio.io/latest/docs/reference/config/proxy_extensions/was

[2022-05-24 22:45] arkodg commented on #71
hi @rahulanand16nov are you referring to extending data plane/Envoy using WASM or control plane (Envoy Gateway using WASM, raised https://github.com/envoyproxy/gateway/issues/20 to track this) using WASM ?

[2022-05-25 05:03] rahulanand16nov commented on #71
@arkodg There is already a way of extending data plane/Envoy using WASM (filter and singleton service), but that works only when you're manually configuring it or a control plane provides a CRD to configure that for you (Istio provides WasmPlugin as linked above). I believe Envoy Gateway's control plane can also offer a similar CRD to inject WASM modules but through an OCI image.

In Envoy, you ca

[2022-05-25 15:51] skriss opened #73 "add linting"
Linting should be added to the project. Ideally it can be run both locally by developers, via a `make` task, and in GitHub Actions.

Suggested tools:
- [x] `golangci-lint` for Go
- [x] `yamlllint` for YAML
- [x] `codespell` (TODO golangci-lint has `misspell`; is that sufficient?)

[2022-05-25 15:53] skriss opened #74 "enforce code coverage thresholds"
The project should have code coverage reporting and enforce certain levels of code coverage for PRs. https://about.codecov.io/ is a good option that integrates well with GitHub and is free for open-source projects.

[2022-05-25 15:57] skriss opened #75 "add container image build & push"
We need a container image to be built containing the `envoy-gateway` binary, and for it to be pushed to a registry. This should be able to be done locally, via `Makefile` targets, and in CI (i.e. build image on PR's, build and push image on commits to `main`).

Building and pushing release-tagged images can probably be deferred to a separate issue that deals with release tooling.

[2022-05-25 16:28] danehans commented on #75
@skriss I think this may be a dupe of https://github.com/envoyproxy/gateway/issues/14. PTAL and comment as needed.

[2022-05-25 16:29] danehans commented on #14
@mattklein123 PTAL at https://github.com/envoyproxy/gateway/issues/75. When you have a moment, can you help with the Docker repo and push creds?

[2022-05-25 16:29] skriss commented on #75
Sure, I read #14 as the task of setting up the repo itself as a push target, but if you want that issue to also cover the CI work, we can close this one.

[2022-05-25 17:09] skriss commented on #75
:+1: they'll probably be done by different people, so sounds good to me.

[2022-05-26 12:02] vince-0202 commented on #73
Are we going to use Go 1.18?
There seem to be some unresolved issues regarding golangci-lint support for Go1.18.
https://github.com/golangci/golangci-lint/issues/2649

[2022-05-26 17:34] danehans opened #76 "Select Logging Framework"
A logging framework should be utilized to decouple EG from any specific logging implementation. The logging framework should:

- Support a wide range of logging library implementations, including implementations supported by k8s and k8s-related pkgs. Note that [controller-runtime](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/log/zap)/[Istio](https://pkg.go.dev/istio.io/pkg/log) logging pk

[2022-05-26 18:16] danehans commented on #73
@vince-0202 thanks for making us aware of the golangci-lint issue. We currently plan on using go 1.18.2, so this issue is blocked until https://github.com/golangci/golangci-lint/issues/2649 is fixed or if we decide to use go 1.17.x instead.

xref: https://github.com/envoyproxy/gateway/pull/72/files#diff-868425f4c6dd9927d83974d334ea46b9ec96854cdac9bb15b15f43bc4ad17820R6

[2022-05-26 18:40] lizan commented on #14
`envoyproxy/gateway` and `envoyproxy/gateway-dev` repositories are created. creds are in GitHub actions secret as `DOCKERHUB_USERNAME` and `DOCKERHUB_PASSWORD`

[2022-05-26 18:49] #14 closed

[2022-05-26 19:49] danehans commented on #76
EG implementation plan xref: https://github.com/envoyproxy/gateway/issues/60

[2022-05-26 19:54] basvanbeek commented on #76
With the same ideas in mind, we created:
https://github.com/tetratelabs/telemetry

The key point is that it is just an interface with some wrapping logic to support dynamic log levels and Istio style scoped loggers, but allows one to plug their own logging implementations.

This makes it easy for people embedding / building on top of EG libraries to select a different logging library while EG main

[2022-05-26 19:54] danehans commented on #70
@LukeShu I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 19:55] danehans commented on #40
@LukeShu I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 19:56] danehans commented on #32
@skriss I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 19:57] danehans commented on #39
@skriss I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 19:58] danehans commented on #38
@skriss  I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 19:59] danehans commented on #50
@LukeShu per the 5/24/22 meeting notes, please document the rationale for using kube-builder/controller-gen over protobuf.

[2022-05-26 20:02] danehans commented on #43
@arkodg I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 20:03] danehans commented on #29
@arkodg I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-26 20:05] danehans commented on #43
Although the initial Config Manager will focus on k8s, it should be designed to support add'l config sources, xref: https://github.com/envoyproxy/gateway/issues/30

[2022-05-26 20:05] danehans commented on #34
@arkodg I assigned this issue to you based on the 5/24/22 community meeting [notes](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing). Please unassign yourself if that's not the case.

[2022-05-27 04:02] lianghao208 commented on #73
/assign

I think we should wait until [golangci/golangci-lint#2649](https://github.com/golangci/golangci-lint/issues/2649) has been fixed.

[2022-05-27 09:23] ethanhanjiahao commented on #74
/accept

I want try to resolve this issue

[2022-05-27 14:32] #56 closed

[2022-05-27 17:45] danehans commented on #74
@ethanhanjiahao thanks for your willingness to help. Please assign yourself the issue if you're going to work on it.

[2022-05-27 17:58] danehans commented on #73
@lianghao208 feel free to assign yourself the issue if you would like to work on it. I suggest using Contour as reference model as I believe it has implemented these linters.

[2022-05-28 03:12] lianghao208 commented on #73
Thanks for the suggestion, I've added linters referring to the Contour.

[2022-05-29 09:20] ethanhanjiahao commented on #74
yeah, but i cannot assign to me. Can you assign the issue to me. I will work on it

[2022-05-30 06:35] youngnick commented on #60
Okay, running through the decisions I listed in the doc so that they are recorded here for posterity. Please feel free to comment with related issues if I miss them.

## Local dev and build
- Makefile will be the basis for workflows, be they local dev, CI, or release.
- CI will be done by Github Actions.
- CI will have a unit test run (`go test` and `go test -race`)
- The unit test run will use Co

[2022-05-31 16:02] danehans commented on #75
@skriss @arkodg note that `envoyproxy/gateway` and `envoyproxy/gateway-dev` docker repos have been created. The `gateway-dev` repo should contain an EG binary built from the latest tip of main that passed tests.

xref: https://github.com/envoyproxy/envoy/blob/main/ci/README.md#ubuntu-envoy-image

[2022-05-31 16:05] danehans commented on #60
Instead of main, we should encourage the use of the `gateway-dev` image. xref: https://github.com/envoyproxy/gateway/issues/75#issuecomment-1142324322

[2022-05-31 16:27] danehans opened #81 "Provide a Certificate Management Solution"
A certificate management solution is needed for users to run EG beyond test/dev. The following are requirements that the cert management should meet:

- Integrate well with Kubernetes.
- Provide a simple process for obtaining, renewing, and using certificates.
- Issue certificates from a variety of sources, e.g. Vault.
- Be well documented.
- Be a well-maintained OSS project with a diverse communi

[2022-05-31 16:41] danehans opened #82 "Provide a Simple and Native Cert management Solution"
While https://github.com/envoyproxy/gateway/issues/81 identifies the need for a production-quality certificate management solution, EG should support native cert management for simple, non-prod use cases.

[2022-05-31 16:44] danehans commented on #40
Per https://github.com/envoyproxy/gateway/issues/60, this issue should use incremental instead of stow xds.

[2022-05-31 18:33] arkodg commented on #60
this sgtm, but im hoping the default documented behavior is all components are enabled using a single command as I mentioned [here](https://github.com/envoyproxy/gateway/issues/40#issuecomment-1135244812)

[2022-05-31 19:53] LukeShu commented on #50
Sorry, I didn't get to this on Wednesday, and have been on vacation since then. Will get that documentation up soon.

[2022-06-01 01:52] lianghao208 opened #85 "Add YAML directories for YAML linter"
related PR: #79

We need to add YAML directories for YAML linter after the YAML directories have been determined.

https://github.com/envoyproxy/gateway/pull/79/files#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R21

[2022-06-01 01:53] vince-0202 commented on #81
cert-manager seems like a good choice.
[cert-manager](https://cert-manager.io/)

[2022-06-01 01:59] danehans commented on #81
@vince-0202 agreed.

[2022-06-01 21:34] arkodg commented on #34
[Here's](https://docs.google.com/document/d/132sZxpOUHZV3qPSb21GM_q3fYl1h-Gvw22H8NMcDcUo/edit?usp=sharing) the initial design doc

[2022-06-02 21:17] jasonmccallister opened #88 "Use Case - Front Proxy with mTLS"
Last meeting we discussed providing some use cases on how people are deploying Envoy in production. We have somewhat of an interesting use case I thought I would share.

We deploy Envoy as a front proxy that sits behind a CDN. Our Envoy Proxy sits behind a network load balancer and has one TLS listener that requires all connections present a client certificate signed by the Cloudflare CA. Many CDN

[2022-06-02 22:31] LukeShu opened #89 "Consider using `ko` instead of `docker build`"
[`ko`](https://github.com/google/ko) is a tool for building Docker images that are simple containerized Go programs. In my opinion, this is preferable to `docker build` for several reasons:
 - Does [reproducible builds](https://reproducible-builds.org/), which are a big plus for supply-chain security
 - Native support of multi-arch builds
 - Can take advantage of the host's Go module+compiler cach

[2022-06-03 03:29] arkodg opened #90 "Install tooling for dev workflows"
Raising this issue to help reach an engineering decision on what is the best way for this project to install/leverage tooling
for supporting various developer workflows such as generating license for files, using linters and more...

Sharing three ways this is done in most projects today -
1) Use a build container which comes pre-installed with all tooling needed for developer workflows.
[Istio](h

[2022-06-03 03:41] arkodg commented on #90
having used all these different patterns in various projects over the last few years, prefer going with 3 which uses minimal tools to get the job done, is a clean coding pattern (that can live in its own Makefile if needed) and is fast.
used it to implement adding license headers to files [here](https://github.com/envoyproxy/gateway/pull/84)

[2022-06-03 03:58] arkodg commented on #88
thanks for raising this issue, this seems like mTLS support between downstream client and envoy which should definitely be supported by the project. Linking the Gateway API issue https://github.com/kubernetes-sigs/gateway-api/issues/91 which will be required to be able to describe this user intent.

[2022-06-03 05:05] lianghao208 commented on #90
In option 3, are there always efficient ways to install binary artifacts?

For example, yaml linter doesn't seem to provide a binary installation doc. On the contrary, a [build container](https://github.com/giantswarm/yamllint-docker/blob/master/Dockerfile) which doesn't require particular user environment(e.g pip, yum) is easier to run.

xref: https://yamllint.readthedocs.io/en/stable/quickstart.

[2022-06-03 14:31] skriss commented on #74
Still to do: add PR checks that enforce required code coverage #'s.

[2022-06-03 15:15] skriss commented on #39
Removed my assignment, I'm going to focus on #32 and #38 to start. Happy to circle back to this later though if nobody has picked it up.

[2022-06-03 17:29] arkodg commented on #90
@lianghao208 good catch, so looks like we could either find a way to download `yamllint` using popular
package managers - `pip`, `brew`, `apt` or just move the `hack/` logic into the Makefile (checks if binary is present, if not runs a docker image)

[2022-06-03 17:59] danehans commented on #88
xref https://github.com/kubernetes-sigs/gateway-api/issues/91 for Gateway API client cert verification support.

cc: @robscott

[2022-06-03 18:45] danehans commented on #90
I lean towards 2 due to my familiarity with the workflow. I don't find the make -> ./hack/foo.sh indirection that difficult to follow and it's a very common approach. 1 would be my 2nd option since it's used by Envoy and provides consistency between the two projects, but running in a container does slow dev down.

[2022-06-03 18:55] danehans opened #92 "Finalize License Header Management"
Kubernetes and many other projects include a license header in each project code file while Envoy only requires license headers at the project root. With https://github.com/envoyproxy/gateway/pull/84, EG will follow the Kubernetes approach. Determine if this approach is needed, and if not, follow Envoy's approach to license header management.

cc: @lizan @mattklein123

[2022-06-03 19:25] lizan commented on #90
re 1: Docker builder docker image artifact is a non-issue when using `buildx` or `ko`

I'm leaning toward 1, but we can also do hybrid with 3. Those keeps dev workflows close to CI as well. If you setup devcontainer correctly with 1 it doesn't slow dev down.

[2022-06-03 19:35] mattklein123 commented on #92
It is not needed and just creates extra clutter and overhead. I would follow the envoy approach personally.

[2022-06-03 19:43] danehans commented on #60
https://github.com/envoyproxy/gateway/pull/87 follows this desired approach by introducing the `serve` command to run, manage, etc. EG components.

[2022-06-03 21:41] Plataformaalgoritmica commented on #85
Hello World.

[2022-06-04 02:02] lianghao208 commented on #90
+1, I lean towards 2 as well. Compare to 1, 2 is more flexible and easier for extension as mention.

@arkodg IMO, considering it's difficult to reuse `docker run` logic in Makefile(different tool container images may require different `docker run option`, e.g. different `--volume, --workdir`), moving the installation logic into Makefile could increase the complexity and reduce the readability of M

[2022-06-06 01:03] youngnick commented on #90
I think my preference is 2, 1, 3.

I put 2 first because I think that encapsulating logic for operational things into scripts is less cognitive load because you don't need to care about what they do exactly until you need to change it. The scripts also allow you to version-check the tools to ensure a consistent experience (although we haven't done a good job on this with Contour).

At the end of t

[2022-06-06 18:19] arkodg commented on #90
looks like 1 & 2 seem to be the most popular choices. 2 seems to clearly be the most flexible option, but it could be more time consuming for some edge cases (where the user needs to run a docker container for every tool)
lets start with 2 and we could eventually provide 1 to the user using a `RUN_MAKE_IN_CONTAINER` env

[2022-06-06 18:59] robd003 commented on #82
I'd suggest looking at [lego](https://github.com/go-acme/lego)

[2022-06-06 20:49] arkodg opened #93 "Consider copying host build artifact into docker build"
Continuing the thread from [here](https://github.com/envoyproxy/gateway/pull/83#discussion_r890279681), another way to package the docker image is to build the go binary on the host and add it into the image using the `ADD` step. It would look like

Makefile
[code]

Dockerfile
[code]

Pros:
* the build is based on the go tooling on the dev/CI's host and so uses any environment set on the host such

[2022-06-07 00:31] lizan commented on #93
Have a build target that sets GOOS correctly then you won't have this issue, like

[code]

Then just use `ADD ./$TARGETPLATFORM/bin/envoy-gateway /usr/local/bin` so you have multiarch image built.

Alternatively we can just use `ko` as suggested in #89, which essentially does the same stuff.

[2022-06-07 02:17] arkodg commented on #93
thanks @lizan , ive incorporated https://github.com/envoyproxy/gateway/issues/93#issuecomment-1148067312 into https://github.com/envoyproxy/gateway/pull/83/commits/25373a94b2aae486d9ea9e8a8e5f763d3db7e428
still introduces the issue of a dev image being different from a CI image due to different go versions used, we can revert this change if its an issue later

[2022-06-07 20:41] danehans opened #96 "Edge Proxy Best Practices"
How should EG support best practices for running Envoy as an edge proxy?

xref: https://www.envoyproxy.io/docs/envoy/latest/configuration/best_practices/edge

[2022-06-07 20:58] arkodg opened #97 "Decide on the Deployment Model"
Outlining various deployment models that allow the project to achieve its [goals](https://github.com/envoyproxy/gateway/blob/main/GOALS.md)

*CP = Control Plane*
*DP = Data Plane*

![EG Deployment Tradeoffs](https://user-images.githubusercontent.com/9469142/172480771-16ec3554-443c-432a-9399-22989d7ef112.png)

1. Combine CP and Envoy (DP) into a single deployment
* Similar to what is done in [Emiss

[2022-06-07 22:30] LukeShu commented on #76
[dlog](https://pkg.go.dev/github.com/datawire/dlib/dlog) is an interface solution that I'd advocate for (disclosure: I'm the original author). It is awfully similar to `logr`, but

1. Flattens `logr.FromContext(ctx).Info(msg)` to `dlog.Info(ctx, msg)`. It was our experience in Emissary/Edge Stack that while `ctx` was the "main" way to pass the logger around, because you had to extract the logger o

[2022-06-07 22:48] youngnick opened #98 "Set up software supply chain security"
This issue covers setting up a secure supply chain for all the software we provide, both for Kubernetes and non-Kubernetes use cases.

In particular, #83 has some setup for how we will push a container image to Docker hub, that we need to review to ensure that it works with securing our software supply chain.

[2022-06-08 02:13] #93 closed

[2022-06-08 08:14] basvanbeek commented on #76
I have taken a look at `dlog` and I would prefer `https://pkg.go.dev/github.com/tetratelabs/telemetry#Logger`.

Couple of reasons (also see my explanation on what telemetry/logger provides over `logr` as the same applies to `dlog`):
- A logger itself should not be passed along through context. Typically a log is bound to a library / package / section of your code and holds code point specific cont

[2022-06-08 13:22] alexgervais commented on #97
A couple of questions...

- In option 3, does the CP watch for a single GatewayClass (and all of its Gateway), or does it watch for all GatewayClass?
- Adding a provisioner to option 3, how would it be different to option 2?

And some thoughts...

- Aiming for simplicity, option 1 seems the easiest to secure, operate, "get started", and has the lowest friction for common operations like upgrades (

[2022-06-08 16:59] danehans opened #99 "Add Package Import Guidance to Contrib Guide"
The community has reached an impasse due to selecting packages/libraries that provide specific functionality. For example:
- Goroutine management ([oklog/run](https://github.com/oklog/run), [dgroup](https://pkg.go.dev/github.com/datawire/dlib/dgroup), [tetratelabs/run](https://github.com/tetratelabs/run)) [xref](https://github.com/envoyproxy/gateway/pull/87#discussion_r888692969)
- [Logging framew

[2022-06-08 17:36] arkodg commented on #75
CI for `envoyproxy/gateway-dev` is working. Here are the images https://hub.docker.com/r/envoyproxy/gateway-dev/tags. Keeping this issue open until the CI for release images is completed

[2022-06-08 17:57] danehans commented on #97
+1 for option #2. IMHO it strikes a balance between options 1 and 3 (simplicity and flexibility).

[2022-06-08 18:10] danehans commented on #71
@rahulanand16nov thanks for the additional context. I have set this issue to the backlog as the upcoming v0.2.0 will focus on core gateway/ingress functionality. This could be a feature that's considered for a follow-on release. See https://github.com/envoyproxy/gateway/issues/11#issuecomment-1126340096 for additional details. Is this a feature that you're willing to contribute in the future?

[2022-06-08 18:39] arkodg commented on #90
Based on the learnings from https://github.com/envoyproxy/gateway/pull/79
* Some tooling are maintained as a binary and not as a docker image
* The project should make it easier for the dev to run all make targets locally without having to manually install the prerequisite tools

Im in favor of 1
cc @envoyproxy/gateway-maintainers

[2022-06-08 23:24] arkodg opened #101 "Add a make help target"
`make help` can be a great starting point for developers working on the project to understand all various dev workflows options available to them

[2022-06-09 00:03] lizan commented on #97
Yeah agreed on 2 or 3. IMO they might not be different that much at the end, so we can start with 2 and potentially support 3 model in the future.

[2022-06-09 00:53] arkodg commented on #97
I think 2 & 3 are great long term solutions that allow the project to handle higher scale as well as consolidate multiple config classes /`GatewayClass`.
However I'd prefer if the project started with 1
* This would allow the initial phase of the project to concentrate on UX, ease of use and features
* This would add less operational burden on early users adopting this project who might need to up

[2022-06-09 02:30] youngnick commented on #97
I think that 1 is not a good idea. Although it *seems* like it's easier to manage, it adds big problems later once you're in prod, in that it's much harder to do upgrades without dropping traffic than if you can upgrade the control plane and data plane independently. This is why Contour moved from a single-Pod model like 1 to the split model it has today.

I am very against a multitenanted control

[2022-06-09 04:04] youngnick commented on #90
Yeah 1 sounds fine to me.

[2022-06-09 04:41] youngnick commented on #101
Contour's Makefile (https://github.com/projectcontour/contour/blob/main/Makefile) has a neat trick for doing this at the bottom.

[2022-06-09 04:43] youngnick commented on #96
I think that we should implement all of those best practices. We've done a lot of them in Contour (the page has been updated since I last looked), but they're all extremely good recommendations.

[2022-06-09 09:50] wilsonwu commented on #97
+1 on option 2, as same as Contour, it is OK for extension in future, because it is already compatible with option 1. And option 2+3 both fine and for more modes.

[2022-06-09 16:02] danehans opened #103 "Decision: Should Kube and Non Kube Be Two Separate Builds"
This issue comes from @youngnick comments in 6/9/21 [community meeting](https://docs.google.com/document/d/1leqwsHX8N-XxNEyTflYjRur462ukFxd19Rnk3Uzy55I/edit?usp=sharing):

"Should we consider building two version of EG, one for Kubernetes and one for non-Kubernetes? (With code reuse between them, of course). I’m writing a doc about what the install experience should look like for both options, and

[2022-06-09 16:24] shaneutt commented on #103
As someone who's interested in this project and would like to contribute I have honestly been left wishing for this kind of distinction (in fact I was almost kinda hoping that these efforts would even be separate repositories, perhaps sharing some libraries, but that's taking it to another level I suppose). I don't have any need of the non-kube use case (at least for the moment) so the thought had

[2022-06-09 17:09] arkodg commented on #103
hey @shaneutt supporting all [environments](https://github.com/envoyproxy/gateway/blob/main/GOALS.md#all-environments) is a core goal of the project with an initial focus on kube. The outcome of this issue should help add more clarity on internal k8s specific tasks and components as well as end user UX and arch.

from an end user intent perspective, the user could either specify the platform they

[2022-06-09 17:23] shaneutt commented on #103
:+1:

[2022-06-09 19:36] danehans commented on #103
I created a [brainstorming doc](https://docs.google.com/document/d/1bZAlFzuq1ivqUu_VlboaC_2XqZSoYgAOM6qdOh04kZg/edit?usp=sharing) to allow more freeform discussion on this topic. As we did in https://github.com/envoyproxy/gateway/issues/60, a summary and any agreed-upon outcomes should be surfaced in this issue before it is closed.

cc: @alexgervais @LukeShu @arkodg @youngnick @skriss

[2022-06-09 21:20] arkodg commented on #97
@youngnick could you please elaborate on this. AFAIK with 1, you would upgrade the DP as often as you would upgrade the CP. in 2 or 3, you _could_ upgrade the CP more often than the DP (since DP upgrade would be opt in). In both cases the design for hitless upgrades based on L3 LB health checks, [draining procedure](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/drainin

[2022-06-09 22:07] danehans commented on #97
xref https://github.com/envoyproxy/gateway/issues/103

[2022-06-09 23:23] youngnick commented on #97
It's not that people generally upgrade the things separately because they want to run different version - in Contour we pin a Contour version to only be supported with a particular Envoy version rather than a range, which I think EG should probably do too. It's the fact that changing out the CP and DP separately provides *operational* flexibility in that the change doesn't have to be atomic, and i

[2022-06-09 23:29] youngnick opened #105 "Decision: Shipping artifact structure"
As part of discussing #103, the community discussed how we should ship Envoy Gateway, in order to meet the "run on Kubernetes or not" part of the design. Actual decision records are ~bolded~ italicized.

*We agreed that the code paths for these two options should be largely separate because they are so different.*

We discussed whether that meant we should produce separate binaries or subcommands

[2022-06-09 23:34] youngnick opened #106 "Decision: Deployment models can differ based on platform"
During discussion in the community meeting of #103 and #105, we discussed whether the different platforms could or should have different deployment models, and came to an agreement that yes, they should.

*We decided that different platforms (Kube or non-Kube) can and should have different deployment models*.

This decision is not final until this issue has received maintainer votes in the form of

[2022-06-09 23:48] youngnick opened #107 "Decision: Config API structure and design"
As part of discussing #103, #105, and #106, we also discussed how we should design the configuration API.

Given that we think that everything will be subcommands in a single binary (#105), and that deployment models may be very different between platforms (#106), we believe that the best structure will be a structure with:

- a common core struct config, plus a `platform` union field. This common

[2022-06-10 00:33] arkodg commented on #107
* I'm in favor of the the high level decision of using a common [Bootstrap/Config](https://github.com/envoyproxy/gateway/blob/main/docs/design/SYSTEM_DESIGN.md#bootstrap-config) API for the `kube` and `local` subcommands and split up
* I would like us to broadly agree on the config hierarchy principles and how other common nouns would be placed.
We can tackle this here or in https://github.com/env

[2022-06-10 00:48] arkodg commented on #106
+1, `kube` and `local` platforms can have different deployment models to optimize for that platform

[2022-06-10 00:52] arkodg commented on #105
+1 for shipping a single binary, a container image packaged with the single binary, and representing the entry points for `kube` and `local` as subcommands within that same binary

[2022-06-10 18:08] danehans commented on #105
+1

+1

[2022-06-10 18:16] danehans commented on #106
+1 with the caveat of removing "should" and using "can".  Specifically, I would like to see:

"Envoy Gateway can run on different platforms, e.g. Kubernetes, Virtual Machines, etc. The deployment model for Envoy Gateway may differ based on the platform it runs on."

[2022-06-10 18:17] danehans commented on #106
@youngnick for this issue and others that require a decision, I think it's a good idea to capture the decision beyond just closing the issue. What do you think about updating the design doc with the decisions?

[2022-06-10 18:20] danehans commented on #105
xref https://github.com/envoyproxy/gateway/issues/106#issuecomment-1152619680 for capturing decisions in the design doc.

[2022-06-10 18:20] danehans commented on #107
xref https://github.com/envoyproxy/gateway/issues/106#issuecomment-1152619680 for capturing decisions in the design doc.

[2022-06-10 18:33] danehans commented on #107
IMHO `platform` is the top-level field that replaces `configSource`. However, let's not debate the field name in this issue. Let's move the discussion to https://github.com/envoyproxy/gateway/issues/29.

[2022-06-10 18:35] danehans commented on #107
+1 with the caveat of not defining the name of the union discriminator, e.g. `platform` here. As @arkodg [mentions](https://github.com/envoyproxy/gateway/issues/107#issuecomment-1151748791), let's resolve this detail in https://github.com/envoyproxy/gateway/issues/29.

+1 with the caveat of not defining the name of the union discriminator, e.g. `platform` here. As @arkodg [mentions](https://github

[2022-06-10 18:45] alexgervais commented on #105
+1

+1

+1

[2022-06-10 18:45] danehans commented on #70
xref https://github.com/envoyproxy/gateway/issues/97#issuecomment-1150602629 regarding how CP<>DP auth can be supported.

[2022-06-10 18:57] danehans commented on #97
This leads me to naming... the "Provisioner" is more than a provisioner. The "Provisioner" is more of a "Manager" or "Operator" that manages/operates the CP/DP.

Definitions:
- Provision- The action of providing or supplying something for use.
- Manage- The process of dealing with or controlling things or people.
- Operate- Control the functioning of (a machine, process, or system).

[2022-06-10 19:06] danehans commented on #97
+1 @LukeShu @alexgervais I would appreciate your vote on this too.

To add to https://github.com/envoyproxy/gateway/issues/97#issuecomment-1151707468, #2 better positions EG to support canary upgrades.

I am a +1 for option #2 as the EG Kube deployment model. @arkodg due to https://github.com/envoyproxy/gateway/issues/106, can you please update the name of this issue to reflect that this issue is

[2022-06-10 20:49] arkodg commented on #97
started a brainstorming doc [here](https://docs.google.com/document/d/1kTFe5c8x53RCZdi2GLUa5_uGzEPwM2-na-hjBdZcEgA/edit), please feel free to share any thoughts that'll have drive the decision

[2022-06-10 22:41] danehans commented on #105
@youngnick, et al. can you help me better understand the benefits of using separate subcommands to support different operating environments instead of using a CLI flag/config field? This is how I envisioned running EG on different platforms:

#### Run EG on Kube:
Using the `platform` flag:
[code]

Using the `platform` field of the config file:
[code]
The EG `start` subcommand will run the k8s cont

[2022-06-13 17:53] danehans commented on #107
The issue with a `union` type is that only one field can be set, whereas EG may get its runtime config from multiple sources, e.g. file and HTTP server (non-k8s environments). To continue with the [above example](https://github.com/envoyproxy/gateway/issues/107#issue-1266774032), I suggest pluralizing `platform` and validating the list to ensure only supported combinations are allowed. For example

[2022-06-14 05:38] youngnick commented on #106
Yes, either updating the design doc, or having a series of decision documents would be great. Probably, updating the design doc is better, so that there's a single source of truth.

[2022-06-14 05:49] youngnick commented on #107
I think that we need to keep in mind that there are really three things that we need to configure:
- How does Envoy (proxy) get provisioned and managed by Envoy Gateway? In Kubernetes, the provisioner will create Kubernetes objects etc. In non-Kubernetes deployments, I can think of a lot of things that could be done, but they all share the idea that they're going to do something on the machine whe

[2022-06-14 05:53] youngnick commented on #105
I think that what we will need to build is a little more nuanced than that, see https://github.com/envoyproxy/gateway/issues/107#issuecomment-1154744635 for a little more detail there.

To answer the question, I'm worried about code separation and complexity of testing. Subcommands enforce a strong separation all they way up to the `main.go` of the parent command, so it will be harder to have abst

[2022-06-14 16:15] alexgervais commented on #97
All things considered, I'd go with option 1, or a hybrid of 1 and 2 where the Proxy DP doesn't run in the same process/pod as the Gateway CP.

I do not want to add operational complexity and have the DP and CP version coupling drift, or even be a concern to the administrators. We should pin a single Envoy Proxy version per Gateway release and manage the DP lifecycle in the CP. The Kubernetes const

[2022-06-15 18:18] danehans commented on #107
The data plane (Envoy proxy) provisioning is based on EG's runtime [provider](https://github.com/envoyproxy/gateway/pull/95) configuration. If `runtimeconfig.spec.provider.kubernetes` is set (can be the default), the kube provider is used. The kube provider is implemented as a controller-runtime manager/controller that is responsible for provisioning/managing/operating the data plane infra using t

[2022-06-16 00:19] youngnick commented on #97
After the meeting yesterday, I'd summarize the state as follows: All the maintainers present were broadly in agreement that we should go with something roughly like model #2 in https://github.com/envoyproxy/gateway/issues/97, but there are two further options about exactly how it will work, essentially the Arko proposal and the Nick proposal.

Arko and I have written a small doc about what these t

[2022-06-16 00:19] youngnick commented on #97
I am +1 for Option A.

[2022-06-16 00:22] arkodg commented on #97
+1 for Option B

[2022-06-16 00:22] youngnick commented on #97
Could I please ask all maintainers to cast binding votes on this issue before next Monday, 9am PST? That's @youngnick, @arkodg, @danehans, @skriss, @alexgervais, @LukeShu. At that time, we'll count up the existing votes and call this issue resolved.

We can also discuss at tomorrow's meeting if people have more questions.

Non-binding votes from other community members are definitely welcomed.

[2022-06-16 20:06] danehans commented on #97
I am leaning towards Option B but I'm waiting to cast my vote until one issue is resolved.

My reasoning for leaning towards Option B:
1. Provides choice- Users can choose to use the operator or not. Some users may use in-house tooling to manage EG or simply `kubectl apply -f quickstart.yaml`. Although the operator will be used commonly for production environments, I expect most developers to not

[2022-06-16 22:18] LukeShu commented on #97
I honestly don't have a strong opinion between the two.

[2022-06-16 22:41] skriss commented on #32
Reassigned to @arkodg

[2022-06-16 22:53] arkodg commented on #97
SGTM

[2022-06-17 14:15] alexgervais commented on #97
+1 on option B, with the caveat highlighted by @danehans.

[2022-06-17 15:27] skriss commented on #97
+1 for Option A, I prefer the functional split. Also, given that we're most likely going to end up with an `envoy-gateway-system` namespace where all the CP/DP are deployed (since they correspond to a GatewayClass which is a cluster-scoped resource), the RBAC concerns are minimized.

[2022-06-17 21:52] lizan commented on #97
+1 for Option B, also note that A isn't really a clean functional split as the Envoy provisioning involves bootstrap configuration which is basically an xDS handling. There will be requests to customize that part as well, as we've seen that in the past in Istio.

[2022-06-20 05:37] youngnick commented on #97
Out of our six binding votes, that puts us at:
- Option A : 2, @youngnick and @skriss
- Option B : 2, @alexgervais and @arkodg
- Abstain : @LukeShu
- Undecided : @danehans

Looks like the decision is up to you, @danehans.

[2022-06-20 14:22] #97 closed

[2022-06-21 01:30] youngnick commented on #70
I think the relevant part of that comment is:

I think that Contour's solution here is pretty great (maybe I'm biased, lol), and will work well to allow secure xds-server <-> Envoy comms no matter what provider is in use (although for things that use localhost only, we can probably skip TLS).

[2022-06-21 08:16] bryanasdev000 opened #116 "Public Slack Channel"
Hey folks, I hope everyone is well.

I was wondering if the project already have a public Slack channel, I did a quick search but all links redir to https://envoyproxy.slack.com/archives/C03E6NHLESV , which blocks emails that are not in lfyt or linuxfoundation domains.

Thanks in advanced.

[2022-06-21 14:00] alexgervais commented on #116
Hi @bryanasdev000, nice catch!
Going to https://envoyproxy.io/slack should allow you to register. Does it work for you?
Let me know, and I'll update the README accordingly.

[2022-06-21 14:05] bryanasdev000 commented on #116
Nope, I get "The email address must match one of the domains listed below. Please try another email."

Which is lyft.com and linuxfoundation.org.

[2022-06-21 14:06] bryanasdev000 commented on #116
![Screenshot from 2022-06-21 11-06-09](https://user-images.githubusercontent.com/53131727/174819645-d594ef1f-8981-4b0f-a11c-cf3953b08b41.png)

[2022-06-21 16:36] danehans opened #117 "Add Support for Config Through CLI Args and Env Vars"
https://github.com/envoyproxy/gateway/pull/111 specifies that EG will only be configured through a config file. This is a tracking issue to capture requirements for adding CLI args and possibly env var support for configuring EG.

[2022-06-22 12:54] alexgervais commented on #116
@lizan, @danehans, would you be able to help? Something looks odd with Envoy's Slack configuration.

[2022-06-22 21:29] lizan commented on #116
cc @mattklein123

I don't have admin access to Slack, seems the register link in Envoy repo doesn't allow outside registration either.

[2022-06-22 21:57] mattklein123 commented on #116
The link probably expired. I will fix it. Such a PITA.

[2022-06-23 14:31] mattklein123 commented on #116
Should be fixed soon. https://github.com/envoyproxy/envoy-website/pull/259

[2022-06-23 14:31] #116 closed

[2022-06-24 22:26] danehans opened #119 "Define IR Validation Rules"
https://github.com/envoyproxy/gateway/pull/115 defines the initial IR of Envoy Gateway. However, many of the API fields do not express what values are considered valid. The IR should be updated to express validation rules of fields.

[2022-06-25 00:18] danehans commented on #88
After https://github.com/envoyproxy/gateway/pull/95 is merged, TLS config will need to be added.

[2022-06-25 05:50] bryanasdev000 commented on #116
Sorry for the delay, can confirm that's working, thanks!

[2022-06-27 08:38] fubhy commented on #88
We do exactly what OP described (for the exact same reasons [to benefit from Cloudflares strong DDoS, bot detection, machine learning, etc.] for a custom gRPC API using Cloudflares Origin Pulls mTLS setup with the API (and our custom Envoy front proxy setup) hosted on fly.io. Good to see that others are doing similar setups and I'd love to see this as an Envoy Gateway example.

[2022-06-27 16:25] danehans commented on #106
@youngnick I'm closing now that #111 has merged. Feel free to reopen if needed.

[2022-06-27 16:25] #106 closed

[2022-06-27 16:28] danehans commented on #103
closing due to #111 that provides details of the agreed-upon EG design.

[2022-06-27 16:28] #103 closed

[2022-06-27 16:33] danehans commented on #103
Note: An EG release will include a Docker image and a bin artifact.

[2022-06-27 16:35] danehans commented on #99
Closing since https://github.com/envoyproxy/gateway/pull/100 was not reviewed as an approach to resolving this issue. I will reopen the issue if needed.

[2022-06-27 16:42] danehans commented on #105
#111 fixes this issue. #95 provides additional supporting details of the config API.

We agreed that EG will have a single entrypoint. An operator can be considered in the future for managing EG. As #111 states, EG (control plane) will manage the Envoy proxy fleet (data plane).

This N/A since  EG will have a single command entrypoint, i.e. `start`.

EG release artifacts will consist of a Docker i

[2022-06-27 16:42] #105 closed

[2022-06-28 00:33] daixiang0 commented on #85
https://github.com/envoyproxy/gateway/tree/main/tools/yamllint created, I think it can be closed.

[2022-06-28 01:39] lianghao208 commented on #85
@daixiang0 We need to add YAML directories as args for YAML linter in Makefile:
https://github.com/envoyproxy/gateway/blob/main/Makefile.targets.mk#L58
This issue can be closed after the YAML directories have been determined and the directories args has been added into Makefile.

[2022-06-28 01:53] daixiang0 commented on #85
Oh, I misunderstand the dir for.

[2022-06-28 21:34] #107 closed

[2022-06-28 22:16] danehans commented on #90
xref: https://github.com/envoyproxy/gateway/pull/122 for reopening this issue. I find supporting native (mac/linux) + Docker dev envs to be painful.

[2022-06-28 22:17] youngnick commented on #90
We discussed in the community meeting that we're going to change this decision to using locally installed tooling only.

Maintainers, please cast binding votes here with a comment or react on this comment. Non-binding votes are also welcomed.

[2022-06-28 22:21] danehans commented on #90
+1 to using locally installed tooling only.

[2022-06-28 22:38] danehans opened #124 "Remove Docker Dev and CI Option"
https://github.com/envoyproxy/gateway/issues/90#issuecomment-1169338289 vote passed to remove MAKE_IN_DOCKER as a dev/CI option. Dev/CI should be done locally.

[2022-06-28 23:04] lizan commented on #124
The biggest drawback is GitHub actions CI image is on rolling update basis and it contains many tools that might be accidentally pulled in the build flow without documentation. Also we will loose track what was used at the time a release is built.
So perhaps we should revisit it before the next release.

[2022-06-28 23:09] danehans commented on #124
Yes, let's revisit.

[2022-06-29 00:58] daixiang0 commented on #90
The dev/CI container provides a complete environment for development, which is easy for developers.

If we remove this, developers need to install those tools by hand, which is not easy for dev isolation(some tools may be used in other projects but different versions).

I agree that running in containers may be slow, maybe we can add `.tool` and provide tool installation target for it, that would

[2022-06-29 00:59] daixiang0 commented on #124
@danehans what do you think about https://github.com/envoyproxy/gateway/issues/90#issuecomment-1169425379, if accepted I will process it.

[2022-06-29 17:40] danehans opened #127 "Auto Collapse Generated Files"
Add a .gitattributes to root so auto-generated files are collapsed in GitHub reviews.

xref: https://github.com/envoyproxy/gateway/pull/122

[2022-06-29 23:48] youngnick commented on #90
As it stands, we have a majority of binding votes in favor of proceeding with locally installed tooling only. I appreciate that this is a contentious decision, but I think our time is better spent on actually getting a functional Envoy Gateway first, and worrying about optimizing the development experience later.

Like any decision, this one is not final, and we can revisit it later, but I think t

[2022-06-29 23:48] #90 closed

[2022-07-01 04:22] Jayden-onl commented on #76
Hi, guys.
I wrote a logging library: [https://github.com/forgoes/logging](https://github.com/forgoes/logging)
Quicker than Zap, ZeroLog. Benchmark here: [https://github.com/forgoes/benchmark-logging](https://github.com/forgoes/benchmark-logging)
Actually, a logging system is a stream handling system.
My logging library's feature:
1. quick quick quick;
2. stream-oriented processing;
3. parent-child

[2022-07-05 17:32] danehans commented on #50
https://github.com/envoyproxy/gateway/issues/51 defines the initial config APIs for control and data planes.

[2022-07-05 17:32] #50 closed

[2022-07-05 21:52] arkodg opened #138 "Implement make target for multi arch image build"
Implement the TODO here https://github.com/envoyproxy/gateway/blob/2429e811e415cca748e0f1895e1472076aa879ef/tools/make/image.mk#L41

here's how envoy does it
https://github.com/envoyproxy/envoy-build-tools/blob/main/build_container/docker_build_linux.sh

[2022-07-06 02:21] daixiang0 opened #140 "Image build failed"
The build log:
[code]

[2022-07-06 21:33] youngnick commented on #76
After discussing in the community meeting yesterday, I'd like to propose that we move forward with using the `logr` interface for now, with some definition around the usable log levels to address @basvanbeek's concerns.

Can maintainers please cast binding votes here with either reactions or comments, and as always non-binding votes are welcomed.

[2022-07-07 03:21] youngnick opened #143 "Decision: Decide and record voting mechanisms"
We've had a few issues and decisions recently which have not ended up in consensus, so I think it's time for us to write down our interim voting process.

I propose the following, to be effective until we have an actual releasable thing, (that is, at least until we release v0.2.0).

* For decisions that need a record, we create an issue.
* In that issue, we discuss opinions, then a maintainer can

[2022-07-07 03:24] youngnick opened #144 "Decsiion: Mechanisms for adding and removing maintainers"
Once we've resolved #143 and have agreed on a voting mechanism, we need to write down the process for adding (and removing, but adding is more relevant) maintainers.

What are the criteria for becoming a maintainer?
What's the process?
Under what circumstances should a maintainer be removed?
What's the process there?

[2022-07-07 03:31] youngnick commented on #144
I propose this (we used something similar on Contour):
- maintainers must have been an active contributor across a longer period. "Active contributor" is intentionally left vague here until we have more maintainers and experience.
- Prospective maintainers must be nominated by creating an issue, which can be either by themselves, or another person. If nominated by another person, the prospective m

[2022-07-07 03:40] youngnick commented on #98
I've started looking into this, and it seems like the easiest way to do this actually involves setting up goreleaser, and then using https://github.com/slsa-framework/slsa-github-generator to generate the provenance information.

There's even a new Github action (described in https://slsa.dev/blog/2022/06/slsa-github-workflows) that can handle provenance generation.

That will mean moving our buil

[2022-07-07 03:49] youngnick commented on #98
There are other options as well - `ko` can already generate an SBOM, which is a key part of fulfilling SLSA level 3, but it seems like the github generator above would be the fastest.

[2022-07-07 03:52] youngnick commented on #98
I'm going to spend some more time talking to some of the folks involved in the various projects, and see what they recommend and what's the most complete. A lot of this is still either very new or still being built, but I think that's another reason why us implementing it will be useful for others.

[2022-07-07 19:31] #140 closed

[2022-07-07 21:36] youngnick commented on #76
We discussed this in the community meeting today and agreed that we'll proceed with `logr` interface for now.

[2022-07-07 21:36] #76 closed

[2022-07-07 22:37] arkodg opened #147 "Design and Implement Initial Status Controller"
Tracks the design and implementation of the component that aggregates and writes out the [Status](https://github.com/envoyproxy/gateway/pull/129/files) field to the API server for the [Gateway API](https://gateway-api.sigs.k8s.io) resources  as well as the[ CRDs defined by EG](https://github.com/envoyproxy/gateway/tree/main/api/config/v1alpha1)

[2022-07-08 00:32] #138 closed

[2022-07-08 01:35] arkodg commented on #76
Looking at https://github.com/envoyproxy/gateway/pull/146 I see the usage of https://github.com/go-logr/logr . Major downsides I notice are
* the inability to do component level scoping (envoy supports [this](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-component-log-level))
* passing the log object around/saving it in some context adding more burden on app devs
it does mak

[2022-07-08 08:01] #13 closed

[2022-07-08 08:01] #19 closed, assigned to nobody

[2022-07-08 08:02] #23 closed

[2022-07-08 08:02] #30 closed, assigned to nobody

[2022-07-08 08:02] #62 closed, assigned to nobody

[2022-07-11 00:07] #60 closed

[2022-07-12 19:08] danehans commented on #43
Fixed by https://github.com/envoyproxy/gateway/pull/146

[2022-07-12 19:09] #51 closed

[2022-07-12 19:11] danehans commented on #39
Fixed by https://github.com/envoyproxy/gateway/pull/123

[2022-07-12 19:11] #39 closed

[2022-07-12 19:17] danehans commented on #35
The service resolver is currently the responsibility of a provider. I'm moving this issue to the backlog for now.

[2022-07-12 19:19] danehans commented on #38
https://github.com/envoyproxy/gateway/pull/145 resolves the design-portion of this issue.

[2022-07-12 19:27] danehans commented on #29
https://github.com/envoyproxy/gateway/pull/146 resolves this issue.

[2022-07-12 19:27] #29 closed

[2022-07-13 01:12] #124 closed

[2022-07-15 00:27] youngnick commented on #92
Reopening this one because we've had something come up.

In building out Envoy Gateway, we're lifting reasonably large chunks of code from other projects (mainly Contour at the moment, but probably others as well soon), so we need to ensure we're abiding by the Apache license from those projects, which requires code attribution.

Because the attribution will only be in *some* files, it makes sense

[2022-07-15 00:43] arkodg commented on #147
based on today's community meeting, it was decided that the Status Controller will be remain part of the Provider component for now (in v0.2.0) since the Status Controller is specific to Kubernetes for now. We can consider abstracting out the Status Controller into a platform agnostic component once we start supporting more Providers (such as File) in the future

[2022-07-15 17:18] skriss commented on #65
I can work on getting the Gateway API conformance tests running in CI so as soon as we have something integrated, we can start running tests against it. I'll file a specific issue for it.

[2022-07-15 19:57] skriss commented on #92
I'm not an expert here, but perhaps something like the following is sufficient? Would be much easier than having to do things file-by-file.

https://infra.apache.org/licensing-howto.html#example-notice
https://github.com/apache/httpd/blob/trunk/NOTICE

[2022-07-15 20:24] skriss opened #157 "Run Gateway API conformance in CI"
Gateway API conformance tests should run as part of CI, to serve as our end-to-end testing. We should run the set of tests that are included in the Gateway API release that we're using (currently v0.5.0). Initially we'll want these to be non-blocking as we work towards a conformant implementation, but eventually they should be merge-blocking.

xref. #65

[2022-07-15 21:15] skriss opened #158 "add support for request header modifier filter"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRequestHeaderFilter

Needed for core conformance.

[2022-07-15 21:16] skriss opened #159 "add support for request redirect filter"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRequestRedirectFilter

Needed for core conformance.

[2022-07-15 21:17] skriss opened #160 "add support for ReferenceGrant"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.ReferenceGrant

Needed for core conformance.

The implementation should cover:
- Listener->Secret TLS certificate refs
- HTTPRoute->Service backend refs

[2022-07-15 21:17] skriss opened #161 "add support for HTTPS protocol/TLS termination"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.GatewayTLSConfig

Needed for core conformance.

[2022-07-15 21:20] skriss opened #162 "return 500's for invalid HTTPRoute backend refs"
There is a set of rules around how to handle 1+ invalid backend refs on an HTTPRoute that generally involve returning 500 responses for any invalid backends. This needs to be implemented properly.

https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteRule (see backendRefs).

Needed for core conformance.

[2022-07-15 21:48] danehans opened #163 "Add HTTPRoute Controller"
*Description*:
Add initial httproute controller and unit tests to the Kubernetes provider.

[optional *Relevant Links*:]
The implementation should follow [Contour's implementation](https://github.com/projectcontour/contour/blob/main/internal/controller/httproute.go), and be consistent with the existing Kube provider [controllers](https://github.com/envoyproxy/gateway/tree/main/pkg/provider/kuberne

[2022-07-15 22:06] danehans opened #165 "Add Gateway Status Support"
*Description*:
Add initial support for gateway status.

Depends on:

https://github.com/envoyproxy/gateway/pull/150
https://github.com/envoyproxy/gateway/pull/164

[optional *Relevant Links*:]
The implementation should follow [Contour's implementation](https://github.com/projectcontour/contour/blob/main/internal/status/gatewaystatus.go), and be consistent with the existing Kube provider [controlle

[2022-07-15 22:32] danehans opened #166 "Manage ObservedGeneration of GatewayClass Status"
*Description*:
Pass spec.generation to newCondition(), so status.observedGeneration can be set.

[optional *Relevant Links*:]
Requires: https://github.com/envoyproxy/gateway/pull/150

[2022-07-18 22:06] #147 closed

[2022-07-19 07:33] youngnick commented on #40
Oops, I didn't do an update here.

I have a prototype branch that implements the xds-server, with a test command for exercising it, that supports both incremental and sotw xDS. I'm in the process of cleaning it up (turns out that go-control-plane expects a specific logging interface which `logr` does not provide, sigh), but expect to have a PR soon.

[2022-07-19 17:26] skriss commented on #161
I am working on Terminate TLS mode.

[2022-07-19 18:17] skriss opened #168 "add support for TLSRoute / TLS listener protocol / TLS passthrough"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.ProtocolType
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.TLSModeType
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.TLSRoute

[2022-07-19 22:35] skriss commented on #92
Also reading https://github.com/cncf/foundation/blob/main/license-notices.md which was linked from #134, which has some guidance (unfortunately it's more file-by-file).

[2022-07-20 20:03] skriss commented on #160
I propose that we _only_ support `ReferenceGrant`, not `ReferencePolicy`, since the latter will be going away soon and the former should be promoted to beta in the next release.

[2022-07-20 20:13] skriss opened #171 "test flake in gatewayclass tests"
https://github.com/envoyproxy/gateway/runs/7434295389?check_suite_focus=true#step:5:71

Looking quickly, looks like in tests like https://github.com/envoyproxy/gateway/blob/main/internal/provider/kubernetes/kubernetes_test.go#L115-L125 we probably need to move the check on Conditions into the require.Eventually.

@danehans can you check this out since you're more familiar with these?

[2022-07-20 21:38] #161 closed

[2022-07-20 21:50] danehans opened #173 "Internal Metadata API"
*Description*:
Design an internal metadata API used by all IR objects. Potential use cases:
1. Used to reference the external object(s) that were used to create the IR object.
2. Others?

[optional *Relevant Links*:]
https://github.com/envoyproxy/gateway/issues/119
https://github.com/envoyproxy/gateway/issues/32

[2022-07-21 06:37] youngnick commented on #70
Not stale, just backlogged.

[2022-07-21 19:47] skriss commented on #171
I'll grab this.

[2022-07-21 20:31] #171 closed

[2022-07-21 20:31] #160 closed

[2022-07-21 20:44] danehans commented on #117
Closing since https://github.com/envoyproxy/gateway/pull/146 added an initial arg for specifying the path to the config file.

[2022-07-21 20:44] #117 closed

[2022-07-25 06:14] youngnick commented on #92
Yes, rereading that license-notices file, it seems clear that we have to bring in any copyright notices from files where we've imported significant code (Contour being the main example for now), and also include "the function was sourced from x" as well.

Because of this, I think that the simpler licensing method that Envoy Proxy uses won't work for this repo. There's too much license complexity t

[2022-07-26 21:49] #119 closed

[2022-07-27 05:20] daixiang0 commented on #127
Fixed by #128

[2022-07-27 05:46] #127 closed

[2022-07-28 00:09] youngnick opened #177 "xDS Server automated testing"
*Description*:

#176 introduces an `xdstest` command, which instantiates an xDS server to perform manual testing against. This issue covers work to turn this into an automated test that can be run by CI or locally.

The largest part of this work is that it will require an xDS client test library that supports:
- connecting to an xDS server
- accepting updates
- Comparing the updates to an expected

[2022-07-28 00:49] zirain commented on #96
@danehans this need a  `help wanted`?

[2022-07-28 18:02] danehans commented on #177
xref: https://github.com/miekg/xds as xds client prior art.

[2022-07-29 15:12] skriss commented on #165
Note that much of this is already implemented in https://github.com/envoyproxy/gateway/blob/main/internal/gatewayapi, but there may be some additional infra-related status items that need to be computed.

[2022-07-29 15:28] #40 closed

[2022-07-29 16:54] danehans opened #180 "Document Delete Workflow"
The [design doc](https://github.com/envoyproxy/gateway/blob/main/docs/design/SYSTEM_DESIGN.md) details how Envoy Gateway (EG) translates Gateway API objects into Envoy configuration and infrastructure. However, the document does not detail how EG handles the opposite workflow. What happens when a user deletes the Gateway API objects are deleted?

[This doc](https://docs.google.com/document/d/1WXF4

[2022-07-29 18:28] danehans commented on #180
@envoyproxy/gateway-maintainers I completed the first draft of the doc. PTAL and provide comments in the doc as needed.

[2022-07-29 22:13] danehans opened #182 "Convert Manager Struct to Interface"
Convert the infra `Manager` struct into an interface. This should be done when additional infra providers are supported. Have all providers implement the interface.

xref: https://github.com/envoyproxy/gateway/pull/178#discussion_r932701218

[2022-08-01 17:48] danehans opened #184 "Add IPv4/IPv6 Dual Stack Support"
Currently, EG only supports IPv4. For example, an Infra IR proxy listen address represents an IPv4 address. The code should be audited for IPv4-ism's and updated to support a dual-stack IPv4/IPv6 environment properly.

xref: https://github.com/envoyproxy/gateway/pull/183#issuecomment-1201507246

https://kubernetes.io/docs/concepts/services-networking/dual-stack/

[2022-08-01 18:04] danehans opened #185 "Add Envoy Deployment Support"
https://github.com/envoyproxy/gateway/pull/178 introduced the Kubernetes Infra Manager and manages the Envoy `ServiceAccount`. Support should be added for managing the Envoy `Deployment`.

[2022-08-01 18:05] danehans opened #186 "Add Envoy Service Support"
https://github.com/envoyproxy/gateway/pull/178 introduced the Kubernetes Infra Manager and manages the Envoy `ServiceAccount`. Support should be added for managing the Envoy `Service`.

[2022-08-02 14:16] danehans opened #187 "Translate Gateway API Resources into the Infra IR"
The Resource Translator translates external resources into the IR. Currently, the translator only translates these resources into the Xdds IR. The translator should also translate the external resources into the Infra IR.

[2022-08-02 14:16] danehans commented on #187
xref: https://github.com/envoyproxy/gateway/issues/32

[2022-08-02 17:40] danehans commented on #32
The initial Xds and Infra IRs have been developed so I'm closing this issue.

[2022-08-02 17:40] #32 closed

[2022-08-02 17:41] danehans commented on #63
The initial CI environment has been created so I'm closing this issue.

[2022-08-02 17:41] #63 closed

[2022-08-02 17:43] danehans commented on #64
Initial unit and integration tests have been created for all components other than the Xds server. https://github.com/envoyproxy/gateway/issues/177 tracks the need for Xds server unit/integration tests, so I'm closing this issue.

[2022-08-02 17:43] #64 closed

[2022-08-02 17:46] danehans commented on #73
Closing as all linters have been added.

[2022-08-02 17:46] #73 closed

[2022-08-02 17:48] danehans commented on #74
Moving this to backlog since codecov was added but coverage #s are not required.

[2022-08-02 18:02] danehans commented on #75
Per https://github.com/envoyproxy/gateway/issues/75#issuecomment-1150204451, this issue is resolved.

[2022-08-02 18:02] #75 closed

[2022-08-02 18:10] danehans commented on #85
@lianghao208 the current yaml dirs are:

https://github.com/envoyproxy/gateway/tree/main/internal/provider/kubernetes/config
https://github.com/envoyproxy/gateway/tree/main/internal/provider/testdata/in
https://github.com/envoyproxy/gateway/tree/main/internal/envoygateway/config/testdata/decoder/in
https://github.com/envoyproxy/gateway/tree/main/internal/gatewayapi/testdata

Are you able to submit

[2022-08-02 18:27] skriss commented on #157
I've got much of this ready, but blocked for now until we have a functioning binary & YAML manifest.

[2022-08-02 23:12] arkodg opened #189 "Add Service Watch to HTTPRoute Controller"
*Description*:
Add a Service controller to the Kubernetes Provider package similar to the [HTTP Route Controller](https://github.com/envoyproxy/gateway/pull/179) that will be needed by the [Gateway API Translator](https://github.com/envoyproxy/gateway/blob/c83b7b04530f1cbdeb4e9596d0781eb8a2e1317b/internal/gatewayapi/translator.go#L23)

[optional *Relevant Links*:]

[2022-08-03 01:57] lianghao208 commented on #85
Sure, I am working on it, thanks for the reminder.

[2022-08-03 02:47] danehans commented on #189
The Kube provider should not need a service controller. Since Services are a dep of HTTPRoutes, the httproute controller should include a watch for services. When a service is CRUD'ed, an HTTPRoute reconciliation will be triggered by the httproute controller. The controller should get/list the necessary objects, e.g. Gateways, Services, etc required to call the translate func or pub the translate

[2022-08-03 19:08] danehans commented on #55
Items to doc:
- Envoy version
- Gateway API version
- Kube version(s0 (for Kube provider).

The above should be based on the versions used/tested by EG.

[2022-08-03 20:06] skriss opened #192 "mapping scheme from Service ports to ports that Envoy listens on"
We'll need to sort out how ports on the service map to ports that Envoy listens on. Right now they're 1:1, but I imagine inside the Envoy container we'll want to listen on e.g. 8080/8443, and then have the Service map 80->8080 and 443->8443. However, since we need to handle arbitrary ports, not just those two, we'll need some kind of mapping scheme. I'll file an issue for this.

_Originally posted

[2022-08-04 21:45] #41 closed

[2022-08-04 21:51] #85 closed

[2022-08-04 21:56] danehans commented on #165
All kube provider controllers need to write status back to kube API.

[2022-08-05 03:32] youngnick commented on #92
Okay, I've done a more in-depth reading of the CNCF license notice page, and, _because we expect this project to reuse a lot of code_, I suggest the following:
- We have two lines at the top of every file, one with an [SPDX](https://spdx.dev/ids/) license string referencing the Apache 2.0 license, and one with a `Copyright Envoy Gateway authors` or similar.
- For files includes from other projects

[2022-08-05 18:41] #34 closed

[2022-08-05 18:41] #38 closed

[2022-08-09 21:39] kflynn commented on #17
I'll take this on, although it seems not possible to assign me right now. 😂

[2022-08-09 21:40] danehans commented on #17
@mattklein123 @phlax @lizan I'm unable to assign @kflynn to the issue. Can someone advise?

[2022-08-09 21:42] danehans commented on #55
@flynn has volunteered to take this on. @lizan @mattklein123 @phlax I'm unable to assign @flynn.

[2022-08-09 21:43] danehans commented on #55
xref #17

[2022-08-09 21:50] danehans commented on #165
Although the resource translator can handle status updates, something still needs to `Update()` using kube client.

[2022-08-09 22:03] danehans opened #198 "Update Community Meeting Time"
The community meeting currently has the following issues:

1. Is longer than most OSS meetings.
2. Overlaps every other week with the GAMMA community call.
3. Is not friendly for all time zones.

[2022-08-09 22:06] danehans commented on #198
I suggest we change the meeting length from 2 hours to 1 hour.

This is a difficult issue to resolve while supporting AUS and EST timezones. Moving the meeting to 4:00 PT is late for EST and any earlier is bad for AUS. One option is to move the Tues meeting to 9:00 AM PT which resolves 2 and 3 but then we lose AUS. Thoughts?

[2022-08-09 22:56] mattklein123 commented on #17
I added explicit read access for the assignable team. I think that fixed it. Assigned.

[2022-08-10 16:14] danehans commented on #43
Reopened by https://github.com/envoyproxy/gateway/pull/197

[2022-08-11 15:31] danehans opened #199 "Should we add gatewayapi/helpers.go to coverpkg?"
Do we want to add `gatewayapi/helpers.go` to `-coverpkg=./...` so that it doesn't matter which package the tests belong to when counting coverage?

xref: https://github.com/envoyproxy/gateway/pull/196#issuecomment-1211092656

[2022-08-11 17:56] #187 closed

[2022-08-12 23:45] danehans opened #201 "Add Bootstrap Config to Envoy Deployment"
https://github.com/envoyproxy/gateway/pull/200 added initial support for deploying Envoy. However, this PR did not include creating Envoy's bootstrap config. A solution should be added for provisioning the bootstrap config as part of the Envoy deployment.

[2022-08-12 23:48] danehans commented on #201
@youngnick I see that Contour uses an init container to manage the bootstrap config. What is the reason why a configmap containing the bootstrap config can't simply be mounted to the Envoy container?

[2022-08-16 00:52] kflynn commented on #17
Thanks @mattklein123! #203 is a bare-bones first cut here.

[2022-08-16 18:00] #185 closed

[2022-08-16 18:35] danehans commented on #201
xref https://github.com/projectcontour/contour/issues/1

[2022-08-16 21:44] youngnick commented on #201
I think that there were a couple of reasons:
- We had some information that needed the pod to be up before we could generate the bootstrap (although I can't recall what that is). I think this one is mitigated in the Envoy Gateway case by the fact that we're controlling the whole creation process.
- We wanted not to have any secret stuff in the bootstrap visible in the cluster. I think that there's

[2022-08-16 22:05] youngnick opened #204 "Update Gateway API Implementations page with Envoy Gateway details"
*Description*:
Gateway API has an [Implementations Page](https://gateway-api.sigs.k8s.io/implementations/) page, we should list Envoy Gateway on there.

This issue covers adding a listing there that covers we are working on EG, we will update as part of releasing v0.2.0 final.

[2022-08-16 22:20] danehans commented on #65
v0.2.0 will focus on httproute conformance, e.g. not tlsroute, tcproute, etc. @kflynn we should make sure the docs state this.

xref https://github.com/envoyproxy/gateway/issues/17

[2022-08-16 22:23] danehans commented on #201
Help wanted to either update take either of the following approaches to manage the bootstrap config:
1. Add the bootstrap config cli arg to the Envoy deployment.
2. Manage a configmap that holds the bootstrap config and mount the configmap to the envoy deployment.

[2022-08-16 22:58] AliceProxy commented on #159
I'd like to try my hand at taking this one on.

[2022-08-17 21:16] #186 closed

[2022-08-17 21:27] danehans commented on #70
FYI @arkodg I'm going to take this work on.

[2022-08-19 18:12] NomadXD commented on #24
@youngnick What Policy APIs you are referring here ? Kubernetes Gateway API policy attachment ? https://gateway-api.sigs.k8s.io/references/policy-attachment/

[2022-08-19 22:30] arkodg opened #209 "Which GatewayClass resources should be stored by the provider"
*Description*:
Should the provider components only save the accepted GatewayClass resource or should it save all the GatewayClass resources as pass that information to the next translation layer (gatewayapi translator)

Relates to https://github.com/envoyproxy/gateway/pull/197#discussion_r950518530

[2022-08-20 18:35] danehans opened #210 "Use ConfigMap to Manage Bootstrap Config"
https://github.com/envoyproxy/gateway/pull/206 addes bootstrap config support through the [config-yaml](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-config-yaml) arg. Args have a 4k size limit that may cause EG to fail at start-up in the future. Refactor bootstrap config management to use a configmap.

[2022-08-20 18:44] danehans opened #212 "Expose Additional Bootstrap Config Options"
With https://github.com/envoyproxy/gateway/pull/206, only the Xds server address is configurable. The Xds server port and admin add/port should also be configurable.

[2022-08-21 17:48] NomadXD commented on #212
@danehans Can I work on this ? New contributor here :-)

[2022-08-21 18:49] danehans commented on #212
Go for it. Note that PR #206 is required so either cherry-pick the PR or wait for it to merge.

[2022-08-22 16:21] arkodg opened #213 "Add a `gen-check` make target"
*Description*:
Add a `gen-check` make target and add it to the CI to ensure that the PRs include all the auto generated diffs as part of the commit

[2022-08-22 20:23] danehans opened #214 "Runners Require Nil Check"
#197 connects EG components using the [watchable](https://pkg.go.dev/github.com/telepresenceio/watchable) library. Since [ProviderResources](https://github.com/envoyproxy/gateway/blob/main/internal/message/types.go#L14-L22) contain pointer slices, the elements may be nil. Runners should check for nil pointers.

[code]

[2022-08-22 20:45] danehans opened #215 "HTTPRoute Resources Should Not Be Required for the Gateway API Runner"
https://github.com/envoyproxy/gateway/pull/197 connects EG components using the [watchable](https://pkg.go.dev/github.com/telepresenceio/watchable) library. The gateway API runner requires gatewayclass, gateway, and httproute resources to be received over the snapshot channel to translate resources to the IR. However, httproute resources are not needed for the infra IR.

xref: https://github.com/e

[2022-08-22 21:23] arkodg opened #218 "Generate DeepCopy methods for XdsResources"
*Description*:
* Address the comment in https://github.com/envoyproxy/gateway/blob/603e2a3ea048f405640f8278f8897baf7261f419/internal/xds/types/resourceversiontable.go#L10 which requires us to add DeepCopy() methods needed by the watchable package.

* adding the `+k8s:deepcopy-gen=true` tag and running `make generate` fails to generate the methods/file
[code]

* Add a unit test similar to https://g

[2022-08-22 21:37] danehans opened #219 "Add Support for Gateway Ready Condition"
https://github.com/envoyproxy/gateway/pull/205 adds initial gateway status support by managing the "Scheduled" condition. The [Ready](https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.0/apis/v1beta1/gateway_types.go#L551-L594) condition should also be managed so users know when a Gateway, e.g. managed Envoy fleet, is ready to pass traffic.

[2022-08-22 22:28] arkodg opened #220 "Fix flaky TestProvider testcase"
*Description*:
Seeing `make go.test.coverage` sometimes fail in  `TestProvider`

[code]
Raising this issue to track and fix this

Failed run https://github.com/envoyproxy/gateway/runs/7962066333?check_suite_focus=true

[2022-08-23 00:19] danehans commented on #212
@NomadXD note that the xds server address and port need to be plumbed to https://github.com/envoyproxy/gateway/blob/main/internal/xds/server/runner/runner.go#L57-L59.

[2022-08-23 00:29] arkodg opened #222 "Handle GatewayClass deletions"
*Description*:

The current logic in the  the gateway class controller only adds gatewayclasses to the context https://github.com/envoyproxy/gateway/blob/d2303d5974fc34c4719b006fd9a4752b07a1c4e7/internal/provider/kubernetes/gatewayclass.go#L109 but does not delete any.
This affects https://github.com/envoyproxy/gateway/blob/d2303d5974fc34c4719b006fd9a4752b07a1c4e7/internal/provider/kubernetes/gate

[2022-08-23 12:47] NomadXD commented on #212
@danehans I cherry picked your PR and added placeholders `{{ .XdsServerPort }}` , `{{ .AdminServerAddress }}` and `{{ .AdminServerPort }}` to the template.

Regarding using the config values for creating the address, we can't access the bootstrap config in the Config defined here. https://github.com/envoyproxy/gateway/blob/d2303d5974fc34c4719b006fd9a4752b07a1c4e7/internal/xds/server/runner/runner.

[2022-08-23 15:40] #165 closed

[2022-08-23 15:40] #166 closed

[2022-08-23 15:54] danehans opened #223 "Embed Envoy Bootstrap File"
Currently, the bootstrap config is managed as a string. Instead manage it as a yaml file using go:emd.

xref: https://github.com/envoyproxy/gateway/pull/206#discussion_r952195567

[2022-08-23 15:55] #201 closed

[2022-08-23 16:09] danehans opened #225 "Use strings.Builder to manage Envoy Bootstrap Config"
Use `strings.Builder` to manage the Envoy bootstrap config instead of `bytes.Buffer`

xref: https://github.com/envoyproxy/gateway/pull/206#discussion_r952197652

[2022-08-23 17:07] arkodg opened #226 "Add integration tests for the Infra Manager runner"
*Description*:
* Create a infra manager and start a infra manager runner to test whether the runner can subscribe and translate resources correctly or not

[2022-08-23 17:09] arkodg opened #227 "Add integrations tests for the Xds Translator runner"
Add tests for https://github.com/envoyproxy/gateway/blob/main/internal/xds/translator/runner/runner.go

[2022-08-23 17:15] arkodg opened #228 "Add integration tests for the Gateway API runner"
*Description*:
Add tests for https://github.com/envoyproxy/gateway/blob/main/internal/gatewayapi/runner/runner.go

[2022-08-23 17:47] danehans opened #229 "Panic Due to ProviderResources Nil Namespaces"
The translator panics when processing listeners allowed namespaces since the field is not set when initializing the gatewayapi runner.

[code]

[2022-08-23 20:16] skriss commented on #198
:+1: to shortening meetings to an hour since we've gotten through the big initial design discussions. We should be able to move to just once a week and rely more on async communication, too.

Alternating time slots to be friendly to the most time zones sounds good to me. I can personally work with any of the options.

[2022-08-23 21:04] danehans commented on #212
@NomadXD #206 has been merged. It went through some minor changes, so drop the cherry-pick and rebase from main.

Expose the xDS and admin endpoint config through the [EnvoyGateway](https://github.com/envoyproxy/gateway/blob/main/api/config/v1alpha1/envoygateway_types.go) API type. Note that this is the configuration of the xDS server, e.g. Envoy Gateway.

This is the config of the xDS client, e.g

[2022-08-23 21:37] danehans commented on #218
xref https://github.com/envoyproxy/gateway/issues/229

[2022-08-23 22:02] arkodg commented on #189
reopened this issue since we haven't yet reconciled and stored the service resources in the provider resources message

[2022-08-23 22:29] skriss opened #231 "Need RBAC defined so cluster role is generated"
Currently there are no RBAC markers defined, so no cluster role is generated for Envoy Gateway which prevents it from running in-cluster.

We need to add some markers along the lines of (including whatever else we need):

[code]

And then ensure the cluster role gets generated correctly and is included in the deploy.

[2022-08-23 22:37] skriss commented on #189
xref https://github.com/envoyproxy/gateway/pull/230#discussion_r953151075, need to decide on the pattern for this

[2022-08-24 03:39] zirain commented on #218
cc @arkodg, seems we can not use `controller-gen` to achieve this.
[code]

[2022-08-24 03:41] arkodg commented on #218
Yah @zirain, attempting to  handwrite `DeepCopy` now

[2022-08-24 14:52] skriss opened #235 "Implement liveness and readiness probes on the Deployment"
There are liveness and readiness probes defined on the envoy-gateway Deployment: https://github.com/envoyproxy/gateway/blob/main/internal/provider/kubernetes/config/envoy-gateway/deploy_and_ns.yaml#L40-L49

However, I don't see any code that implements these, and in my test cluster the pod is not responding to them and therefore not becoming ready / getting restarted regularly.

They need to eithe

[2022-08-24 16:02] #231 closed

[2022-08-24 17:48] #225 closed

[2022-08-24 18:32] skriss commented on #235
The probe definitions have been temporarily removed in #238 to unblock running EG in cluster but should eventually be re-added and implemented properly.

[2022-08-24 20:18] skriss commented on #157
Still to do:
- add CI steps that run conformance
- when running for a PR, use the container image built for the PR rather than the default `envoyproxy/gateway-dev:latest`

[2022-08-24 21:32] danehans opened #241 "Add Node Image Variable to Kind"
Add a $NODE_IMAGE variable so EG can be tested against multiple Kubernetes versions.

xref: https://github.com/envoyproxy/gateway/pull/240

[2022-08-25 01:20] youngnick commented on #198
Yes, I think that now the big design decisions are made, we can flip back to one meeting per week for one hour.

We can either tick tock or just do before the APAC GAMMA timeslot each week. Sucks a bit for me, but it keeps my early mornings to twice a week, which is better than more mornings.

[2022-08-25 02:16] #223 closed

[2022-08-25 08:08] Xunzhuo commented on #222
I can help on this, plz assign this to me:)

[2022-08-25 14:15] NomadXD opened #244 "Add support to configure xDS server and port through EnvoyGateway API type"
*Description*:
With the current implementation it's not possible to configure xDS host and port. https://github.com/envoyproxy/gateway/blob/d99f32feef8ddd6ede45bd0c93b607586138d4c8/internal/xds/server/runner/runner.go#L58

We need to expose these configs through [EnvoyGateway](https://github.com/envoyproxy/gateway/blob/main/api/config/v1alpha1/envoygateway_types.go) type.

[optional *Relevant Link

[2022-08-25 14:17] NomadXD commented on #212
@danehans Thanks a lot for the info. Helped me a lot to understand the concepts here.

I created the PR #243 to fix #212.

Regarding exposing the xDS config through GatewayAPI, I opened a new issue #244 to track it separately.

[2022-08-25 14:24] NomadXD commented on #244
@danehans I think the host and port config fields should go inside the `Gateway` struct. We can either put the fields there straightway or wrap it with another struct (something like `Listener`) and add it there. WDYT ?

https://github.com/envoyproxy/gateway/blob/d99f32feef8ddd6ede45bd0c93b607586138d4c8/api/config/v1alpha1/envoygateway_types.go#L41

[2022-08-25 15:11] skriss commented on #235
Great, thanks @Xunzhuo!

[2022-08-25 19:04] danehans opened #246 "Infra Manager Fails to Provision Infrastructure"
1. When a Kube infra type is created, the infra namespace is not set. This causes ns-scoped resources to be created without a ns, resulting in an error.
2. https://github.com/envoyproxy/gateway/pull/200 intended to mount the Envoy bootstrap config via a ConfigMap volume. However, https://github.com/envoyproxy/gateway/pull/206 added the bootstrap config using a CLI arg and did not remove the COnfig

[2022-08-25 21:11] danehans opened #248 "Should We Do a 2-Way Reconcile of Resource Maps"
Should we do a full two-way reconcile of resource maps of the Kube provider? This will ensure resources from the map still exist in the API server, and the appropriate controller will remove them if they don't.

xref: https://github.com/envoyproxy/gateway/pull/230#discussion_r955377496

[2022-08-25 22:07] danehans commented on #198
During today's community call, maintainers agreed to the following meeting schedule:
- Tuesday's 2-3 PT
- Thursday's 9-10 PT

[2022-08-25 22:25] #198 closed

[2022-08-25 22:28] #212 closed

[2022-08-25 23:32] #218 closed

[2022-08-26 03:01] danehans commented on #222
@Xunzhuo thanks for taking this on.

[2022-08-26 17:11] danehans opened #253 "The "create-cluster" Make Target Completes with Error"
The target completes but contains `Error from server (NotFound): secrets "memberlist" not found` error.

[code]

[2022-08-26 17:19] danehans commented on #253
The script behind this Make target is working as expected. [This output](https://github.com/projectcontour/contour/blob/main/test/scripts/make-kind-cluster.sh#L85) should be sent to `/dev/null` so users are not confused by the error.

[2022-08-26 17:36] danehans opened #254 "Consolidate Namespaces"
Currently, the script behind the `kube-deploy` Make target creates two namespaces, "gateway-system" and "envoy-gateway-system". Instead of requiring two Namespaces to run EG, I suggest we consolidate on the "gateway-system" Namespace name.

Note that the "gateway-system" Namespace is created by the Gateway API [install script](https://github.com/kubernetes-sigs/gateway-api/releases/download/v0.5.0

[2022-08-26 17:41] danehans opened #255 "The "kube-undeploy" Make Target Fails"
The target fails due to the EnvoyProxy CRD not being found. The CRD is deleted, so maybe the script behind the target is trying to delete it again?

[code]

[2022-08-26 18:12] danehans opened #256 "Support EG local running"
### Causes Incorrect xDS Address
The "run-kube-local" Make target causes Envoy to fail to connect to the xDS server, i.e. Envoy Gateway. This is because the Envoy Deployment will use "envoy-gateway" as the DNS name to connect to Envoy Gateway. Since this Service and associated EG Deployment does not exist, Envoy never connects to the xDS server. This Make target should update the xDS address to "h

[2022-08-26 18:33] #246 closed

[2022-08-26 18:44] danehans opened #257 "The "image.build" Make Target Fails"
The target fails with the following error:
[code]

[2022-08-26 18:46] Xunzhuo commented on #257
Got it, I will start a PR to fix this.

[2022-08-26 18:48] Xunzhuo commented on #257
Sorry, I did not see that you have assigned this 😆...

[2022-08-26 19:49] danehans opened #261 "Envoy ServiceAccount Fails to Get Created"
Infra Manager fails to provision the Envoy ServiceAccount resource due to RBAC restrictions.

[code]

[2022-08-26 19:54] danehans opened #262 "Add a Make Target to Install Envoy Gateway Image to Kind Cluster"
The current `kube-deploy` Make target will run EG using `envoyproxy/gateway-dev:latest`. A dev should be able to hack on EG, build a local EG image and push to the cluster.

[2022-08-26 20:16] #255 closed

[2022-08-26 20:25] Xunzhuo commented on #253
I have tried to redirect error to /dev/null, but it seems like it can be wrapped in this way, I used another more elegant approach to solve this issue.

[2022-08-26 20:59] danehans opened #267 "Envoy Gateway Fails to Add xDS Listener"
## Description
After running Envoy Gateway with the latest inflight PRs, Envoy Gateway properly runs and provisioning Envoy. However, after the initial xDS connection, Envoy Gateway fails to add the listener.

## EG Logs
[code]
## Envoy Logs
[code]

## Reproducer
1. Create a topic branch with the latest inflight PRs.
2. Run `make create-cluster` to create a kind test cluster.
3. Run `make kube-ins

[2022-08-26 21:03] danehans opened #268 "Envoy Fails to Connect to Envoy Gateway"
Envoy fails to connect to Envoy Gateway because the "envoy-gateway" Service does not exist.

[2022-08-26 21:44] robscott commented on #254
At least from my perspective, the intent with "gateway-system" was to reserve it for anything released by Gateway API (limited to the webhook right now). That is not currently documented and likely should be. I would personally suggest deploying Envoy Gateway in a separate namespace.

[2022-08-26 23:02] #229 closed

[2022-08-27 01:20] lizan commented on #267
Envoy logs tells that the filter configuration is wrong. I'll look into it.

[2022-08-28 17:34] danehans commented on #267
@lizan I'm testing with the following PRs:

https://github.com/envoyproxy/gateway/pull/216

https://github.com/envoyproxy/gateway/pull/250

https://github.com/envoyproxy/gateway/pull/258

https://github.com/envoyproxy/gateway/pull/263

https://github.com/envoyproxy/gateway/pull/264

https://github.com/envoyproxy/gateway/pull/269

[2022-08-29 04:17] youngnick commented on #254
Yes, I agree that we should leave `gateway-system` to the Gateway API, and probably suggest `eg-system`, `envoy-gateway`, or `envoy-gateway-system` for EG.

The reason here is that in my experience, it's better to keep the namespace boundary equivalent to the application boundary. Having two applications that are closely related, but have separate lifecycles sharing a namespace sounds like a probl

[2022-08-29 06:45] zirain commented on #267
@danehans I have figure out the root cause

[2022-08-29 07:16] zirain opened #272 "XDS: Envoy Fails to Add Router"
[code]

[code]

[2022-08-29 15:48] danehans opened #275 "Quickstart Guide"
Create a simple quickstart guide that allows a user to run EG, a managed Envoy fleet, and an example proxied HTTP backend app.

[2022-08-29 15:49] danehans commented on #275
xref https://github.com/envoyproxy/gateway/pull/203

[2022-08-29 15:52] #253 closed

[2022-08-29 16:34] #267 closed

[2022-08-29 18:01] #214 closed

[2022-08-29 20:15] #257 closed

[2022-08-29 23:58] danehans opened #277 "Inconsistent Gateway Listener Processing"
`gateway.spec.listeners[].port` is processed by the infra and xds IRs. The infra IR uses this port as the port number of the Kube Envoy service. The xds IR uses this port to create the Envoy listener. For the Kube provider, the Envoy listeners should be created from the container ports, e.g. 8080 and 8443, of the Envoy deployment instead of `gateway.spec.listeners[].port`.

[2022-08-29 23:59] danehans commented on #277
cc: @arkodg

[2022-08-30 00:07] youngnick commented on #277
Good catch, this is a big gotcha with `listener.port`, that it should be the port that the listener is available on from the _outside_.

[2022-08-30 00:09] arkodg commented on #277
this is being tracked via https://github.com/envoyproxy/gateway/issues/192

[2022-08-30 00:22] #277 closed

[2022-08-30 00:34] danehans opened #278 "XDS IR Logging"
It would be helpful for troubleshooting for the xds translator to log the input xds IR before translating.

[2022-08-30 00:40] danehans opened #280 "Configurable Envoy Access Logging"
Currently, Envoy access logs are sent to `/dev/null`. Users should have the ability to configure Envoy access logging through the EnvoyProxy API type.

[2022-08-30 00:42] danehans commented on #280
In the meantime, do the following to enable access logging:
[code]

[2022-08-30 00:46] arkodg commented on #280
@danehans imho EG should propose a sane default such as ^ and any mod should be addressed via https://github.com/envoyproxy/gateway/issues/31 / https://github.com/envoyproxy/gateway/issues/24

[2022-08-30 00:58] danehans opened #281 "Inconsistent Processing of Gateway Listener Port"
Currently, `gateway.spec.listeners[].port` is processed differently between xds and infra IRs. The infra IR uses this port for the Kube Envoy service port. The xds IR uses this port for envoy listeners.

## Option 1
Have the xds IR use the container ports of the envoy pod for listener ports when provider=Kube. To accomplish this, the continerPorts can be configurable (defaulting to http=8080/https

[2022-08-30 00:58] zirain commented on #280
for a short term, make bootstrap configurable seems enough.

for a long term, we may need something like [Telemetry](https://istio.io/latest/docs/reference/config/telemetry/) api in istio?

[2022-08-30 01:02] danehans commented on #281
cc: @arkodg @skriss @youngnick

[2022-08-30 01:10] danehans opened #282 "Incorrect Envoy Deployment and Service Labels"
Currently, the Envoy Deployment and Service use the [same labels](https://github.com/envoyproxy/gateway/blob/main/internal/provider/kubernetes/config/envoy-gateway/deploy_and_ns.yaml#L5) as Envoy Gateway. This causes requests intended for Envoy to get kube-proxied between Envoy-gateway and envoy pods.

[2022-08-30 01:17] zirain commented on #282
I have same issue during debug https://github.com/envoyproxy/gateway/issues/267.

I add `component: controller` on envoy-gateway and `component: envoy` on envoy-eg, but I do not think it's a good practice.

IMHO, the naming of the two components are not that good,

[2022-08-30 01:22] lizan commented on #280
@danehans that is only for the admin endpoint, the other logs is configured via xDS component.

[2022-08-30 01:33] danehans opened #284 "Expose Envoy Load Balancer Service Through Host Ports"
Currently the `create-cluster` make target does not expose any host ports. This means the Envoy service LB IP, via metallb load balancer, is unreachable. This target should configure a kind worker node that maps host ports to container ports.

[2022-08-30 15:11] danehans commented on #277
@arkodg i feel there is a subtle difference between this issue and the one you linked. This issue is a bug in the current state of how the translators process gateway ports. The linked bug is how to handle arbitrary ports. This issue must be resolved for RC1 while the linked issue can be resolved post v0.2.0.

[2022-08-30 15:14] #281 closed

[2022-08-30 15:15] danehans commented on #192
Currently, `gateway.spec.listeners[].port` is processed differently between xds and infra IRs. The infra IR uses this port for the Kube Envoy service port. The xds IR uses this port for envoy listeners.

## Option 1
Have the xds IR use the container ports of the envoy pod for listener ports when provider=Kube. To accomplish this, the continerPorts can be configurable (defaulting to http=8080/https

[2022-08-30 15:33] #268 closed

[2022-08-30 15:33] #189 closed

[2022-08-30 15:40] danehans opened #288 "Add Job to Check for Image Tag and Pull Policy"
https://github.com/envoyproxy/gateway/pull/263 adds a Make target that updates the EG image tag and pull policy to all testing in a Kind cluster. A CI job should be created to ensure that the image is always "envoyproxy/gateway-dev:latest" and the imagePullPolicy is "Always".

[2022-08-30 16:11] danehans opened #289 "Automate Kube Infra Manager Role"
https://github.com/envoyproxy/gateway/pull/264 updates EG roles for the Kube Infra Manager. Managing this role should be automated and scoped to the Namespace that EG runs in.

xref: https://github.com/projectcontour/contour/blob/main/hack/generate-rbac.sh

[2022-08-30 16:11] arkodg commented on #192
* the good news here is that EG can the flexibility to control Service->Container port mappings.
* for every service port / gateway listener port , the gateway api translator could generate a container port (which might need to be in the unprivileged port range 1024-65535)
* the gatewayapi translator needs to pass the service port and the container port to the Infra manager via the infra IR
* the

[2022-08-30 17:01] #262 closed

[2022-08-30 17:12] danehans opened #290 "Establish Label Conventions"
Currently, EG uses the labels established by controller-runtime. https://github.com/envoyproxy/gateway/pull/283 attempts to update the labels used by the managed proxy data-plane. We should establish label conventions for the control and data planes. Kube provides some guidance [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/).

[2022-08-30 17:14] danehans commented on #290
xref: https://github.com/envoyproxy/gateway/pull/283#discussion_r958666921

[2022-08-30 17:17] danehans commented on #290
cc: @arkodg @zirain

[2022-08-30 18:31] danehans opened #291 "Restrict and Separate Kube Infra Manager RBAC from Kube Provider"
https://github.com/envoyproxy/gateway/pull/264 updates Kube provider RBAC with permissions used to manage the proxy infra. These permissions should be under the infra manager and be restricted the Envoy Gateway namespace.

[2022-08-30 20:47] danehans opened #293 "Gateway API Translator Should Support * Listener Hostnames"
Currently, the translator requires a listener hostname to be specified. However, the Gateway spec states "*" should be used to match all hostnames when unspecified. Update the translator to support this requirement.

xref: https://github.com/envoyproxy/gateway/pull/286#discussion_r958708032

[2022-08-30 20:48] danehans commented on #293
@zirain please assign yourself if you can fix this bug.

[2022-08-30 20:51] danehans commented on #293
cc: @arkodg @skriss

[2022-08-30 20:51] #272 closed

[2022-08-30 20:51] #282 closed

[2022-08-30 21:07] danehans opened #295 "Update Developer Guide"
Update [dev](https://github.com/envoyproxy/gateway/blob/main/DEVELOPER.md) guide or create a separate dev guide for walking contributors through the process of:

1. Hack EG.
2. Run tests.
3. Test against a kind cluster (create cluster, build/push EG image, etc.).
4. Other steps?

[2022-08-30 21:10] danehans commented on #17
xref
- updating contrib guide: https://github.com/envoyproxy/gateway/issues/295
- quickstart guide: https://github.com/envoyproxy/gateway/issues/275

[2022-08-30 21:15] danehans commented on #254
@robscott @youngnick thanks for the feedback. I suggest we keep the "envoy-gateway-system" namespace for v0.2.0. I'm moving this issue to the backlog so we can discuss during planning after the release.

[2022-08-30 22:01] danehans opened #296 "Add Quickstart Guide Manifests"
Add the necessary manifests to support an EG quickstart guide.

- Run EG
- Run example httpbin app
- Create Gateway API manifests to deploy and configure envoy infra/proxy.

xref: https://github.com/envoyproxy/gateway/issues/275

[2022-08-30 22:03] danehans opened #297 "Create Release GitHub Action"
Create a GH action that:

1. Pushes the tagged EG image to Docker hub.
2. Updates quickstart manifests, etc from main branch to release tag.

[2022-08-30 22:05] danehans commented on #297
@arkodg @AliceProxy can one of you please assign yourself and have a PR pushed by 8/31/22 noon PT?

[2022-08-30 22:12] #261 closed

[2022-08-30 22:58] Xunzhuo commented on #297
I can do this, you can assign this to me.

[2022-08-30 23:29] arkodg commented on #52
the project is using v0.5.0 for the 0.2.0 release
https://github.com/envoyproxy/gateway/blob/bca9c19ba6205891eade2e66cc0b0ae9f4388802/go.mod#L20

[2022-08-30 23:29] #52 closed

[2022-08-31 01:52] zirain commented on #293
@danehans I can assign myself without permission, but will take a look at this.

[2022-08-31 02:07] danehans opened #301 "Gateway API Controllers Should Watch Other Gateway API Resources"
Currently, Gateway API resources must be installed in a specific order for e2e functionality. A Gateway API controller should watch for changes to dependent resources. For example, the httproute controller should trigger an httproute reconciliation whenever a Gateway resource is CRUD'd.

[2022-08-31 03:41] Xunzhuo opened #307 "`image.multiarch.setup` and `image.multiarch.emulate` throw unexpected errors"
*Description*:
`image.multiarch.setup` and `image.multiarch.emulate` throw unexpected errors, even if buildx is installed.

*Logs*:

[code]

[2022-08-31 04:12] #297 closed

[2022-08-31 04:43] Xunzhuo opened #311 "Support Automatically Upload Release Manifest"
*Description*:

Support Automatically Upload Release Manifest

Require: https://github.com/envoyproxy/gateway/pull/300

Add upload action in Release Workflows to automatically upload release manifest, when releasing.

Release Manager will not bother to manually make `release-manifests` and upload yamls.

/self-assign

[2022-08-31 15:19] danehans opened #314 "Add Shellcheck Linter"
Scripts continue to be added to the project, mainly to support Make targets. Shellcheck should be used to for static analysis and lint tool, for these scripts.

[2022-08-31 15:32] Xunzhuo commented on #314
/assign

[2022-08-31 15:37] #293 closed

[2022-08-31 16:17] #311 closed

[2022-08-31 16:29] danehans commented on #296
All necessary PRs have merged.

[2022-08-31 16:29] #296 closed

[2022-08-31 16:32] danehans commented on #295
Let's roll with the current contrib and dev guides for now and readdress this in the future based on feedback from the community.

[2022-08-31 17:25] danehans opened #318 "Automate Release Docs Release Tags"
https://github.com/envoyproxy/gateway/pull/303 introduced a release-specific guide. The release references should be automatically updated when a release is cut.

- Update the `make release-manifests` Make target to `release artifacts`.
- Update `release-manifests.sh` to `release-artifacts.sh`
- Update the `release-artifacts.sh` to replace the previous release tag with the new release tag.

[2022-08-31 17:35] Xunzhuo commented on #318
Though I have some questions for this, but you can assign this to me. I will take a look into this issue, to find out the best practice for this.

[2022-08-31 17:40] Xunzhuo commented on #318
But I think this is in low priority, let us discuss this after releasing v0.2.0-rc1, no hurry for this:)

[2022-08-31 17:50] #275 closed

[2022-08-31 20:52] arkodg opened #323 "Deploy custom image with the kube-deploy make target"
*Description*:
`make kube-deploy` deploys the Gateway API CRDs as well as the EG resources into the K8s Cluster
It however deploys the `envoyproxy/gateway-dev:latest` image
https://github.com/envoyproxy/gateway/blob/6fd629a98a5149e99f69e68337d1d8404ce35ebf/internal/provider/kubernetes/config/envoy-gateway/deploy_and_ns.yaml#L31

Allowing the user to pass an ARG/ENV to `make kube-deploy` such as `I

[2022-08-31 21:03] danehans opened #324 "Managing the Changelog"
The [changelog](https://github.com/envoyproxy/gateway/tree/main/changelogs) was not updated as part of the RC1 release. A changelog was generated as part of the [release](https://github.com/envoyproxy/gateway/releases/tag/v0.2.0-rc1). Should we remove the existing changelog and just use the GH release changelogs?

cc: @youngnick @LukeShu @arkodg

[2022-08-31 21:19] arkodg commented on #324
* for now, we could leave the generated CHANGELOG as is, and maybe cleanup the older https://github.com/envoyproxy/gateway/tree/main/changelogs
* the GHA https://github.com/softprops/action-gh-release#-external-release-notes allows us to use any external Changelog generator
For rc2 we should consider something more sophisticated that is based off contents/labels in the PRs

[2022-09-01 01:38] zirain opened #327 "make envoy-eg pod able to debug"
correct me if I'm wrong

Right now, there's no debug tool (`curl` etc) in `envoyproxy/envoy`, admin port is listen on `127.0.0.1`, we need provider a way to access `config_dump` for debug?

cc @danehans @arkodg WDYT?

[2022-09-01 01:41] arkodg commented on #327
hey @zirain what about port forwarding to the envoy pod ?

[2022-09-01 01:50] zirain commented on #327
that need open more than one shell, once the pod changed, you need port forward again.

I want just run one line script like following:
[code]

[2022-09-01 02:01] arkodg commented on #327
I understand your pain :). I think we might have to continue with above workflow until
* we have a debug subcommand such as `envoy-gateway collect` to collect `config_dump` and much more for offline triaging (we could target this for v0.2.0)
* or we support BYO Envoy Bootstrap config (scheduled for post v0.2.0)

[2022-09-01 02:03] danehans commented on #323
The kube-install-image Make target builds a local image and pushes it to the cluster.

[2022-09-01 02:10] arkodg commented on #323
this command builds & pushes into the kind cluster, this is very helpful for dev workflows
but also another case is to push to a non kind cluster.

TLDR we need to find a better way to `kustomize` image names & tag / maybe we can reuse https://github.com/envoyproxy/gateway/blob/c0a21c051488d90c291a4b75f7c5de07b62bd49a/tools/hack/release-manifests.sh#L34

[2022-09-01 02:21] zirain commented on #327
Actually I have some workarounds now, just open a ticket to track this.

IMO, it's necessary, but not that urgent.

here's my proposal:
- change the base-images like [this](https://github.com/istio/istio/blob/master/docker/Dockerfile.base)
- add a subcommand like `istioctl pc all`(what we do in istio project) if we have tools like `egctl`

[2022-09-01 15:37] AliceProxy commented on #158
I'll take this issue as well

[2022-09-01 15:38] skriss opened #329 "Gateway & HTTPRoute status computed by Gateway API translator needs to be written to API"
Currently, the Gateway API translator computes status (conditions & other status fields) for the Gateways and HTTPRoutes that it processes. However, that status is not currently being written back to the API server.  Adding support for this is essential for making progress with Gateway API conformance.

xref #219
xref #65

[2022-09-01 15:43] skriss opened #330 "Set Gateway.Status.Addresses"
EG needs to set the [Gateway.Status.Addresses field](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.GatewayStatus) with the address that is bound for the Gateway (i.e. the Envoy LB service address). This is necessary in order to make progress with Gateway API conformance.

A related question: do all Gateways use the same address? Does this have the potential to

[2022-09-01 16:30] danehans commented on #324
xref #325

[2022-09-01 19:12] arkodg commented on #256
imho `make run-kube-local` should pick a new bootstrap file (which would be supported once https://github.com/envoyproxy/gateway/issues/31 is in) which would contain the updated xDS address `host.docker.internal` (for non linux systems)
it would be a long list of things to support if we starting supporting configuration of individual fields such as the xds server address

[2022-09-01 20:35] #307 closed

[2022-09-01 22:52] arkodg commented on #55
I think we should pin envoy to a specific image to be more deterministic by changing
https://github.com/envoyproxy/gateway/blob/62bfc55332b0d1e47fad4f77e40713f3e52cb0b8/internal/ir/infra.go#L14
@lizan any advice on which version https://www.envoyproxy.io/docs/envoy/latest/version_history/version_history should we pick for v0.2.0 ?

[2022-09-01 22:59] arkodg commented on #55
The Gateway API version currently being used in v0.5.0 https://github.com/envoyproxy/gateway/blob/62bfc55332b0d1e47fad4f77e40713f3e52cb0b8/go.mod#L20

[2022-09-02 01:03] lizan commented on #55
Let's use `envoyproxy/proxy:v1.23.1`, or `envoyproxy/proxy:v1.23-latest`.

[2022-09-02 01:07] zirain opened #334 "tech debt: refactor os.LookupEnv with default value"
xref: https://github.com/envoyproxy/gateway/pull/306#discussion_r960149240

https://github.com/envoyproxy/gateway/blob/29a89578d347db9611226125f6c808be27aff6b5/internal/infrastructure/kubernetes/infra.go#L48

[2022-09-02 01:22] arkodg opened #335 "Pin Envoy Image to v1.23 for v0.2.0"
*Description*:

Pin the Envoy Proxy Image deployed by the Infra Manager to v1.23 for the v0.2.0 release

https://github.com/envoyproxy/gateway/blob/62bfc55332b0d1e47fad4f77e40713f3e52cb0b8/internal/ir/infra.go#L14

Related https://github.com/envoyproxy/gateway/issues/55#issuecomment-1234953351

[2022-09-02 01:33] arkodg opened #336 "Design Authentication Policy as a GatewayAPI Extension"
*Description*:

This issue tracks the design of the authentication policy APIs for Envoy Gateway leveraging the extension points within the [Gateway API](https://gateway-api.sigs.k8s.io)

Design docs for extensions are [here](https://docs.google.com/document/d/12jEb81Hf40UeMqXtnGObowB3PzyB21VrF2m4dXGYnls/edit?usp=sharing) & specifically authentication policy are [here](https://docs.google.com/docu

[2022-09-02 08:00] zirain opened #339 "infra: `make generate` is broken on ubuntu18"
make generate is broken since #193

cc @danehans

[code]

[code]

[2022-09-02 08:42] Xunzhuo commented on #339
<img width="872" alt="image" src="https://user-images.githubusercontent.com/48784001/188100581-0fbe29af-c781-47ea-ab24-63db82b1f81c.png">
I did not see anything wrong?

[2022-09-02 09:03] zirain commented on #339
yes, pass on my mac-pro, but failed on my dev machine

[code]

[2022-09-02 17:01] Xunzhuo commented on #329
/assign

[2022-09-02 22:40] danehans commented on #220
The tests are being run in parallel. Since each test creates a gatewayclass, more than one may exist in the map. I enabled logging and ran the tests:
[code]

[2022-09-02 23:07] arkodg opened #341 "Infra Manager unable to update service spec"
*Description*:

Enhance https://github.com/envoyproxy/gateway/blob/62bfc55332b0d1e47fad4f77e40713f3e52cb0b8/internal/infrastructure/kubernetes/service.go#L25 to update the service spec if spec changes

[2022-09-02 23:31] #295 closed

[2022-09-03 00:52] arkodg commented on #339
`go version` same on both machines ?

[2022-09-03 01:04] arkodg opened #342 "gateway-dev `latest` and newest tag manifest do not match"
*Description*:
Just noticed that the manifest list associated with `latest` and the newest tags pushed https://hub.docker.com/r/envoyproxy/gateway-dev/tags do not match, but they should since they are based off the same [binary](https://github.com/envoyproxy/gateway/blob/main/tools/docker/envoy-gateway/Dockerfile) off the same [commit](https://github.com/envoyproxy/gateway/blob/6fc8c1df1624867243e

[2022-09-03 01:24] zirain commented on #339
on ubuntu18
[code]

mac
[code]

[2022-09-03 03:44] Xunzhuo commented on #341
/assign

[2022-09-03 07:00] Xunzhuo commented on #342
/assign, looks like we build it twice, we should tag it after building instead of building again.

[2022-09-06 07:42] hnlq715 commented on #339
Same error on my ubuntu server.

It would be fixed when downgrade grpc to 1.45.0 with replace in gomod file.

[code]

[2022-09-06 17:42] danehans commented on #330
For the time being, I suggest we start off simple and have all Gateways use the same Service. Therefore, all Gateways will have the same address. A conflict can occur if a user specifies a Gateway address but I suggest we state this limitation in the v0.2.0 release notes and enforce through validation. Thoughts @arkodg @LukeShu @youngnick?

[2022-09-06 18:06] danehans opened #344 "Decision: How to Pass Logger"
A logger gets passed around a few different ways throughout EG. Let's make a decision on which approach should be used for the project. ~Making this decision will unblock #278~:

1. Pass a context and individual funcs can create a logger from the context.
2. Pass `logr.Logger` as an input to funcs.
3. Add a `logr.Logger` to go structs and `log.NewLogger()` when initializing the struct.

[2022-09-06 18:06] danehans commented on #344
@arkodg @LukeShu @youngnick @skriss I request your vote on this issue so we can unblock #344.

[2022-09-06 18:07] danehans commented on #344
I vote for option 1.

[2022-09-06 18:22] arkodg commented on #339
hey @hnlq715 @zirain thank for further debugging this issue
does bumping controller-runtime to [v0.13.0](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.13.0) fix the issue ? if not lets downgrade `google.golang.org/grpc` to v1.45.0
relates to https://github.com/kubernetes-sigs/controller-tools/pull/648

[2022-09-06 18:35] #334 closed

[2022-09-06 18:38] danehans opened #345 "Surface Gateway Ready status based on Envoy Deployment Status"
Currently, the "Ready" status condition is not being set for Gateways. When https://github.com/envoyproxy/gateway/issues/330 is fixed, the "Ready" condition will be based on the Envoy Service address being published. Additionally, the "Ready" condition should also consider the availability of the Envoy Deployment.

[2022-09-06 19:45] skriss opened #346 "internal/gatewayapi: decouple test cases from default Envoy image"
We should find a way to not have to bump these test cases every time we change the Envoy version, but fine to put on the backlog for now.

_Originally posted by @skriss in https://github.com/envoyproxy/gateway/pull/338#discussion_r964106420_

[2022-09-06 19:45] #335 closed

[2022-09-06 20:41] #342 closed

[2022-09-06 20:55] arkodg commented on #342
<img width="1468" alt="Screen Shot 2022-09-06 at 1 53 41 PM" src="https://user-images.githubusercontent.com/9469142/188736044-856e47db-b45e-4fe8-9742-ed9db31de09b.png">
the recently published images look good (have identical manifests), thanks @Xunzhuo !

[2022-09-06 21:07] LukeShu commented on #344
I vote for option 1.

[2022-09-06 21:21] youngnick commented on #173
In our community meeting, @danehans mentioned the idea of using annotations on the source resources rather than storing this information in the IR itself.

I think that _may_ be a good idea for this, but we'll need to be really careful about how much API server load this generates when there are a lot of Gateway API resources under management.

Another approach is one @LukeShu mentioned when we di

[2022-09-06 21:39] danehans opened #348 "Add DOCS.md"
Add a DOCS.md that explains how EG docs are built, how to add/update content, publish, etc.

[2022-09-06 21:41] danehans commented on #348
xref: https://github.com/envoyproxy/gateway/issues/17

[2022-09-06 21:41] danehans commented on #348
xref: https://github.com/envoyproxy/gateway/pull/203

[2022-09-06 21:48] danehans commented on #173
MOved this into 0.2.0-rc2 since it's required for https://github.com/envoyproxy/gateway/issues/330

[2022-09-06 21:49] skriss commented on #65
Large blockers for getting Gateway API conformance tests to run:
- https://github.com/envoyproxy/gateway/issues/330 (conformance uses the address in Gateway.Status.Addresses to send HTTP requests; we need to set this to the provisioned Service's external IP)
- https://github.com/envoyproxy/gateway/issues/345 (conformance tests won't proceed until a Gateway has a Condition of "Ready: true")
- https

[2022-09-06 21:58] danehans commented on #173
@LukeShu @youngnick `selfLink` is deprecated and is no longer populated by Kubernetes.

[2022-09-06 22:44] danehans commented on #173
Since `selfLink` is deprecated, I plan to proceed with:

1. Adding `metadata.labels` to the Infra IR.
2. Creating label keys for each Gateway's ns/name.
3. Having the translator apply these labels to infra IR `metadata.labels`.
4. Update the Kube Infra Manager to apply these infra IR labels to managed resources.

xref: https://github.com/envoyproxy/gateway/pull/328

[2022-09-06 22:56] skriss opened #349 "EG cannot collapse the base Gateways defined in the conformance tests"
Gateway API conformance defines a base set of 3 Gateways, all using the same GatewayClass: https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/base/manifests.yaml#L16-L62

EG's design is to be 1:1 with a GatewayClass, with a single address for all Gateways for that class. As such, all Listeners across all of the Gateways need to be compatible/collapsed, per https://github.com/kube

[2022-09-07 02:02] #291 closed

[2022-09-07 02:02] #289 closed

[2022-09-07 02:09] danehans opened #351 "Add a CI Job to Check for EG Deployment Image Tag Changes"
The [kube-install-image](https://github.com/envoyproxy/gateway/blob/main/tools/make/kube.mk#L56-L58) Make target is used to build and push a local EG image to a kind cluster for testing purposes. This target modifies EG's `imagePullPolicy` and `image`. Sometimes these changes are inadvertently checked into PRs and may accidentally get merged. A CI job should check for these changes and fail when d

[2022-09-07 02:43] #220 closed

[2022-09-07 16:06] #290 closed

[2022-09-07 18:32] AliceProxy commented on #344
I think option 1 is preferable.

[2022-09-07 19:26] skriss commented on #344
I'll abstain, fine with whatever others prefer.

[2022-09-07 19:34] skriss opened #357 "possibly update the conditions used for invalid redirect filter options"
There's some ambiguity in the Gateway API spec as to what conditions should be used for various invalid options on the redirect filter -- the spec specifies a type that is not actually defined for HTTPRoutes. I think it's a typo in the spec and the PR below would fix it, but we'll see what the Gateway API maintainers think.

ref. https://github.com/envoyproxy/gateway/pull/249#discussion_r964126956

[2022-09-07 19:36] arkodg commented on #344
I prefer option 4 -  Add global library logging scopes
This simplifies enabling component level logging and is also used in istio (here's an [example](https://github.com/istio/istio/blob/247e396dd30635ba44e81f324f4224967b75e02a/pkg/webhooks/validation/controller/controller.go#L51))
More info on this is in https://github.com/envoyproxy/gateway/issues/76#issuecomment-1149604515

[2022-09-07 20:53] danehans opened #358 "Finalize the Accepted GatewayClass"
Whenever one or more Gateways are using a GatewayClass, EG must add the `gateway-exists-finalizer.gateway.networking.k8s.io` finalizer on the associated GatewayClass. This ensures that a GatewayClass associated with a Gateway is not deleted while in use.

xref: https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/gatewayclass_types.go#L45

[2022-09-07 21:05] #159 closed

[2022-09-07 21:43] danehans opened #360 "Add Support for User-Defined Gateway Addresses"
#352 adds support for managing gateway status addresses. However, this PR does not support user-defined [Gateway addresses](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.GatewayAddress). Therefore, EG should compare the status address of the Gateway's associated service against the user-defined address and surface the proper Gateway status condition.

[2022-09-07 21:53] danehans opened #361 "Ensure Gateway Address Uniqueness"
https://github.com/envoyproxy/gateway/issues/360 specifies the need to add support for user-defined Gateway addresses. When multiple Gateways exist with user-defined addresses, an address conflict may arise. EG should check the user-defined addresses across the managed Gateways and ensure that they are unique.

[2022-09-07 22:52] danehans opened #362 "Split Proxy Infra CRUD"
Currently, the CRUD of a GatewayClass signals the Infra Manager to CRUD managed proxy infra, i.e. Deployment, Service, etc. This approach has been updated in https://github.com/envoyproxy/gateway/pull/352 to use the existence of Gateways. This new approach is required because each Gateway can specify an [IP address or a Hostname](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.

[2022-09-07 22:53] danehans commented on #362
xref: https://github.com/envoyproxy/gateway/pull/355

[2022-09-07 22:54] danehans commented on #362
xref: https://github.com/envoyproxy/gateway/issues/360

[2022-09-08 02:26] zirain commented on #213
/assign

[2022-09-08 02:31] arkodg commented on #213
thanks for picking this up @zirain
imho https://github.com/envoyproxy/gateway/blob/main/tools/make/lint.mk might be the best home for the target

[2022-09-08 14:39] #339 closed

[2022-09-08 15:58] #173 closed

[2022-09-08 16:22] AliceProxy commented on #162
I'll take this issue

[2022-09-08 16:23] danehans commented on #349
@youngnick can you please review to make sure ^ is accurate?

[2022-09-08 16:49] skriss commented on #168
Note, we already have TLS termination implemented (I forgot this was already implemented when discussing at this morning's meeting), so this issue is specifically for **TLS passthrough**, which requires the use of TLSRoute. This does seem to be a core conformance feature, despite TLSRoute remaining an alpha resource, but there are not currently conformance tests for it.

[2022-09-08 17:50] arkodg commented on #168
thanks for raising this issue @skriss, going forward it would be good to cross reference any GH issues in the Gateway API repo or create new ones in the Gateway API repo to address the need for validating a specific feature using Gateway API conformance tests . Lets try and use the Gateway API Conformance tests for all end to end testing, until we cannot :)

[2022-09-08 18:46] #341 closed

[2022-09-08 20:22] arkodg opened #367 "Add Metadata to xDS Resources"
*Description*:
Similar to https://github.com/envoyproxy/gateway/pull/350 add Metadata to the Xds IR as well as the specific xDS resources https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/base.proto#config-core-v3-metadata  to better map the input Gateway API resource to the output xDS resource

[2022-09-08 22:34] danehans opened #368 "Labels or Annotations for Service-to-Gateway Object References"
https://github.com/envoyproxy/gateway/pull/352 adds gateway owning labels. These labels are applied to the Envoy service and reference the gateway ns/name used to create the service. The Kube provider gateway controller watches services and reconciles the correct gateway, e.g. update `gateway.status.addresses` when the Envoy service is assigned a load-balancer IP. Labels were chosen instead of ann

[2022-09-08 22:39] danehans commented on #318
Note that the quickstart from the `main` branch should not use release tags. This could cause considerable changes to the steps of the quickstart guide.

[2022-09-08 23:39] danehans opened #370 "Should Infra Manager Resources Be Removed"
Currently, Infra Manager resources are being maintained but not used for any purpose, adding another layer of state. Should this type be removed and have Infra Manage continue working with objects from the controller-runtime cache?

[2022-09-08 23:47] arkodg commented on #370
sure sgtm, less code to maintain

[2022-09-09 00:03] arkodg commented on #284
some workaround for MacOS
*  skip creating a new cluster and directly use the Kubernetes cluster created by Docker Desktop
[code]

* Or detect the Host OS and setup port forwards before tests start and clean up once it ends

[2022-09-09 00:07] #192 closed

[2022-09-09 00:07] #278 closed

[2022-09-09 00:12] danehans commented on #357
@skriss Added this to the backlog. Feel free to change the milestone as needed.

[2022-09-09 05:39] youngnick commented on #368
Usually, labels are used when you're _searching_ or _watching for_ things though, so ideally we'd put a label on the _Gateway(s)_ as well, and then take a value from the label on the Service (the controllerName string maybe?) and when reconciling a Service, enqueue updates for all the Gateways that might need it.

That's only because there is (possibly) a many-to-one relationship between Gateways

[2022-09-09 09:34] NomadXD commented on #367
@danehans Can I work on this one?

[2022-09-09 13:52] danehans commented on #367
@NomadXD it's all yours.

[2022-09-09 15:45] danehans opened #371 "Should Infra Manager Watch Services and Update Status"
https://github.com/envoyproxy/gateway/pull/352 adds support for managing Gateway `status.addresses`. The approach in this PR adds a Service watch to the Kube provider gateway controller. When a Service is CRUD'd, the controller will reconcile the appropriate Gateway by parsing the "Gateway owning" label(s) from the Service. The appropriate Gateway `status.addresses` are then updated through the re

[2022-09-09 15:56] #213 closed

[2022-09-09 16:02] danehans commented on #371
From https://github.com/envoyproxy/gateway/pull/352#discussion_r966480558:

IMO this approach resonates if a Service controller is implemented in the Infra Manager. For example:
- The Service controller reconciles Services that include "Gateway owning" labels.
- The Service controller will publish a `GatewayStatus` message that includes the status ingress address/hostname for each Service that ref

[2022-09-09 21:24] danehans opened #374 "Should Envoy Gateway Support a Gateway Finalizer?"
https://github.com/envoyproxy/gateway/pull/373 adds GatewayClass finalizer support. The [Gateway spec](https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.0/apis/v1beta1/gateway_types.go) does not call for a Gateway finalizer, but I don't understand why Envoy Gateway should allow a Gateway to be deleted if one or more routes are attached. Should EG implement a Gateway Finalizer that is simila

[2022-09-12 09:04] zlahham commented on #368
This is interesting as it touches on something we are looking into. We are trying to pass some annotations from the Gateway to the service that are linked to AWS ELB annotations. For example:
[code]

The main issue that we are facing is that this default setup without the annotations would create a classic loadbalancer on AWS and we are trying to create an NLB instead. How would you go about resol

[2022-09-12 16:05] #330 closed

[2022-09-12 16:40] danehans commented on #368
@zlahham https://github.com/envoyproxy/gateway/pull/350 added metadata support to the Infra IR and https://github.com/envoyproxy/gateway/pull/352 provides an example implementation of how these labels can be applied to the Envoy Service.

For your use case, I prefer using the [EnvoyProxy API](https://github.com/envoyproxy/gateway/blob/main/api/config/v1alpha1/envoyproxy_types.go) instead of labeli

[2022-09-12 17:12] arkodg opened #377 "Add k8s annotations to the Envoy Proxy Service"
*Description*:
Extend the [Envoy Proxy API](https://github.com/envoyproxy/gateway/blob/main/api/config/v1alpha1/envoyproxy_types.go) to allow a user to add more k8s annotations to the Envoy Proxy service.

Relates to https://github.com/envoyproxy/gateway/issues/368#issuecomment-1243432619

[optional *Relevant Links*:]

[2022-09-12 17:13] arkodg commented on #368
+1 raised https://github.com/envoyproxy/gateway/issues/377 to track it

[2022-09-12 17:16] danehans commented on #349
@skriss thanks again for bringing this issue to light. IMHO this is a bug in the spec, so I created https://github.com/kubernetes-sigs/gateway-api/issues/1385. Let's see what the community has to say.

[2022-09-12 17:31] danehans commented on #374
I created upstream issue https://github.com/kubernetes-sigs/gateway-api/issues/1386 for guidance.

[2022-09-12 17:43] danehans commented on #177
@youngnick pinging you on this since RC2 is 16 days away. It would be a big help to the project if you can still take this issue on. If not, can you document how you would resolve this issue, and maybe someone else can take on the issue?

[2022-09-12 17:46] danehans commented on #219
https://github.com/envoyproxy/gateway/pull/352 added initial support for the Gateway "Ready" condition. I consider this issue closed when https://github.com/envoyproxy/gateway/issues/345 is resolved.

[2022-09-12 17:51] danehans commented on #329
@skriss @Xunzhuo https://github.com/envoyproxy/gateway/issues/345 partially fixes this issue. For example:
[code]

I consider this issue closed once https://github.com/envoyproxy/gateway/issues/345 is resolved.

[2022-09-12 18:10] arkodg commented on #177
hey @danehans I plan on working on this

[2022-09-12 19:36] Xunzhuo commented on #377
assign, quite busy recently, will work on this tomorrow.

[2022-09-12 20:02] Xunzhuo commented on #329
Thanks @danehans

[2022-09-13 07:23] NomadXD opened #380 "Add support for multiple gateways"
*Description*:
I want to have several gateways(envoy proxies) under one envoy gateway and use `parentRef` in the `HttpRoute` to decide on which gateway the `HttpRoute` should get deployed. I tried the above scenario with the `v0.2.0-rc1` and couldn't make it work.

### Steps I followed:

1. Followed the quick start guide and deployed 1 EG, 1 gateway, httpbin and 1 HttpRoute and verified the functi

[2022-09-13 18:38] danehans commented on #215
This issue is a v0.2.0 release blocker since conformance test [base manifests](https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/base/manifests.yaml#L16-L62) don't create an httproute before checking the Gateway conditions/addresses. The gatewayapi translator __must__ create the infra without the need for an httproute.

[2022-09-13 20:53] danehans commented on #374
Moved to backlog since this is not a v0.2.0 blocker.

[2022-09-13 21:00] danehans opened #382 "Xds Translator Incorrectly Creates Listener"
*Description*:
The xds translator is creating a listener when listener creation is unneeded. Instead, the existing listener name and allowed hostnames should be updated.

*Repro steps*:
- Follow quickstart guide but update `gateway.listerns[].hostname: "*.example.com"`
- Create a 2nd gateway with a listen that uses a different hostname:
[code]
- Create a 2nd route that references the 2nd gateway:

[2022-09-13 21:52] danehans commented on #377
@Xunzhuo thanks for offering to help with this issue. Since this is a "Backlog" milestone issue, I suggest working on [RC-2 issues](https://github.com/envoyproxy/gateway/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.2.0-rc2) since they're more pressing.

[2022-09-13 22:32] skriss commented on #380
Note, this is similar to or maybe identical to #349 -- multiple Gateways, each with Listeners with identical hosts/ports/protocols.

[2022-09-13 22:56] skriss commented on #349
The way I read it, the spec is fine -- it gives implementors the option to merge compatible Listeners across Gateways, but does not imply that they must, nor that Listeners across Gateways must be compatible. In this case they're not compatible, but they're still perfectly valid specs, so we need to handle them differently.

It seems to me like the best path forward is to go with a separate LB ser

[2022-09-13 23:23] #228 closed

[2022-09-13 23:45] danehans opened #383 "Optimize Gateway API Translator Listener Processing"
https://github.com/envoyproxy/gateway/pull/381 splits xds and infra IRs. Both call `ProcessListeners()` since gateway listeners are used by both IRs. Look into how this func can be split to avoid duplication.

[2022-09-14 04:38] youngnick commented on #349
Yeah, this point is kind of making me rethink the "GatewayClass = Envoy set" idea, and that it may be better to have each Gateway be a separate LB service and Envoy deployment. Particularly if that's a common pattern in other implementations, being too different is only going to create more problems for us in the future.

I definitely agree that having the address a service is served out of change

[2022-09-14 05:14] youngnick commented on #177
Yeah, sorry, I thought I would have more bandwidth to work on this. But I doubt I will before RC2, so it's better that Arko does it.

@arkodg, my plan was to have a test xDS client that mimics being an Envoy, starts the xDS conversation, and then can pass what it gets to the testing framework for comparison. Contour has a command `contour cli` that does this in a reasonably general case, but aside

[2022-09-14 05:17] youngnick commented on #368
Yes, I agree with the approach in #377.

It doesn't really matter where the label lives, I guess, and labels rather than annotations is fine.

[2022-09-14 08:07] BLasan opened #384 "Error when installing Envoy Gateway via GoLang"
*Description*:
When installing the envoy gateway according to the [QUICKSTART.md](https://github.com/envoyproxy/gateway/blob/main/docs/user/QUICKSTART.md) via GoLang sequentially, the following error gets produced for the command `kubectl apply -f https://raw.githubusercontent.com/envoyproxy/gateway/v0.2.0-rc1/examples/kubernetes/gatewayclass.yaml`.

[code]

However, this error occurs intermittent

[2022-09-14 16:14] Xunzhuo commented on #323
@arkodg /assign, I can work on this:)

[2022-09-14 16:15] #227 closed

[2022-09-14 19:58] Xunzhuo opened #387 "Run `make run-kube-local` failed"
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

make run-kube-local starts EG locally, but failed for couple of reasons:
1. Cannot find EG binary if we did not run make build manually before this:
<img width="813" alt="image" src="https://user-images.githubusercontent.com/48784001/190250033-3cf2a2a8-ee66-44e8-b0bc-0604f9935d8d.png">
2. multicl

[2022-09-14 20:42] danehans commented on #387
@Xunzhuo even with https://github.com/envoyproxy/gateway/pull/388, this Make target will fail until https://github.com/envoyproxy/gateway/issues/256 is fixed, PTAL.

[2022-09-14 20:46] #387 closed

[2022-09-14 23:07] Xunzhuo commented on #256
/assign cc @arkodg

[2022-09-15 03:09] danehans opened #390 "Check Gateway API Admission Availability"
EG should check the presence and availability of the [Gateway API bundle](https://gateway-api.sigs.k8s.io/guides/getting-started/#installing-a-gateway-api-bundle), e.g. CRDs, webhook server, etc. resources during startup.

- Check the status of `deploy/gateway-api-admission-server -n gateway-system`.
- Check the status of `svc/gateway-api-admission-server -n gateway-system`.
- Check for Gateway AP

[2022-09-15 03:10] danehans commented on #390
xref: https://github.com/envoyproxy/gateway/issues/384

cc: @BLasan

[2022-09-15 03:13] danehans commented on #384
@BLasan thanks for reporting the issue and I'm glad to hear it cleared up on its own. I created https://github.com/envoyproxy/gateway/issues/390 to track this issue. Please continue to report any issues you encounter and let us know if you'd like to work on fixing it.

[2022-09-15 03:13] #384 closed

[2022-09-15 16:02] #158 closed

[2022-09-15 16:18] arkodg opened #391 "Address comments from https://github.com/envoyproxy/gateway/pull/363"
*Description*:
https://github.com/envoyproxy/gateway/pull/363 was merged, but raising this issue so comments raised by @LukeShu can be considered

[2022-09-15 16:18] arkodg commented on #391
cc @AliceProxy

[2022-09-15 16:34] danehans commented on #383
Closing since associated PR has been closed.

[2022-09-15 16:34] #383 closed

[2022-09-15 16:48] LukeShu commented on #349
From the call:

What Arko suggested on today's call is along the lines of what Steve posted; that we have one Envoy and have a Service per Gateway that forwards to a different set of Envoy ports.  That we sort the Listeners, and then assign them ports in order, in order to be deterministic.

Just sorting the Listeners is problematic; if A and C exist, then you create B, then C's port assignment wo

[2022-09-15 17:31] arkodg commented on #349
thanks for capturing the discussion @LukeShu

* the other option of creating a unique Envoy Deployment per Gateway would require changes in
  * Gateway API translator - it would need to create an xDS IR per Gateway
  * EG would need to map a Gateway to a Envoy ID
  * xDS Server would need to be aware of this mapping

[2022-09-15 17:54] danehans commented on #301
For those interested in helping with this issue, here is the use case that must be resolved.

- A user creates an HTTPRoute- Which causes the httproute controller to reconcile the HTTPRoute, adds the HTTPRoute and associated service/namespace to the watchable map, and writes status (once #329 is fixed). Since a Gateway doesn't exist, the HTTPRoute status will not be written (even with #329 fixed).

[2022-09-15 18:13] arkodg commented on #301
if there is a parent->child relationship b/w Gateway Class and Gateway and Gateway and HTTPRoute and order or accepted GatewayClass or Gateway matters/is sequential, maybe each reconciler could
* Update itself to save the current accepted resource
* force a reconcile (maybe by just calling child.Reconcile()) of the child resource
* store the accepted resource in the watchable map

[2022-09-15 21:06] #215 closed

[2022-09-16 00:04] youngnick commented on #301
All of the Gateway API resources are a system - they're not really meaningful by themselves, so you need to treat them as a system, and check the whole system any time one of the pieces is updated.

There are other resources like ReferenceGrant that can have wide-ranging effects on both Routes and Gateways if they change as well.

It's not a pure parent-child relationship because effects can flow

[2022-09-16 14:25] chauhanshubham opened #393 "Support for multiple TLS certificates for a single host"
*Description*:
LB vendors provide the ability to configure multiple certificates for a single fqdn.
The usecase is to have multiple certificates with different signing algorithms (RSA and/or ECC).
The server, based on the clients' SSL capabilities decides to send the relevant certificate,
preferably ECC signed cert (if configured).
So customers might want to configure two certificates for a single

[2022-09-16 14:32] skriss commented on #393
The Gateway API spec definitely allows this as an implementation-specific behavior (see `certificateRefs` under https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.GatewayTLSConfig), so no reason we can't add this to EG. The initial implementation has just been focused on Gateway API's core conformance features, which in this case is 1 TLS cert.

[2022-09-16 16:58] danehans opened #394 "Evaluate Kube Provider Integration Test Improvements"
The Kube provider uses the `envtest` library to create an instance of etcd, Kube API server, etc. Look into potential lighter-weight approaches that use the fake client.

xref: https://github.com/envoyproxy/gateway/pull/373#discussion_r972433191

[2022-09-19 11:13] BLasan opened #396 "HTTPRouteConfig file has a limitation for number of items in the Match object"
*Description*:
When defining more than 8 paths for the match object in HTTPRouteConfig file, it returns the following error message.

`The HTTPRoute "petstore" is invalid: spec.rules[0].matches: Too many: 11: must have at most 8 items`

In line no 644 of `gatewayapi-crds.yaml`, `maxItems` attribute has the value 8 which is causing the issue. Is there a rationale behind that value 8? Or is it just

[2022-09-19 15:52] danehans commented on #349
@arkodg in addition to the points you make above, is it correct to say that an SDS sidecar is required per Envoy to properly manage secrets across the different data planes?

[2022-09-19 17:43] arkodg commented on #349
I think simple TLS for auth and Service Account Token for authz could be a solution. I dont think this changes the control plane authn authz design rather it changes how the xds-server decides which node-id (which could be the gateway name) should serve which snapshot
https://github.com/envoyproxy/gateway/blob/ac5ea770c7c7b7b227832e89cec9d7efaf1c5b36/internal/xds/cache/snapshotcache.go#L275

[2022-09-19 17:47] #358 closed

[2022-09-19 20:01] chauhanshubham commented on #168
Could I take it up please. I have some idea of the changes required. thanks

[2022-09-20 16:06] danehans commented on #88
https://github.com/envoyproxy/gateway/pull/208 adds control plane auth where `certgen` generates a self-signed CA and envoy-gateway/envoy cert/keys, then stores them as Kube secrets in the Envoy Gateway namespace.

[2022-09-20 16:08] danehans commented on #88
Note that https://github.com/kubernetes-sigs/gateway-api/issues/91 has yet to be fixed and is still tagged as "help wanted".

[2022-09-20 17:28] #345 closed

[2022-09-20 17:46] danehans opened #397 "Controller Fails to List Deployments"
https://github.com/envoyproxy/gateway/pull/392 added support for watching managing status based on the availability of the Envoy deployment. However, RBAC was not updated to allow the controller to list Deployments:

[code]

[2022-09-20 18:23] danehans commented on #396
@BLasan this is a maximum set by the Gateway API spec and I'm unaware of why `8` was decided. If this restriction is an issue, can you provide additional context by creating a Gateway API issue and linking to this issue for tracking purposes?

xref: https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/httproute_types.go#L170

cc: @youngnick

[2022-09-20 18:26] danehans commented on #393
@chauhanshubham since the focus of v0.2.0 is Gateway API conformance, I have tagged this issue as `Backlog`.

[2022-09-20 20:46] danehans commented on #284
@arkodg @LukeShu @skriss should we add the above workaround to EG dev docs? If so, what approach do you prefer?

[2022-09-20 21:39] youngnick commented on #349
We discussed this on the call today, the outcome is this:
- there is a lot of support for shifting our model to run a separate xds server container deployment per Gateway, coordinated by the infrastruture manager, essentially splitting the infrastructure manager and xds server into separate commands/binaries.
- @arkodg is going to spend a couple of days seeing if he can get a more shared configura

[2022-09-20 21:45] danehans commented on #219
#345 fixed this issue.

[2022-09-20 21:45] #219 closed

[2022-09-20 23:39] #397 closed

[2022-09-21 00:01] danehans commented on #301
Currently, when an httproute is created without any add'l Gateway API resources, EG does a bunch of unnecessary work:
[code]

Since a Gateway doesn't exist, I don't see the benefit of processing an invalid route. Instead, the httproute reconciler should list all gateways and log an error if the parentRefs can't be resolved.

[2022-09-21 02:22] skriss commented on #301
+1 to this, I think it's far simpler to have an event in any one resource that we care about trigger a full re-reconciliation (in the translator) rather than trying to process changes incrementally/in isolation in individual reconcilers. As Nick said, there are wide-ranging effects across resources and I think we'd probably have to end up having all of our reconcilers watch all resource types anyw

[2022-09-22 15:09] LukeShu commented on #284
Am I understanding correctly that this is all macOS-specific concerns? If so, I don't have a particularly strong opinion, as I don't use macOS.

Plus, I'm used to using `telepresence connect` as a sort of better `kubect port-forward`.

[2022-09-22 16:46] danehans commented on #222
@chauhanshubham do you have cycles to take this issue on?

[2022-09-22 16:51] chauhanshubham commented on #222
Sure.

[2022-09-22 17:33] danehans opened #405 "Close All Provider Resource Channels"
EG currently closes some provider resources channels. All channels should be closed when `<-ctx.Done()`.

xref `internal/cmd/server.go`.

[2022-09-22 17:58] danehans opened #406 "Set Gateway Listener Ready Condition when Gateway is created"
https://github.com/envoyproxy/gateway/pull/395 added support for surfacing listener conditions to gateways. When an httproute is deleted, the `attachedRoutes` of the references gateway is updated but not the Gateway's listener condition.  For example:
[code]

The status logic of the gatewayapi translator should be updated to set the listener condition "Ready=false".
xref: https://github.com/envoyp

[2022-09-22 18:00] arkodg commented on #406
@skriss is this is bug or working as expected ?

[2022-09-22 18:33] arkodg opened #407 "Improve Provider resource reconciliation"
*Description*:
We can further improve the performance of the system by ensuring that the provider reconcilers (for GatewayClass, Gateway and HTTPRoute) reconcile only when the resource spec has changed.

Today, when the Status Updater updates the status of a resource, we receive another reconcile notification which also triggers a redundant translation in the the gateway-api layer which triggers a

[2022-09-22 20:30] #70 closed

[2022-09-22 20:32] danehans opened #410 "Fix Feedback in https://github.com/envoyproxy/gateway/pull/208"
https://github.com/envoyproxy/gateway/pull/208 was merged but has feedback that should be addressed. This issues tracks the need to resolve the feedback.

[2022-09-22 20:47] skriss commented on #406
@danehans what exactly are you saying should be updated that is not? The "ready" condition shouldn't be affected by if there are routes attached or not.

[2022-09-22 20:51] skriss commented on #284
I'd suggest taking another look at https://github.com/chipmk/docker-mac-net-connect, I've had success using it before on macOS for this sort of thing and it doesn't require any changes for EG. I can try to find some time to test it out.

[2022-09-22 20:56] danehans commented on #406
@skriss when a gatewayclass and gateway are created, the gateway status shows no listener conditions until a httproute is created. When the same httproute is deleted, the `attachedRoutes` are updated to `0` and the listener condition is what I described above. Shouldn't we have consistent behavior for creating/deleting an httproute, e.g. delete the listener and update the associated condition? In

[2022-09-22 21:01] skriss commented on #406
Ah, yeah I think the ListenerStatus should probably get filled in when the Gateway is created, irrespective of whether there are routes attached or not. If that's not happening then that's probably the thing to fix here.

[2022-09-22 21:24] skriss opened #411 "add ReferenceGrant controller"
EG isn't currently watching ReferenceGrants and passing them to the gatewayapi translator. We need a ReferenceGrant reconciler to do this. The translator does have support for them. This will cause some conformance tests to fail until implemented.

[2022-09-23 00:31] arkodg commented on #329
fixed with https://github.com/envoyproxy/gateway/pull/395

[2022-09-23 00:31] #329 closed

[2022-09-23 16:10] danehans opened #413 "Consider Merging Controllers"
Since not all Gateway API resources have a parent-child relationship, consider merging controllers into a single reconciler.

xref: https://github.com/envoyproxy/gateway/pull/412
xref: https://github.com/envoyproxy/gateway/pull/403

[2022-09-23 16:38] danehans opened #414 "Status Updater Fails to Update Status"
I see the following error in the EG logs when creating a gateway:
[code]

Note that a gatewayclass was already created.

@arkodg do you think https://github.com/envoyproxy/gateway/pull/395 may be updating gateway status before making a copy of it?

[2022-09-23 16:56] danehans opened #415 "HTTPRoute Status Not Updated After Adding Backend"
I create a gatewayclass, gateway, and httproute. EG surfaces an error:
[code]

I then create the backend service but the route's status is never updated:
[code]

cc: @arkodg @skriss

[2022-09-23 17:01] danehans commented on #414
I see the same issue with httproutes:
[code]

[2022-09-23 17:03] danehans commented on #415
I'm seeing this issue even when the backend is created before the httproute.

[2022-09-23 17:12] danehans commented on #415
I was able to work around the issue by deleting the httproute, gateway, and gatewayclass. After recreating the gatewayclass, gateway, and httproute (after creating the backend) the httproute surfaced the proper status conditions:
[code]

[2022-09-23 17:46] arkodg commented on #415
sounds like an issue in the provider reconciler, maybe another reason to implement https://github.com/envoyproxy/gateway/issues/413 sooner than later

[2022-09-23 18:11] arkodg commented on #414
I think the status updater library needs to be updated to
* perform a GET before a PUT
* also made synchronous (currently asynchronous, runs in a go routine)

[2022-09-23 18:13] arkodg commented on #414
@danehans  it passes a copy already https://github.com/envoyproxy/gateway/blob/25acee55e46f3cd022157037697b08844d96a55d/internal/provider/kubernetes/gateway.go#L351

[2022-09-23 18:23] #323 closed

[2022-09-23 18:25] arkodg commented on #406
from @skriss 's comments it sounds like `attachedRoutes` is mutually exclusive to the Listener Ready status so this is a non issue

[2022-09-23 19:26] #391 closed

[2022-09-23 19:40] arkodg commented on #256
I dont see an easy of doing this w/o adding a new API or supporting Envoy resource configs directly.
suggesting moving this in `backlog` and tackling this later once https://github.com/envoyproxy/gateway/issues/31 is supported

[2022-09-23 23:03] arkodg commented on #413
I prefer if we implement this sooner than later and here's why
* performance
  * adding multiple watches for multiple resource controller means we'll be multiple notifications if a single resource changes, which will trigger multiple redundant translations (due to updating the watchable map)
* code complexity
  * handling deletes - since each resource type is part of a separate watchable map, the

[2022-09-23 23:03] #405 closed

[2022-09-24 00:41] arkodg commented on #74
we are currently at ~60% [code coverage](https://app.codecov.io/gh/envoyproxy/gateway) and this is a decent `threshold` to start off with imho.
based on https://github.com/codecov/codecov-action/issues/554 I'm unsure if `threshold` is supported by the GHA or not.
Hey @ethanhanjiahao is this something you could further look into and enhance in our CI ?

[2022-09-25 07:12] chauhanshubham commented on #413
+1
I think we could consider Gateway object as a root object, add a Gateway controller which watches over httproute, tlsroute, services, refgrants. and push these objects into the resource table as the updates come in.

[2022-09-25 10:26] chauhanshubham commented on #414
shouldn't this
https://github.com/envoyproxy/gateway/blob/f094c5bc02c8c00b1ca668586210b2c202e96b18/internal/status/status.go#L62
lead to retries where it GETs the object and tries applying status over it again?
If the updates for the same object are being sent asynchronously, I think it would retry and eventually update the correct status after a few retries?

[2022-09-26 01:47] ethanhanjiahao commented on #74
yes， i can enhance it

[2022-09-26 05:05] youngnick commented on #414
I think status updating _can_ be async, as long as:
- it gets passed an operation to do on the status (I think EG does this already)
- it GETs the object from the controller-runtime cache, then applies the status operation, then checks if things have changed, and only applies if it has.
- There's only one status updater running

That is, the status updater can handle the queue of updates asynchron

[2022-09-26 05:43] kristiandrucker opened #422 "HTTP3 support on gateway"
*Description*:
I'd like to ask about HTTP3 support in Envoy Gateway. Been looking in the official gateway-api sig as well as this repository but couldn't seem to find any mention of HTTP3.
Is it a feature that needs implementing, or is it just undocumented for now?

[optional *Relevant Links*:]

[2022-09-26 14:58] arkodg opened #423 "Handle IR deletes"
*Description*:
With https://github.com/envoyproxy/gateway/pull/404, the gateway-api translator now creates an IR per Gateway resource. This change in logic means that the gateway-api runner must also trigger an IR delete when a gateway resource has been deleted.

[2022-09-26 15:01] arkodg commented on #423
one way to handle this would be
1)  the runner would delete/reset all IR keys
2) repopulate with new keys
3) the infra and xds runner would subscribe for updates and not the complete state so can delete the translated ir resource based on `delete` notifications
4) must ensure 1) doesnt trigger multiple notifications and the end result of 2) is sent as a single notification

[2022-09-26 15:03] arkodg commented on #423
hey @LukeShu is there a way to pause watchable notifications so interim loads and deletes dont trigger notifications or would we need to use an external mutex/condition variable construct.

[2022-09-26 16:07] danehans commented on #413
A GatewayClass must be the root object. All others are objects are dependents of a GatewayClass.

[2022-09-26 17:45] NomadXD opened #424 "Segmentation fault when http routes are deployed using a namespaced kubernetes provider"
*Description*:
For a PoC I'm working on, I need to have namespaced EGs, for example two EGs with namespaces "foo" and "bar". EG with namespace "foo" will watch for gateways and http routes with namespace "foo". EG with namespace "bar" will watch for gateways and http routes with namespace "bar". For this I had to check out `release/v0.2.0-rc1` and do the following change to `internal/provider/kube

[2022-09-26 18:00] danehans commented on #256
Agreed. With control plane auth being added, we need to expose the certs dir and have a tool that generates the certs similar to the certgen job:
[code]

xref: https://envoyproxy.slack.com/archives/C03E6NHLESV/p1664212644662989

[2022-09-27 01:47] danehans opened #427 "Populate 127.0.0.1 Gateway Status When Local Hostname"
When running EG on Docker Desktop with Kubernetes, the Envoy service LB address is `hostname: localhost`. However, Gateway API conformance tests do not support hostname type addresses.

xref: https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.0/conformance/utils/kubernetes/helpers.go#L201-L207

[2022-09-27 15:40] #427 closed

[2022-09-27 16:54] NomadXD commented on #424
@danehans If you provide some insights about the issue, I can work on a fix and send a PR. Basically this is about adding support for namespaces.

[2022-09-27 17:02] arkodg commented on #414
@youngnick currently the producers (such as gateway-api translator) update the entire object including status and pass it over to the status subscriber, so we would have to update logic in all the producers to collect the list of updated status conditions and pass those over to the status subscriber so that the conditions are updated in the mutator func and not before. I think that is something th

[2022-09-27 17:02] danehans opened #430 "HTTPRouteHeaderMatching Conformance Test Fails"
The [HTTPRouteHeaderMatching](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteHeaderMatching) conformance test fails.

Test logs:
[code]

Reproducer:
- Run `make kube-deploy`.
- Add `tests.HTTPRouteHeaderMatching` to the [conformance tests](https://github.com/envoyproxy/gateway/blob/main/test/conformance/conformance_test.go).
- Run `make run-conformance`.

[2022-09-27 17:16] danehans opened #431 "HTTPRouteInvalidNonExistentBackendRef Conformance Test Fails"
The [HTTPRouteInvalidNonExistentBackendRef](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteInvalidNonExistentBackendRef) conformance test is failing.

Test Logs:
[code]

Envoy is returning a 503 instead of a 500. This may be due to the httproute controller not adding the route to the watchable map since it's considered invalid.

EG Logs:
[code]

It appears that validateBacke

[2022-09-27 17:25] danehans opened #432 "HTTPRouteInvalidBackendRefUnknownKind Conformance Test Fails"
The [HTTPRouteInvalidBackendRefUnknownKind](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteInvalidBackendRefUnknownKind) conformance test is failing.

Test Logs:
[code]

EG Logs:
[code]

Similar to https://github.com/envoyproxy/gateway/issues/431, it appears that validateBackendRef() needs to support [group](https://pkg.go.dev/sigs.k8s.io/gateway-api/apis/v1beta1#BackendObje

[2022-09-27 17:36] danehans opened #433 "HTTPRouteInvalidCrossNamespaceBackendRef Conformance Test Fails"
The [HTTPRouteInvalidCrossNamespaceBackendRef](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteInvalidCrossNamespaceBackendRef) conformance test is failing.

Test Logs:
[code]

EG Logs:
[code]

Similar to https://github.com/envoyproxy/gateway/issues/431, it appears that validateBackendRef() needs to support [cross-namespace references](https://pkg.go.dev/sigs.k8s.io/gateway-a

[2022-09-27 17:50] danehans opened #434 "HTTPRouteListenerHostnameMatching Conformance Test Fails"
The [HTTPRouteListenerHostnameMatching](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteListenerHostnameMatching) conformance test is failing.

Test Logs:
[code]

EG Logs:
[code]

Verify the use of [ValidUniqueListenerPorts](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/utils/suite#Options.ValidUniqueListenerPorts) in the conformance test setup works for test case Ga

[2022-09-27 18:23] danehans commented on #424
@NomadXD thanks for bringing this issue to our attention. I replaced the bug label with the enhancement label since the v0.2.0 release is focused on Gateway API conformance and will not support running multiple Envoy Gateways. I added this issue to the backlog, but free to work on this issue now if needed.

Each EG needs to have the "state of the world" so I'm unsure if this specific use case will

[2022-09-27 18:29] danehans commented on #162
@AliceProxy FYI I'm seeing this issue with the following conformance tests:

https://github.com/envoyproxy/gateway/issues/431
https://github.com/envoyproxy/gateway/issues/432
https://github.com/envoyproxy/gateway/issues/433

Please see these issues for additional details.

[2022-09-27 18:49] danehans commented on #411
@skriss ReferenceGrant is a feature that's [exempt](https://pkg.go.dev/sigs.k8s.io/gateway-api@v0.5.0/conformance/utils/suite#ExemptFeature) by default from the conformance tests. For example:
[code]

Since the RC2 release is scheduled for tomorrow, I anticipate ReferenceGrant getting pushed out to v0.3.0. For the time being, I'll keep this issue in the  0.2.0-rc2 milestone in case you or someone

[2022-09-27 18:50] AliceProxy commented on #162
:+1: The changes I was working on at the end of last week didn't properly handle the weighted responses so I switched over to a solution similar to how Istio is doing it. I'm trying to get a PR up for the gateway meeting in a few hours, but I'll keep working on this until it's done either way today.

[2022-09-27 18:54] arkodg commented on #414
please ignore the previous comment, @youngnick took your advice and merged the gateway conditions within the mutator func https://github.com/envoyproxy/gateway/pull/435 thanks !

[2022-09-27 19:09] danehans opened #436 "HTTPRouteMatching Conformance Test Fails"
The [HTTPRouteMatching](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteMatching) conformance test is failing.

Test Logs:
[code]

Similar failure behavior as https://github.com/envoyproxy/gateway/issues/430.

[2022-09-27 19:17] danehans opened #437 "HTTPRouteHostnameIntersection Conformance Test Fails"
The [HTTPRouteHostnameIntersection](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteHostnameIntersection) conformance test is failing.

Test Logs:
[code]

EG Logs:
[code]

The EG errors are similar to https://github.com/envoyproxy/gateway/issues/434.

[2022-09-27 21:47] #414 closed

[2022-09-27 23:44] skriss commented on #430
May be an issue with route ordering - there are some rules around how to prioritize different HTTPRoute rules/matches, which I'm not sure we have implemented yet, that could be causing a less specific route match (i.e. fewer header matches) to be prioritized over a more specific one. Just a guess though.

[2022-09-27 23:49] danehans opened #439 "HTTPRouteMatching Conformance Test Fails"
The [HTTPRouteMatching](https://pkg.go.dev/sigs.k8s.io/gateway-api/conformance/tests#HTTPRouteMatching) conformance test is failing.

Test Logs:
[code]

[2022-09-27 23:50] skriss commented on #413
+1 to this, I think it will also help down on a lot of code duplication that we're starting to get between the reconcilers and the Gateway API translator, around things like mapping routes to gateways, validating parent refs, etc.

[2022-09-28 00:00] skriss commented on #424
See https://github.com/kubernetes-sigs/gateway-api/issues/567 for upstream discussion on the idea of namespaced implementations.

[2022-09-28 00:55] danehans opened #440 "Refine Control Plane Auth"
A single EG<>Envoy control plane existed. https://github.com/envoyproxy/gateway/pull/208 added TLS for the control plane by generating CA, EG, and Envoy certs. with the addition of https://github.com/envoyproxy/gateway/pull/404, the number of Envoy's is no longer static. As an interim solution, #404 creates a wildcard certificate `*.envoy-gateway`. A more secure solution should be developed that s

[2022-09-28 01:05] danehans opened #441 "Hash the Names of Managed Infra Resources"
EG currently generates names of managed envoy infra. The names are generally constructed of gateway namespace, gateway name, etc. The names can be long and potentially exceed the allowed length (63 chars) of a Kube name. Instead, and similar to Kube, the name should be generated from a hash.

xref: https://github.com/envoyproxy/gateway/pull/404

[2022-09-28 04:08] arkodg commented on #380
fixed with https://github.com/envoyproxy/gateway/pull/404

[2022-09-28 04:08] #380 closed

[2022-09-28 04:09] arkodg commented on #382
fixed with https://github.com/envoyproxy/gateway/pull/404

[2022-09-28 04:09] #382 closed

[2022-09-28 15:20] danehans opened #444 "Bump Gateway API Dep"
Currently using v0.5.0 and [v0.5.1](https://github.com/kubernetes-sigs/gateway-api/releases/tag/v0.5.1) was just released.

[2022-09-28 15:33] #301 closed

[2022-09-28 21:13] skriss opened #448 "on startup, don't start translation until all resources have been loaded"
xref #447
xref #413
xref https://github.com/telepresenceio/watchable/pull/6

On startup/restart, EG should not start translating/sending xDS traffic until all resources have been loaded, to avoid issues with incomplete inputs.

[2022-09-28 21:42] danehans opened #450 "Make Codecov a Required CI Job"
https://github.com/envoyproxy/gateway/pull/449 makes the job optional due to the specified issue. The job should be required after the codecov issue is resolved.

[2022-09-28 21:47] danehans opened #451 "Reenable Provider Resource Synchronization"
https://github.com/envoyproxy/gateway/pull/447 removed provider resource sync due. When https://github.com/envoyproxy/gateway/issues/413 is resolved, the sync should be reenabled on the single provider resource map that contains all provider resources, i.e. Gateway, Service, etc..

[2022-09-28 21:50] arkodg commented on #451
dup of https://github.com/envoyproxy/gateway/issues/448

[2022-09-28 21:52] danehans commented on #451
Closing since this is a dupe.

[2022-09-28 21:52] #451 closed

[2022-09-28 22:28] skriss opened #452 "fix issues with enqueueRequestForOwningGatewayClass method"
https://github.com/envoyproxy/gateway/blob/main/internal/provider/kubernetes/gateway.go#L112-L136

Looks like this method needs some further updates for the switch to having an Envoy service/deployment per Gateway -- the name is now inaccurate, and we're comparing the value of the label (which should be a Gateway name) to the GatewayClassName field on the Gateway, which seems off. It's probably al

[2022-09-28 22:47] skriss opened #453 "labels on Gateway-owned resources (Envoy service, deployment) should include namespace"
Currently we set a single label on any resources owned by a Gateway (e.g. the envoy service and deployment) that contains the Gateway's name. This is going to be problematic if you have Gateways in two different namespaces that have the same name. We should either put namespace/name in the label value, or add a second label containing the namespace, to allow differentiating.

A quick look indicate

[2022-09-28 23:00] AliceProxy commented on #431
resolved when https://github.com/envoyproxy/gateway/pull/443 is merged

[2022-09-28 23:00] AliceProxy commented on #432
resolved when https://github.com/envoyproxy/gateway/pull/443 is merged

[2022-09-29 00:19] #423 closed

[2022-09-29 00:29] arkodg opened #454 "Run Conformance Tests with Identical Listener ports across Gateways"
*Description*:

* Currently the Conformance Tests run with Gateway Listeners with unique ports due to the config specified here https://github.com/envoyproxy/gateway/blob/b10f2623e5d67af2d96d6f127649dfb7d6bcac55/test/conformance/conformance_test.go#L32
* This helps developers (like me) run `make run-conformance` on K8s / Docker Desktop on my Mac which has a limitation of supplying a single LoadBal

[2022-09-29 00:31] arkodg commented on #454
thinking out load, we could run the CI command as `CONFORMANCE_UNIQUE_PORTS=false make-conformance` and use the env var value in https://github.com/envoyproxy/gateway/blob/b10f2623e5d67af2d96d6f127649dfb7d6bcac55/test/conformance/conformance_test.go#L32 to make a decision

[2022-09-29 02:26] Xunzhuo commented on #450
I will take a look at this.

[2022-09-29 15:51] #162 closed

[2022-09-29 15:51] #431 closed

[2022-09-29 15:51] #432 closed

[2022-09-29 16:12] skriss commented on #452
I'll work on this and #453 together.

[2022-09-29 16:12] skriss commented on #453
I'll work on this and https://github.com/envoyproxy/gateway/issues/452 together.

[2022-09-29 16:50] danehans commented on #453
Agree to have a separate label to ID the owning Gateway namespace.

[2022-09-29 17:05] skriss opened #457 "add Gateway owner labels to ServiceAccount and ConfigMap"
Currently the Deployment and Service created per Gateway are labeled with Gateway owner labels, but the ServiceAccount and ConfigMap are not. They should be labeled the same way for consistency.

[2022-09-29 17:13] #433 closed

[2022-09-29 17:23] #222 closed

[2022-09-29 17:29] #452 closed

[2022-09-29 17:29] #453 closed

[2022-09-29 17:54] danehans opened #459 "Gateway Ready Condition Fluctuates During Conformance Test Run"
The Gateway 'Ready" condition fluctuates during conformance test runs when it should consistently report `true`.

Reproducer:
- Create a Kube cluster.
- Install EG.
- Run conformance tests.
- Watch the Gateways under test. You will see the `Ready` status condition fluctuate between true/false and status address come and go. The Envoy Deployment is consistently available so the `Ready` condition sh

[2022-09-29 17:55] danehans commented on #459
cc: @arkodg

[2022-09-29 18:02] arkodg commented on #459
would like to implement https://github.com/envoyproxy/gateway/issues/407 and see if it helps or not

[2022-09-29 18:46] #370 closed

[2022-09-29 19:34] danehans commented on #235
@Xunzhuo are you still able to help with this issue?

[2022-09-29 19:43] #444 closed

[2022-09-29 19:44] #457 closed

[2022-09-29 19:53] danehans opened #464 "Gateway Reconciliation Loop"
EG gets stuck in a reconciliation loop after creating a gatewayclass and gateway.

[2022-09-29 19:55] danehans commented on #464
xref: https://github.com/envoyproxy/gateway/issues/459

[2022-09-29 20:16] #459 closed

[2022-09-29 20:16] #464 closed

[2022-09-29 20:21] danehans opened #467 "EG Panics When Removing GatewayClass"
To reproduce:
- Install a cluster.
- Install EG
- Install the quickstart.
- Uninstall the quickstart.
- EG panics.

EG Logs:
[code]

[2022-09-29 20:40] #467 closed

[2022-09-29 21:52] arkodg opened #471 "Support simple TLS termination"
*Description*:
Add support for HTTPS/TLS termination
Examples shown here https://gateway-api.sigs.k8s.io/v1alpha2/guides/tls/#examples

Looks like most of the work is already done in gateway-api translator https://github.com/envoyproxy/gateway/blob/8e1e9815a880236d49df1d21735f1a41fbb9b3d6/internal/gatewayapi/translator.go#L52 and the provider simply needs to reconcile secrets and pass it over.

[2022-09-29 21:57] skriss commented on #471
Oof you're right, I was thinking that this was already working end-to-end but yeah the provider is not passing secrets.

[2022-09-29 21:57] arkodg commented on #157
fixed with https://github.com/envoyproxy/gateway/pull/425

[2022-09-29 21:57] #157 closed

[2022-09-29 22:02] arkodg commented on #471
this would have been an easy win for 0.2.0 . This can be considered a bug and added to the 0.2.0 milestone cc @danehans

[2022-09-30 00:32] youngnick commented on #24
Sorry @NomadXD, I missed this.

There are both extension points (usually using an `extensionRef` field that is a reference to an arbitrary CRD, to be defined by the implementation), and Policy Attachment, which is intended for settings that can affect multiple resources (like setting a default for HTTPRoute timeout at the Gateway level by attaching a TimeoutPolicy to the Gateway).

[2022-09-30 00:35] youngnick commented on #396
`8` was a relatively arbitrary number chosen to maximise the chance that the whole record won't exceed the default etcd size limit. We felt that if you were matching more than 8 separate criteria, you could come and talk to us about why.

The Gateway API CRDs should _not_ be changed though, they are imported from the upstream project, and changing them will make your installation incompatible with

[2022-09-30 00:37] youngnick commented on #407
If we were okay with keeping some light state, we could keep the last seen `metadata.generation` for each resource, which would allow us to drop updates that don't change the spec, since `metadata.generation` is autoincremented by the apiserver each time the resource is changed.

[2022-09-30 00:39] youngnick commented on #406
No, the ListenerStatus should be filled in when the Gateway is processed, regardless of its value. The `attachedRoutes` is intended to be a lightweight check of how many Routes are attached (putting all the Route details in creates fan-out update problems).

[2022-09-30 00:43] youngnick commented on #422
Gateway API hasn't defined HTTP3 standards yet, the tracking issue is kubernetes-sigs/gateway-api#687. This is probably blocked until there's more progress there.

[2022-09-30 00:48] youngnick commented on #440
I'm not sure if I agree that having a separate cert per Envoy deployment is desirable - the TLS between control plane and data plane is really only for two things:
- to ensure that secrets are not interceptible on the wire
- to ensure that only EG managed Envoys connect to EG.

As long as users outside the EG namespace can't get to a shared keypair, then I think we can meet those requirements. And

[2022-09-30 00:52] arkodg commented on #407
ha we should be able to implement this logic, we should have some state in the watchable map !

also in the near future this enhancement will be needed since https://github.com/envoyproxy/gateway/issues/413 will convert everything into a single object and leverage watchable (using `snapshot.Updates` rather than `snapshot.State`) to inform the next layer whether anything changed or not

[2022-09-30 15:51] danehans commented on #318
Fixed by https://github.com/envoyproxy/gateway/pull/320

[2022-09-30 16:06] danehans commented on #324
Reopened to use this issue as a recurring reminder to create a changelog per release.

[2022-09-30 16:07] danehans commented on #324
This issue can be reclosed after https://github.com/envoyproxy/gateway/pull/325 has been merged.

[2022-09-30 16:30] danehans commented on #43
@arkodg can this issue be closed?

[2022-09-30 16:31] danehans commented on #35
@arkodg can this issue be closed?

[2022-09-30 16:32] arkodg commented on #35
we dont need a full fledged service resolver design & implementation, but a reconciler within `provider` is needed to aggregate service endpoints. should be doable for 0.3.0

[2022-09-30 16:34] arkodg commented on #43
sure lets close, we seem to be doing fine w/o any sophisticated config manager atm, lets reopen if the need arises.

[2022-09-30 16:34] #43 closed

[2022-09-30 16:43] skriss commented on #406
Let me try to re-test this today, I think it might be fixed as a result of some of the other PRs that have since been merged.

[2022-09-30 16:55] skriss commented on #406
Running through the quickstart using the hot-off-the-presses v0.2.0-rc.2:

Just after creating the Gateway, I see:

[code]

After creating the HTTPRoute, I see:

[code]

I then delete the HTTPRoute, and see:

[code]

This all looks right to me and seems to working as expected. @danehans, if you agree, then let's close this out.

[2022-09-30 17:00] arkodg opened #477 "Add `.` to rc pre-release tags"
*Description*:
Based on https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions pre release tags should be tagged as `major.minor.patch-rc.X` instead of `major.minor.patch-rcX`
Related https://envoyproxy.slack.com/archives/C03E6NHLESV/p1662052422742649

[2022-09-30 17:01] skriss commented on #434
It looks like #441 is also at play here, the Service name is too long to be valid.

[2022-09-30 17:03] skriss commented on #436
This could also be an issue with EG not ordering the routes properly before sending to Envoy.

[2022-09-30 17:04] skriss commented on #439
@danehans is this a dupe of #436? Looks the same to me.

[2022-09-30 17:14] arkodg commented on #324
I liked how https://github.com/envoyproxy/gateway/releases/tag/v0.2.0-rc1 acknowledged community contributions, we should consider something similar going forward

[2022-09-30 19:42] danehans opened #479 "Simplify Kustomization Setup"
With https://github.com/envoyproxy/gateway/pull/478, EG will have 3 different kustomization files. Look at simplifying the customization setup.

[2022-09-30 20:47] skriss commented on #479
My 2c: let's consider whether we even need kustomize. I'm not sure how much value it's adding relative to the complexity it adds.

[2022-09-30 23:36] danehans commented on #439
Yes it is. I'll close. Thanks for catching the dupe.

[2022-09-30 23:37] #439 closed

[2022-10-01 15:12] Xunzhuo commented on #71
/assign @danehans, I would like to implement this feature for a long-term. I started working on WASM on envoy 2 years ago.

[2022-10-01 19:55] danehans commented on #71
@Xunzhuo thanks for picking this issue up. I assigned the issue to you and included it in the v0.3.0-rc.1 milestone. I suggest starting off with a high-level design doc. You can use the system design doc as a reference.

[2022-10-01 20:21] danehans commented on #406
Agreed. Thanks for checking on this @skriss.

[2022-10-01 20:21] #406 closed

[2022-10-03 11:41] BLasan commented on #396
Hi @youngnick , we have a sample petstore swagger file which consists of more than 8 paths which needs to be converted to a HTTPRoute config file. That httproute config should consists of all paths in the swagger definition irrespective of the gateway implementation. If this is not the best practice, could you please suggest the most effective way of doing this and exposing it as an API? Also, thi

[2022-10-03 19:00] arkodg opened #483 "HTTPRouteMatchingAcrossRoutes sometimes fails"
*Description*:
[HTTPRouteMatchingAcrossRoutes](https://github.com/envoyproxy/gateway/blob/403e377c4e081ab9fc9fa985ef38177e1e7d226e/test/conformance/conformance_test.go#L48) sometimes fails
[code]

*Repro steps*:
seen in https://github.com/envoyproxy/gateway/pull/480

*Logs*:

Here's the HTTPRoutes spec https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/httproute-matching-ac

[2022-10-03 19:01] arkodg commented on #483
@skriss is my understanding of the issue correct ?

[2022-10-03 19:13] danehans opened #484 "Collapse Quickstart Example Manifests"
The steps in the quickstart guide can be simplified if the example httpbin app, gatewayclass, gateway, and httproute were consolidated into a single manifest.

[2022-10-03 19:14] danehans opened #485 "Collapse Gateway API CRDs and Envoy Gateway Installation Manifests"
Currently, separate manifests are created per release, For example:
[code]

This creates an additional installation step that can be eliminated if the manifests were collapsed.

[2022-10-03 19:20] arkodg commented on #483
another minor issue I see is  the `Hostnames` field is set to `*` by the Gateway API translator instead of the specific Hostname/virtual host such as `example.com`

[2022-10-03 19:41] danehans commented on #314
Reopening since I see the following error when running `make lint` locally:
[code]

I understand that spellchecker is installed in GitHub Actions by default but Devs should be able to run the target locally without error.

[2022-10-03 21:08] skriss commented on #483
I think this is a similar issue to a couple of the other conformance issues -- essentially, we need to sort routes so that those with longer (more specific) path match criteria come first. I.e. in this case, since "/v2" is a longer path match than "/", it should be the route that gets chosen when a request's path starts with "/v2". This is described in https://gateway-api.sigs.k8s.io/references/sp

[2022-10-03 21:21] skriss commented on #483
For reference, here's Contour's logic for sorting routes: https://github.com/projectcontour/contour/blob/main/internal/sorter/sorter.go#L163

[2022-10-03 22:18] arkodg commented on #415
tried this out and can repro the issue, it is tied to the logic behind how status is computed in the Gateway API translator. Currently the translator only merges/appends new status conditions https://github.com/envoyproxy/gateway/blob/765e14ea3bcc949f4a98775429d33dbb792042f1/internal/gatewayapi/contexts.go#L267, but does not reset older ones previously created (in this case https://github.com/envo

[2022-10-03 23:14] danehans commented on #441
Added `bug` label due to #434.

[2022-10-03 23:30] danehans commented on #74
@ethanhanjiahao can you please confirm if you can fix this issue by the [v0.2.0 milestone](https://github.com/envoyproxy/gateway/milestone/6)?

[2022-10-03 23:36] danehans commented on #65
Note that https://github.com/envoyproxy/gateway/issues/168 and https://github.com/envoyproxy/gateway/issues/411 are not required to pass conformance tests.

[2022-10-03 23:39] danehans commented on #65
[Outstanding v0.2.0 conformance test issues](https://github.com/envoyproxy/gateway/issues?q=is%3Aissue+is%3Aopen+label%3Aarea%2Fconformance+milestone%3A0.2.0).

[2022-10-04 00:12] danehans commented on #71
@Xunzhuo thoughts on you assisting with #24 first?

[2022-10-04 01:07] danehans commented on #441
When using hashed names for managed resources, users will need to use ` --selector` to correlate managed resources to a Gateway. For example:
[code]

It might make debugability a bit easier if we had one label that was `namespace/name`. @arkodg @skriss @LukeShu @youngnick thoughts?

[2022-10-04 01:26] Xunzhuo commented on #314
Right, shelchecker is pre-installed in GA, we can add it in local.

[2022-10-04 09:48] pubudu538 opened #492 "Introduce a CRD for backend details"
*Description*:
The HTTPRoute specification states that you can specify a backend service under backendRef and give the service name and port. It also permits creating custom resource definitions in addition to these two fields.
The implementations of the backend services can be secured using basic authentication, OAuth2, MTLS, etc. Along with these configs, backends can set their own timeout limit

[2022-10-04 15:45] danehans commented on #314
@Xunzhuo are you able to submit a PR to add local support of `spellcheck`?

[2022-10-04 16:47] skriss opened #493 "test EG against multiple Kubernetes versions"
We should test EG against multiple Kubernetes versions -- IMO at least the latest 3 minor versions.

[2022-10-04 16:54] arkodg commented on #492
hey @pubudu538 thanks for considering to contribute to the project.
There are currently multiple ways to achieve some of the features specified either using the `extensionRef` field with [HTTPRoute](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io%2fv1beta1.HTTPRouteFilter) or [PolicyAttachment](https://gateway-api.sigs.k8s.io/references/policy-attachment/) and the projec