[2022-10-04 17:08] Xunzhuo commented on #314
Ok, sure. @danehans

[2022-10-04 17:15] danehans opened #494 "Improper Use of UnsupportedValue HTTPRoute Condition Reason"
Currently, the [RouteReasonUnsupportedValue](https://pkg.go.dev/sigs.k8s.io/gateway-api/apis/v1beta1@v0.5.1#RouteReasonUnsupportedValue) reason is being used with the "ResolvedRefs" condition type. In [v0.5.1](https://github.com/kubernetes-sigs/gateway-api/pull/1382), this reason should be used with the “Accepted” condition.

xref: https://github.com/envoyproxy/gateway/pull/249#discussion_r9641269

[2022-10-04 17:18] arkodg commented on #415
@skriss what about the other statuses conditions (within the Gateway and HTTPRoute) set by the translator in the first iteration but have changed in the second iteration (due to change in resources) ?

[2022-10-04 17:35] skriss commented on #357
Closing, replaced by #494

[2022-10-04 17:35] #357 closed

[2022-10-04 17:47] arkodg commented on #324
yeah looks like we've preserved it, which is great :) , but now i'm confused as to how https://github.com/envoyproxy/gateway/blob/main/changelogs/0.2.0-rc2.yaml is being presented to the user

[2022-10-04 17:53] skriss commented on #415
Yeah you may have similar issues for those. I'd say clearing the existing conditions before translate is probably a good first step, but yeah ultimately we probably need more intelligent condition merge logic to handle all the cases of adding, updating, removing conditions properly.

[2022-10-04 18:17] arkodg commented on #415
yeah I think if we reset the conditions in the translator and merge the conditions (which will ensure an condition remains unchanged ) in the [status subscriber](https://github.com/envoyproxy/gateway/blob/5bf94c11e16a5c6bda2938de70feb15d2b60e626/internal/provider/kubernetes/httproute.go#L318) we can compute the correct conditions w/o performing excessive writes against the API Server

[2022-10-04 20:54] kflynn commented on #348
Addressed in #400 now.

[2022-10-04 20:56] kflynn opened #496 "User-facing quickstart doc"
In the RST docs, there should be a user-facing quickstart about how to install Envoy Gateway and route traffic to a sample service. This may be as "simple" as turning `docs/user/QUICKSTART.md` into RST.

[2022-10-04 20:58] kflynn opened #497 "Move older Markdown docs into RST docs"
All of these need to be dealt with, which might mean translating to RST, moving into a different location, or deleting.

- [ ] `docs/design/CONFIG_API.md`
- [ ] `docs/design/SYSTEM_DESIGN.md`
- [ ] `docs/design/gatewayapi-translator.md`
- [ ] `docs/design/watching.md`

[2022-10-04 21:02] kflynn opened #498 "Make `envoy-gateway --version` properly user-facing"
After discussion, we've agreed that `envoy-gateway --version` should be a real, user-facing thing. It, uh, needs some work to get there:

- [ ] Include its own version number
- [ ] Use `--version` as a switch (instead of the `version` command), as is the Cobra Way™
- [ ] Figure out Cobra's templating so it's still nice and neat and works with the switch for env-var output

[2022-10-04 21:07] kflynn opened #499 "Consider RST versions of GOALS.md, etc."
We should decide whether or not to have RST-doc versions of GOALS.md, CONTRIBUTING.md, etc., so that people reading the docs can see them there. We could also just link out to the Markdown versions (which is what the docs currently do), though that's a bit less friendly.

**NOTE**: in any case, we should be **very** careful to separate developer docs from user docs.

[2022-10-04 21:23] kflynn opened #500 "docs: Describe which areas of Gateway API are and are not supported"
This information is buried in the conformance-test output, but it should be made much more user-visible.

[2022-10-04 21:37] kflynn opened #501 "docs: User-facing tutorial examples"
We should probably follow https://gateway-api.sigs.k8s.io/guides/getting-started/ here:

- [x] [Simple Gateway](https://gateway-api.sigs.k8s.io/guides/simple-gateway/)
- [x] [HTTP Routing](https://gateway-api.sigs.k8s.io/guides/http-routing/)
- [x] [HTTP Redirects](https://gateway-api.sigs.k8s.io/guides/http-redirect-rewrite/), but note that we think that rewrites aren't working yet
- [x] [HTTP Tr

[2022-10-04 21:41] kflynn opened #502 "docs: Infrastructure-provider/cluster-operator tutorial examples"
How should someone in the infrastructure-provider or cluster-provider roles work with Envoy Gateway? What tutorial examples can we provide?

The obvious is "how to set up Envoy Gateway as the default ingress for your cluster for developers to use".

[2022-10-04 21:50] arkodg opened #503 "docs: Layout for user docs"
*Description*:
This issue tracks the layout for the user-facing docs. Here is just a suggestion
- [x] What is Envoy Gateway.
- [x] EG Architecture (diagram and docs from existing [design doc](https://github.com/envoyproxy/gateway/blob/main/docs/design/SYSTEM_DESIGN.md)).
- [x] Quickstart
- [x] Installation? EG currently does not support config (EnvoyGateway CRD is not getting mounted to the pod).

[2022-10-04 21:59] danehans commented on #441
A similar approach will be needed for the ports of the managed Envoy serivce.

[2022-10-04 22:06] arkodg commented on #441
I prefer if we used a hybrid approach in naming - `envoy-<40-50 char namespaced name>-<short-hash>` to improve debug speed.

[2022-10-04 22:13] arkodg opened #504 "Fix flaky xds Translator TestRunner"
*Description*:
Fix and re enable flaky Xds [TestRunner](https://github.com/envoyproxy/gateway/blob/5bf94c11e16a5c6bda2938de70feb15d2b60e626/internal/xds/translator/runner/runner_test.go#L16)

[optional *Relevant Links*:]
Intermittent failures seen in https://github.com/envoyproxy/gateway/actions/runs/3184962312/jobs/5193973518#step:4:110

[2022-10-04 22:31] arkodg commented on #503
next steps for this issue would be to
* narrow down the layout
* create a sample index pages for the layout with Lorem Ipsum text that can be filled in with actual content later

[2022-10-05 05:52] lizan commented on #336
@danehans do we want to have the docs translated into markdown into https://github.com/envoyproxy/gateway/tree/main/docs/design ?

[2022-10-05 08:46] pubudu538 commented on #492
Hi @arkodg, Thank you for your reply.

I suppose I didn't make my expectations clear enough. Let me reword that. The policy attachment and auth policies are basically apply to the API. Those are applied between the client and gateway. My concern is about the backend and gateway. The backend service can be protected with different security mechanisms and the gateway has to know how to connect to th

[2022-10-05 16:22] arkodg commented on #492
@pubudu538 afaik the policies you want to apply for the specific backend can be described using the policy or filter extensions and can be implemented in a way that is transparent to the backend.
Recommend opening a separate issue to highlight the need for Resilience Policy ( [Outlier Detection](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/outlier_detection.proto#config-clu

[2022-10-05 16:32] #11 closed

[2022-10-05 16:33] danehans opened #506 "Reenable xDS Translator Test Runner"
https://github.com/envoyproxy/gateway/pull/505 disables the test due to recent flakes. This test should be reenabled.

[2022-10-05 16:35] arkodg commented on #506
dup of https://github.com/envoyproxy/gateway/issues/504

[2022-10-05 16:35] #506 closed

[2022-10-05 23:13] arkodg opened #512 "Add support for HTTPQueryParamMatch in Gateway API Translator"
*Description*:
Add support for translating [HTTPQueryParamMatch](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPQueryParamMatch) into the [XDS IR](https://github.com/envoyproxy/gateway/blob/c059da0e582fc39ae49c0f9a9cc5f028f9792675/internal/ir/xds.go#L145) field in the Gateway API translator

[2022-10-06 02:29] danehans commented on #336
Yes, design docs should be in markdown under `./docs/design`. Refer to the other merged design docs as a reference model for this design doc.

[2022-10-06 03:42] danehans commented on #415
#507 does just this. I'm concerned about making major changes at this point in the release, so I prefer #507 gets merged and we iterate to improve status. @arkodg I am unclear what the bigger issue is that you describe in https://github.com/envoyproxy/gateway/issues/415#issuecomment-1266127024 and what is meant by "clearing" or "reset" status conditions. Typically, status conditions are set and th

[2022-10-06 06:46] lizan commented on #336
Sure, will open an PR for discussion this week.

[2022-10-06 16:23] kflynn commented on #348
Fixed in #400.

[2022-10-06 16:24] AliceProxy commented on #441
I'll take this one on. Should have some bandwidth in the coming week.

[2022-10-06 16:40] #55 closed

[2022-10-06 17:01] phlax commented on #17
i would say lets link it in initially - not sure exactly how/where - but i think that will be easiest

[2022-10-06 17:18] danehans commented on #415
@arkodg thanks for taking the time to help me understand your comment. I now see that the gatewayapi translator needs to handle updating the other condition types as well. I think it's best to have the gatewayapi translator build the conditions list from scratch every time, send the conditions to the provider in a StatusUpdate and have the provider only update the object if the list differs (exclu

[2022-10-06 17:20] danehans opened #515 "Update Maintainers"
Update the list of maintainers.

[2022-10-07 16:31] danehans opened #517 "Infra Manager Unable to Create Service When Gateway Has Multiple Ports"
Create a Gateway with multiple ports:
[code]

The Infra Manager is unable to create the Service:

[code]

You can see the duplicate port name in the infra IR:
[code]

[2022-10-07 16:33] danehans commented on #517
xref #471 #441

[2022-10-07 17:53] arkodg commented on #504
spent a cycle on this issue today and it looks like there is some issue with `snapshot.Updates`
here is the diff I added
[code]

I ran the test a 100 times using `~/go-workspace/src/github.com/envoyproxy/gateway/internal/xds/translator/runner$ go test ./... -v -count 100`

For the good case, there is an update, but for the bad case, there is a notification but no update
[code]

@LukeShu any sugges

[2022-10-07 19:17] #436 closed

[2022-10-07 19:17] #483 closed

[2022-10-07 20:09] danehans commented on #448
Note that this fix is needed to ensure `lastTransitionTime` is not updated when EG is restarted.

[2022-10-07 20:23] #415 closed

[2022-10-07 21:23] #517 closed

[2022-10-08 00:34] danehans opened #520 "Multiple HTTPS Listeners Fails"
TLS termination fails for one listener when multiple HTTPS listeners are configured.

__Reproducer:__
Create the TLS assets for both listeners.
[code]

Store the certs/keys in a Secret:
[code]

Create the example backend app:
[code]

Create the GatewayClass:
[code]

Create the Gateway:
[code]

Create the Gateway, and HTTPRoute:
[code]

The xds IR that gets generated:
[code]

Infra IR:
[code]

Requ

[2022-10-08 00:49] arkodg commented on #520
good find, just by looking at the logs here's a hunch - Gateway API tries to do the right thing and create a unique listener with the same port number in the Xds IR, but looks like envoy does not support this https://github.com/envoyproxy/envoy/pull/19145 . Will need to test out this config once #519 is in

[2022-10-08 06:12] Xunzhuo opened #523 "Whitenoise linter is not working well in GA"
*Description*:

See:

<img width="742" alt="image" src="https://user-images.githubusercontent.com/48784001/194692091-0d0b6e28-b39d-4ad9-8295-e1c593d54d2c.png">

https://github.com/envoyproxy/gateway/actions/runs/3208530844/jobs/5244475038

whitenoise linter is not working well in PR GA.

[2022-10-09 07:34] Xunzhuo opened #526 "Certs not found when starting EG"
*Description*:

Cert Job runs after deploying deployment of EG, when starting EG, the secret is not existed.

<img width="1169" alt="image" src="https://user-images.githubusercontent.com/48784001/194743923-de4206de-22f2-4f35-880a-23c5ee7cf116.png">

<img width="892" alt="image" src="https://user-images.githubusercontent.com/48784001/194743943-58745b7a-790c-424f-b48c-1eff7424a448.png">

[2022-10-09 07:58] Xunzhuo opened #527 "Make kube-undeploy Target Failed"
*Description*:

<img width="1126" alt="image" src="https://user-images.githubusercontent.com/48784001/194744708-2d999ef5-7279-4f27-a2aa-7fadb2799f22.png">

namespace "envoy-gateway-system" deleted first, so resources under this NS will be deleted too. Twice deletions caused Failure.

[2022-10-09 08:00] Xunzhuo commented on #523
BWT, do we really need to maintain this linter? How much value does it have?

[2022-10-09 08:30] Xunzhuo commented on #454
Anyone working on this?

[2022-10-10 05:11] Xunzhuo opened #533 "Translate httproute with N listeners Order failed"
*Description*:

Occasionally occurs: https://github.com/envoyproxy/gateway/actions/runs/3213492844/jobs/5253203220

When we translate Gateway CR Listener to ListenerContext, types change from array to map, which makes order may not follow the Gateway CR Listeners. The port name may not follow the origin order, which cause the translation failed.

[2022-10-10 07:32] Xunzhuo commented on #226
/assign

[2022-10-10 15:06] #430 closed

[2022-10-10 16:41] AliceProxy commented on #485
This seems like a good idea for now, but something to consider for the future, if we want to make a helm chart available at any point then the CRDs will need to be separated out from the chart again (or have their own chart) since Helm 3 will install CRDs if they are not present, but it will not update the CRDs if they exist in the cluster regardless of any differences. https://helm.sh/docs/chart_

[2022-10-10 18:01] #533 closed

[2022-10-10 18:17] #527 closed

[2022-10-10 18:47] chauhanshubham opened #536 "Fix logic for deleting Services from ProviderResources"
*Description*
The current logic attempts to Delete Services from the ProviderResources map when no Routes are found on the cluster, for a given namespace.

https://github.com/envoyproxy/gateway/blob/81eb8178550e7dfe111caf329390e5554c61d0c8/internal/provider/kubernetes/httproute.go#L284

_Snippet_

[code]

This tries deleting a Service with namespace/name that matches the HTTPRoute which came in to

[2022-10-10 20:36] arkodg commented on #74
fixed with https://github.com/envoyproxy/gateway/pull/513

[2022-10-10 21:41] danehans opened #538 "Gateway Listener Conditions are Not Updated Properly for an Invalid or Missing ReferenceGrant"
https://github.com/envoyproxy/gateway/pull/519 adds support for TLS termination. As part of this PR, initial ReferenceGrant support was added to allow Gateways to reference Secrets in a different namespace. However, listener status is not being updated properly for the following conditions:

1. A Gateway listener should fail to become ready if the Gateway has a `certificateRef` for a Secret in a d

[2022-10-10 22:25] danehans opened #539 "A ReferenceGrant Should Be Removed From Watchable Map When UnReferenced"
#471 added initial support for ReferenceGrants by allowing Gateways to reference Secrets in a different namespace. The gateway controller adds the ReferenceGrant and the ReferenceGrant namespace to the provider watchable map when:

1. A Gateway listener references a Secret in a different namespace.
2. A ReferenceGrant in the above namespace exists and permits the Gateways `from` the Gateway's name

[2022-10-11 02:15] #407 closed

[2022-10-11 04:54] Xunzhuo commented on #504
I am looking at this issue.

[2022-10-11 15:55] #485 closed

[2022-10-11 16:22] danehans commented on #536
@chauhanshubham thanks for catching this issue. The httproute/tlsroute controllers should get the HTTPRoute from the resource map before deleting it and then iterate through the Service backends, deleting each from the map.

[2022-10-11 17:24] Amila-Rukshan commented on #492
I came across this GEP in gateway-api project, seems it's related to this issue:
https://gateway-api.sigs.k8s.io/geps/gep-1282/
and an opened PR to update the API for it:
https://github.com/kubernetes-sigs/gateway-api/pull/1430/files

[2022-10-11 18:01] danehans opened #540 "Update Example Manifests API Group"
The [example manifests](https://github.com/envoyproxy/gateway/tree/main/examples) should use the `v1beta1` instead of `v1alpha2` API group.

[2022-10-11 18:02] #168 closed

[2022-10-11 18:48] #235 closed

[2022-10-11 20:18] #471 closed

[2022-10-11 20:52] arkodg commented on #523
can you repro this ? seems like its specific to the diff
we could add `set -x` to better understand the issue

[2022-10-11 20:53] #484 closed

[2022-10-11 20:55] danehans opened #543 "Update Quickstart Guide"
Now that https://github.com/envoyproxy/gateway/pull/511 merged, update the quickstart guide with the new consolidated steps.

[2022-10-11 20:55] danehans commented on #543
Note: The steps should not be updated until the v0.2.0 release branch is cut.

[2022-10-11 21:18] danehans commented on #411
@skriss  #519 adds initial RefGRant support.

[2022-10-11 21:18] #411 closed

[2022-10-11 21:25] danehans commented on #284
__Note:__ Comment-out run-kube-local target to avoid dev confusion.

[2022-10-11 21:30] danehans commented on #324
Update changelog -> release notes.

[2022-10-11 21:42] danehans commented on #504
@LukeShu PTAL when you have a moment.

[2022-10-11 21:52] danehans commented on #536
xref #539

[2022-10-11 21:53] danehans commented on #540
/assign @AliceProxy

[2022-10-11 21:54] danehans commented on #543
Add https://github.com/envoyproxy/gateway/pull/542.

[2022-10-11 22:13] arkodg commented on #471
the TLS termination conformance tests should be incorporated once they are added upstream which is being tracked with https://github.com/kubernetes-sigs/gateway-api/issues/1104

[2022-10-11 22:14] skriss commented on #520
Yeah, Gateway API Listeners do not correspond 1:1 to Envoy Listeners. Somehow we'll need to end up with one Envoy listener but multiple filter chains on that listener, each of which has a filter chain match on the appropriate SNI and which presents the corresponding TLS certificate. TBD in which translation layer that should be done.

[2022-10-11 22:15] #540 closed

[2022-10-11 22:16] skriss commented on #538
There is code for this in the Gateway API translator: https://github.com/envoyproxy/gateway/blob/main/internal/gatewayapi/translator.go#L416-L441

Will have to dig in further to see what's going wrong.

[2022-10-11 22:20] skriss opened #545 "finish implementing ReferenceGrant for HTTPRoute -> Service references"
#519 completed the missing piece of implementing ReferenceGrant for Listener -> Secret references. Something similar needs to be done for HTTPRoute -> Service references. The Gateway API translator already has logic to check cross-namespace references (https://github.com/envoyproxy/gateway/blob/main/internal/gatewayapi/translator.go#L660-L683), but the provider / HTTPRoute reconciler needs to pass

[2022-10-11 22:58] arkodg commented on #520
agree, I think its easier to do it in the xds translator layer since the matches happen at different levels
* server_names in filter chain match for TLS termination and pass through
* Domains in virtualHosts for HTTP

[2022-10-11 23:25] arkodg commented on #168
we should run the upstream conformance test in CI once its added ( tracked via https://github.com/kubernetes-sigs/gateway-api/issues/1452)

[2022-10-11 23:47] arkodg commented on #504
@LukeShu another data point that points to an issue with `snapshot.Updates`

Added a diff that counts the number of elements in the map every time
[code]

here is the difference between the passing case and failed one -  the failed one gets a notification with a key but doesnt get an update
[code]

[2022-10-12 00:57] #494 closed

[2022-10-12 01:31] Xunzhuo commented on #523
I think every PR lint GA will have this error. @arkodg

[2022-10-12 02:44] skriss commented on #538
@danehans I ran through https://github.com/envoyproxy/gateway/pull/542 but created the TLS secret in the `envoy-gateway-system` namespace instead of `default`, and edited the Gateway to reference that TLS secret, and the status looked like what I'd expect:

[code]

I'll try some more permutations tomorrow to see if I can repro, but if you have any additional repro information, that'd be helpful. W

[2022-10-12 02:48] danehans commented on #538
@skriss thanks for looking into this. This issue was created due to two failed ReferenceGrant conformance tests. I commented them out and referenced this issue in conformance_tests.go.

[2022-10-12 03:09] skriss commented on #538
Ah, there was a clarification to the condition reason to use for this scenario, I've got a patch ready for that but looks like this is also hitting #441 and the Service is not being created.

[2022-10-12 04:38] danehans commented on #538
cc: @AliceProxy

[2022-10-12 04:55] chauhanshubham commented on #536
Does having a separate cache for these mappings make sense? Something like
[code]
Or we'll probably have to iterate through the ProviderResource cache multiple times
once to find out which services were referred by the deleted route
and second time to find whether the services are referred by other routes currently present.
^ both the steps must be performed for every kind of route in the Provider

[2022-10-12 14:46] NomadXD commented on #424
@danehans I think you misunderstood what I suggested.

I did NOT mean that each EG should support a list of configured namespaces. I just mean that if we configure an instance of a EG with a namespace, then it should watch only the resources related to that namespace. Just single namespaced deployments as suggested here also : https://github.com/kubernetes-sigs/gateway-api/issues/567#issuecomment-

[2022-10-12 15:41] danehans opened #550 "Allow release-manifests Target to Specify Image"
Add `$(IMAGE)` to the `release-manifests` target. This will allow e2e testing of a release prior to cutting the actual release. For example, @Xunzhuo created [this](https://github.com/Xunzhuo/gateway/releases/tag/v0.2.0) test v0.2.0 release but the EG deployment manifest uses a non-existent image.

[code]

[2022-10-12 15:42] danehans commented on #550
@arkodg thoughts?

[2022-10-12 16:03] Xunzhuo commented on #550
/assign

[2022-10-12 16:35] NomadXD opened #551 "Per HttpRoute(API) cluster creation"
*Description*:
With the current implementation a cluster is created per each of the routes. For example in the following HttpRoute, 3 clusters will be created one for each "/abc", "/def" and "/ghi".

[code]

Envoy proxy uses a cluster to represent a backend service (host and port) and there's NO point of creating multiple clusters if each route of the same HttpRoute points to the same cluster. **T

[2022-10-12 16:39] danehans commented on #424
@NomadXD thanks for the clarification. I see this as a plausible use case that can be supported. Note that EG cannot truly support "single namespace" deployments until https://github.com/kubernetes-sigs/gateway-api/issues/567 is resolved by not requiring the GatewayClass cluster-scoped resource.

I'm a +1 for adding this to v0.3.0. THoughts @skriss @youngnick @arkodg @LukeShu?

[2022-10-12 16:43] Xunzhuo commented on #550
OK, ping me if this is needed, I have already implemented this locally.
<img width="819" alt="image" src="https://user-images.githubusercontent.com/48784001/195400782-f796635a-ed78-4ef2-bf78-211ed6609b01.png">

[2022-10-12 20:18] danehans opened #554 "Document TLS Passthrough"
Create a doc that shows a user how to configure TLS passthrough.

[2022-10-12 20:20] danehans commented on #554
cc: @chauhanshubham

[2022-10-12 23:53] arkodg commented on #551
thanks for raising this issue, adding this to the 0.3.0 milestone
in case someone would like to pick this one, here's one suggestion on how to dedup clusters
* naming the RouteDestination IR https://github.com/envoyproxy/gateway/blob/2fb3ca8954705dabbcfa08007b658655fcb60f46/internal/ir/xds.go#L239 or creating a wrapper struct around the list
https://github.com/envoyproxy/gateway/blob/2fb3ca8954705

[2022-10-13 00:30] arkodg commented on #550
yah this sounds good, thanks for picking this up @Xunzhuo !

[2022-10-13 00:49] arkodg commented on #424
yah `Namespaces []string` in https://github.com/envoyproxy/gateway/blob/01a638c07dd4dab0a5a1df85b8c5cf2582f5bae2/api/config/v1alpha1/envoygateway_types.go#L83 sounds like a valid use to me especially when multiple app teams will want to deploy their own EG in the same cluster. Reducing the discovery radius is one part of the solution, we also will need to rely on the outcome of https://github.com/

[2022-10-13 13:44] LukeShu commented on #504
The only notification without updates is the initial one, before anything has been put in the map.  So that's fine.

BUT it does reveal that the code needs to be changed to handle anything that's already in the `watchable.Map` by the time `.Subscribe` gets called, which is the bug.

Also, a different test is broken with any `-count` > 1, because `controller-runtime.SetupSignalHandler()` is designe

[2022-10-13 16:39] arkodg commented on #177
busy with other issues, unassigned myself for now, in case someone wants to pick this one up

[2022-10-13 19:38] danehans opened #562 "HTTPRoute with URL Rewrite Produces Accepted=True HTTPRoute Status Condition"
## Reproducer
- Install EG and quickstart guide
- Create an HTTPRoute that rewrites the URL:
[code]

HTTPRoute status:
[code]

The status should be "Accepted=False".

[2022-10-13 19:41] danehans commented on #562
A full config dump and httproute config can be found [here](https://gist.github.com/danehans/789e371bcd99deb4f976b69912abeb63).

[2022-10-13 20:01] arkodg commented on #562
support for Hostname seems to exist in the xds translator https://github.com/envoyproxy/gateway/blob/2103195e28257a564d3aea674f9cb401cb037032/internal/xds/translator/route.go#L186
as well as Gateway API Translator
https://github.com/envoyproxy/gateway/blob/2103195e28257a564d3aea674f9cb401cb037032/internal/gatewayapi/translator.go#L813
next steps would be to print out the IR and ensure xds translat

[2022-10-13 20:57] danehans commented on #562
@arkodg here is the [xds IR](https://gist.githubusercontent.com/danehans/789e371bcd99deb4f976b69912abeb63/raw/6ee32ddc2f95e551899fc37e352132ddccdd0f5e/xds_ir.log). This bug uses the URLRewrite filter and not the RequestRedirect filter. It looks like we're hitting the [default case](https://github.com/envoyproxy/gateway/blob/2103195e28257a564d3aea674f9cb401cb037032/internal/gatewayapi/translator.go

[2022-10-13 23:03] skriss commented on #562
@danehans I'm a little confused by the issue report -- EG doesn't support the URLRewrite filter (it's extended conformance and experimental), and it looks like it's doing the right thing by configuring a direct response for the route that has the unsupported filter. The only problem I see is that the HTTPRoute has an "Accepted: true" condition instead of an "Accepted: false" condition. Could you c

[2022-10-13 23:05] AliceProxy commented on #562
This is what I was refering to in the meeting (maybe last week?) about us not supporting rewriting the prefix of requests since there is no support for the `URLRewrite` filter at this time. I was wanting to add support for it, but the focus has been getting core conformance and bugs fixed instead of adding the extended support sections of gateway API.

I can definitely add it after 0.2.0, or if yo

[2022-10-13 23:08] danehans commented on #562
@skriss thanks for the feedback. The direct response is "Unknown custom filter..." as opposed to "Unsupported filter..".

Correct, the route should be "Accepted=False" with "Reason: UnsupportedValue". PR https://github.com/envoyproxy/gateway/pull/563 aims to resolve both of the points in this comment.

[2022-10-13 23:19] AliceProxy commented on #434
Seems like the main issue still blocking this one is in the [test yaml](https://github.com/kubernetes-sigs/gateway-api/blob/35b2addc79575703693b2d29707bd9805fbdaddd/conformance/tests/httproute-listener-hostname-matching.yaml) there are multiple listeners that all use the same port

[2022-10-13 23:26] danehans opened #564 "Add Support for HTTPRoute URLRewrite Filter"
Add support for the HTTPRoute [URLRewrite](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPURLRewriteFilter) filter.

[2022-10-13 23:27] danehans commented on #564
cc: @AliceProxy

[2022-10-13 23:29] danehans commented on #562
xref: https://github.com/envoyproxy/gateway/issues/564 for adding URLRewrite filter support.

[2022-10-13 23:38] AliceProxy commented on #437
Similar to #434 , It appears that one of the issues is that there are multiple listeners configured to use the same port in the [test yaml](https://github.com/kubernetes-sigs/gateway-api/blob/35b2addc79575703693b2d29707bd9805fbdaddd/conformance/tests/httproute-hostname-intersection.yaml)

[2022-10-14 00:07] danehans commented on #564
__Note:__ The user guide added by https://github.com/envoyproxy/gateway/pull/565 should be updated when this issue is fixed.

[2022-10-14 01:34] #550 closed

[2022-10-14 01:36] Xunzhuo commented on #564
I would like to assign this

[2022-10-14 01:54] #182 closed

[2022-10-14 03:59] danehans commented on #564
@Xunzhuo done.

[2022-10-14 04:13] Xunzhuo commented on #564
This is planned to be implemented in v0.3.0-rc1, right? Not the v0.2.0 @danehans

[2022-10-14 04:19] danehans commented on #564
I didn't include this issue for v0.2.0 since we're running out of time. If you can have a PR submitted by tomorrow, then it can be included in v0.2.0.

[2022-10-14 04:31] Xunzhuo opened #566 "Introduce canary release of EG."
*Description*:

This proposal is about adding a canary release of EG. This canary version will be pre-released everytime we get PR merged. Take this as an example: https://github.com/fermyon/spin/releases/tag/canary.

We can always get the latest pre-release artifacts, like install.yaml. quickstart.yaml, etc.

1. This is good for developers who want to try the latest dev version of EG, not the off

[2022-10-14 04:36] #351 closed

[2022-10-14 04:52] youngnick commented on #551
I think it's important to remember that this is a first cut at Gateway API support @NomadXD, it's in no way intended to be final.

I think that deduping clusters like this is a great optimization that, as you say, will reduce memory usage substantially.

[2022-10-14 04:59] youngnick commented on #92
Okay, we're going to need something to check that the boilerplate at the start of each file is correct. I'm inclined to use the same Python `boilerplate.py` that Gateway API uses (which is itself sourced from Kubernetes (https://github.com/kubernetes/kubernetes/blob/04c2b1fbdc1289c9a72eda87cf7072346e60d241/hack/boilerplate/boilerplate.py )).

If everyone's okay with me doing that, I can make a PR

[2022-10-14 05:08] Xunzhuo commented on #92
Sounds good, thanks for taking this.

[2022-10-14 06:22] NomadXD commented on #551
@arkodg Can you assign me this ?

[2022-10-14 06:23] NomadXD commented on #424
@arkodg Okay I'll do the required changes and send a PR.

[2022-10-14 06:23] Amila-Rukshan opened #567 "Enabling CORS for a HTTPRoute"
*Description*:

I see two ways to enable CORS in for a HTTPRoute either via a targetRef from a Policy resource or an extensionRef from a custom route filter.

Will envoy-gateway support another CR like below for this purpose?

[code]

with this setting, it should be able to configure [cors filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/cors_filter) in HTTPRoute

[2022-10-14 06:55] Xunzhuo commented on #566
See: https://github.com/Xunzhuo/gateway/releases and https://github.com/Xunzhuo/gateway/actions/runs/3247935540.

[2022-10-14 08:13] Xunzhuo commented on #564
Let us do this in v0.3.0-rc1. :)

[2022-10-14 17:39] arkodg commented on #424
It would be good to spend a little more time brainstorming on this, since it will an API change.
* Is the goal to only limit discovery of Gateway API resources or other resources such as `Services` too ?
* Can this discovery limit be created by specifying a list of Namespaces or a list of Label Selectors (that match namespaces) or both ?

[2022-10-14 18:07] #504 closed

[2022-10-14 21:44] #441 closed

[2022-10-14 21:54] danehans commented on #566
+1 for supporting an EG canary release. @arkodg @youngnick @skriss @LukeShu thoughts?

[2022-10-14 23:45] danehans commented on #526
Kustomize is used to manage the manifests and handles the [ordering of resources](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/resource/). Even if the cert-gen Job is created before the EG deployment, there is no startup ordering guarantee. As long as the cert-gen Job completes successfully and EG starts, IMHO this is not a bug.

xref: https://github.com/envoyproxy/gateway

[2022-10-15 16:02] #344 closed

[2022-10-15 17:48] danehans commented on #344
Reopened so we can discuss and bring it to closure in the future.

[2022-10-16 19:45] danehans opened #576 "Replace HTTPBin with Kube Conformance Echoserver"
Currently, the conformance tests use kube ingress conformance echoserver image for testing. https://github.com/envoyproxy/gateway/pull/558 requires the echo server to demonstrate HTTP routing. Instead of supporting multiple images, replace httpbin with the kube ingress conformance echoserver image in all examples (only Quickstart at the time of this writing).

[2022-10-16 19:45] danehans commented on #576
xref tls passthrough guide: https://github.com/envoyproxy/gateway/pull/575

[2022-10-16 19:47] danehans commented on #576
xref secure gateways guide: https://github.com/envoyproxy/gateway/pull/542

[2022-10-16 23:07] danehans opened #577 "TLSRoute Conformance Test"
https://github.com/envoyproxy/gateway/pull/402 added TLSRoute support. A TLSRoute conformance test should be created [upstream](https://github.com/kubernetes-sigs/gateway-api/) .

[2022-10-16 23:08] danehans commented on #577
cc: @chauhanshubham

[2022-10-17 02:39] Xunzhuo commented on #576
/assign

[2022-10-17 14:52] skriss commented on #539
Note https://github.com/envoyproxy/gateway/pull/580#pullrequestreview-1144310617, when this is fixed the two invalid/missing referencegrant conformance tests should be able to be uncommented.

[2022-10-17 16:07] #15 closed

[2022-10-17 16:27] #538 closed

[2022-10-17 17:13] #562 closed

[2022-10-17 17:27] danehans commented on #543
xref https://github.com/envoyproxy/gateway/pull/578 to replace httpbin references with conformance echoserver.

[2022-10-17 17:36] danehans opened #583 "Update DOCS.md"
Update `DOCS.md` to reflect the `.md` support added by #571.

[2022-10-17 17:57] arkodg commented on #566
+1

[2022-10-17 18:55] danehans commented on #543
Update port forward to use the hashed name of the Envoy service.

xref: https://github.com/envoyproxy/gateway/pull/542#discussion_r997379810

[2022-10-17 21:31] #576 closed

[2022-10-17 21:46] #284 closed

[2022-10-17 22:16] LukeShu commented on #566
Calling this "canary" doesn't quite mesh with my use of the word "canary", but that's not real important.

+1 to doing these builds

[2022-10-18 04:08] zhaohuabing commented on #583
May I work on this one? @danehans

[2022-10-18 04:50] danehans opened #588 "Gateway HTTPS Listener Status is not Being Updated"
See https://github.com/envoyproxy/gateway/pull/542#discussion_r997399046 for details. An HTTPS listener status is not being updated when a referenced Secret from a different namespace (through a ReferenceGrant) is deleted.

[2022-10-18 10:35] zhaohuabing commented on #512
@arkodg I would like to take this one if no one else is currently working on it.

[2022-10-18 15:15] danehans opened #591 "Querying the Quickstart Echoserver Image Does Not Provide Expected Response"
https://github.com/envoyproxy/gateway/pull/578 updated example images to use the kube ingress conformance echoserver. However, it did not set the necessary pod environment variables so calling `/get` does not produce the expected results. For example:

[code]

See the example [HTTP routing manifest](https://github.com/envoyproxy/gateway/blob/main/examples/kubernetes/http-routing.yaml#L40-L71) for

[2022-10-18 15:27] Xunzhuo commented on #591
Hi, I can fix this, plz assign this to me:)

[2022-10-18 15:49] #566 closed

[2022-10-18 15:49] #437 closed

[2022-10-18 15:49] #434 closed

[2022-10-18 16:08] arkodg opened #593 "docs-publish failing in GH runs"
*Description*:
Seeing the `docs-publish` action failing in the GH run
https://github.com/envoyproxy/gateway/actions/runs/3274947957/jobs/5389194301

[2022-10-18 16:09] danehans opened #594 "Update Quickstart to Use latest Tag"
With https://github.com/envoyproxy/gateway/releases/tag/latest, the quickstart on the main branch should now use the `latest` tag and be updated to a release tag, e.g. `v0.2.0` when a release branch is cut during a release.

[2022-10-18 16:12] Xunzhuo commented on #594
/assgin

[2022-10-18 16:15] danehans commented on #593
xref https://github.com/envoyproxy/gateway/pull/587. An incorrect CNAME record was initially created but a ticket was created to update the record.

[2022-10-18 16:18] arkodg commented on #593
@danehans should we merge #587 then (see its in draft mode) ?

[2022-10-18 16:20] danehans commented on #593
No, adding a CNAME to the repo is unneeded when you're deploying GH Pages from an Action. We need CNCF to update the CNAME record in the provider that manages `envoyproxy.io`.

[2022-10-18 16:25] danehans commented on #593
The CNAME record has been updated but I'm still unable to hit the docs site:
[code]

According to the [GH docs](https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain), this is the correct CNAME configuration.

[2022-10-18 17:04] danehans opened #596 "Update generate-manifests Target"
With https://github.com/envoyproxy/gateway/pull/595, the Quickstart Guide uses the `latest` branch. The `generate-manifests` target should be updated to replace `latest` with `$(TAG)`.

[2022-10-18 17:15] #536 closed

[2022-10-18 17:17] #593 closed

[2022-10-18 20:25] danehans opened #599 "EG Logs Private Key"
The private key should not appear in logs:

[code]

[2022-10-18 20:41] danehans opened #600 "TLS Termination Fails"
As part of https://github.com/envoyproxy/gateway/pull/542, simple TLS termination was working but no longer does.

[Envoy Config Dump](https://gist.githubusercontent.com/danehans/04a08855ae36c168c108da27b3507ce8/raw/757a2a440f99357ab9483f88d39e8265399012e6/envoy_tls_term_cfg_dump.log)

I tried updating the HTTPS listener to use hostname `secure.example.com` but no luck. Note that I regenerated the

[2022-10-18 20:52] danehans commented on #600
xds IR:
[code]

[2022-10-18 20:57] danehans commented on #600
When the `secure.example.com` hostname is added to the listener and the example httproute is updated with this hostname, all works.

[2022-10-18 20:57] #600 closed

[2022-10-18 21:08] danehans commented on #588
My WIP branch: https://github.com/danehans/gateway/commit/907c1dc2e37dd99507cd635f86ad8bf124d24090

[2022-10-18 21:31] danehans commented on #65
2 remaining referencegrant tests should pass when #588 is fixed.

[2022-10-18 21:34] danehans commented on #324
Closed by https://github.com/envoyproxy/gateway/pull/475

[2022-10-18 21:34] #324 closed

[2022-10-18 21:37] danehans commented on #496
Closed since .md support is added. The quickstart appears in the official docs.

[2022-10-18 21:37] #496 closed

[2022-10-18 21:44] arkodg commented on #583
closed with https://github.com/envoyproxy/gateway/pull/589

[2022-10-18 21:44] #583 closed

[2022-10-18 21:51] danehans commented on #591
Fixed by #592

[2022-10-18 21:51] #591 closed

[2022-10-18 22:16] danehans opened #601 "TLS Termination Does Not Work When Listener Hostname Is Unspecified"
TLS termination does not work on a Gateway that does not specify a hostname. To reproduce:

1. Follow the steps in the draft [secure gateways guide](https://github.com/envoyproxy/gateway/blob/62711dc4341a626b68a689074308a104c6a47cb2/docs/user/secure-gateways.md).
2. Test the HTTPS endpoint:
[code]

EG Logs:
[code]

Envoy Logs:
[code]

[Envoy Config Dump](https://gist.githubusercontent.com/danehans

[2022-10-18 22:38] danehans commented on #520
I have retested after #574 was merged and still no luck. I create a 2nd HTTPS listener that uses a different hostname and the same port but EG panics:
[code]

To reproduce, follow the draft [secure gateways guide](https://github.com/envoyproxy/gateway/blob/62711dc4341a626b68a689074308a104c6a47cb2/docs/user/secure-gateways.md) and then create a 2nd HTTPS listener:

Certs
[code]

Secret
[code]

Upda

[2022-10-18 23:09] arkodg commented on #601
What's happening -
Looks like Envoy does not like this specific config
[code]

and errors out with `partial wildcards are not supported in "server_names"`

Why -
* when the Listener Hostname is unspecified the Gateway API Translator fills in the Hostname field as `*` https://github.com/envoyproxy/gateway/blob/c78103f27480a8fa0308d0fc387ff1f79909aa75/internal/gatewayapi/translator.go#L563
this Host

[2022-10-19 00:38] lizan commented on #601
@arkodg if you want to match all server_names, instead of `["*"]` just leave that field empty.

[2022-10-19 00:48] arkodg commented on #601
ha we can def implement this, thanks !
but if this is not supported by envoy does it make sense to enhance the `server_names` docs string ? or should I raise a GH issue within envoyproxy ?

[2022-10-19 01:33] Xunzhuo commented on #596
/assing

[2022-10-19 02:53] Xunzhuo commented on #498
/assign

[2022-10-19 03:00] #554 closed

[2022-10-19 03:34] #594 closed

[2022-10-19 04:05] zhaohuabing opened #608 "Add support for regex match type in Gateway API Translator"
Add support for regex match type in Gateway API Translator for the following HTTPRouteMatch conditions:
* HTTPPathMatch
* HTTPHeaderMatch
* HTTPQueryParamMatch

[2022-10-19 06:40] arkodg commented on #539
I prefer if we move this to 0.3.0 . Based on current logic there is no easy way to handle deletes for RefGrants, easier to implement this with https://github.com/envoyproxy/gateway/issues/413 where we dont need to handle deletes, just start from scratch with every reconcile.

[2022-10-19 07:39] arkodg opened #613 "Split up CRDs and Install YAML"
*Description*:
I find myself running `make kube-deploy` multiple times so EG initializes properly.

Raising this issue here in case others hit it too, we might need to revert https://github.com/envoyproxy/gateway/pull/510 and go back to a 2 step install process

[2022-10-19 08:01] Xunzhuo commented on #613
You mean, you need to run kube-deploy multiple times, otherwise the EG will not start properly?

[2022-10-19 09:27] youngnick commented on #204
I've created kubernetes-sigs/gateway-api#1464 for this.

[2022-10-19 09:45] Xunzhuo commented on #204
Thanks @youngnick

[2022-10-19 14:14] Xunzhuo opened #615 "Missing release version in docs site"
*Description*:

We configure the release version in sphinx, but after building, it does not show in pages normally. See the place below:

<img width="985" alt="image" src="https://user-images.githubusercontent.com/48784001/196715965-dc21a05b-65bc-44a4-beff-dd62543016e5.png">

<img width="1232" alt="image" src="https://user-images.githubusercontent.com/48784001/196716040-15346d6a-0b61-42c7-a6ca-f82

[2022-10-19 15:00] Xunzhuo commented on #615
tools/goversion can not work in GA, because GA GIT TREE is not equal to the local GIT TREE, so it can not fetch the latest tag in this way.

[2022-10-19 15:24] Xunzhuo commented on #615
This will appear when we build a binary or image in GA, if we want to get the latest tag from git tree. There are two approaches to fix this:
1. We hardcode the latest version, and update the version every time we release. ( This way is easy, but need to update the tag)
2. We get the latest tag from git tree locally, this will work fine, but in GA, we get it from Github API ( We cannot get it from

[2022-10-19 17:01] NomadXD commented on #424
Yes, the goal is to limit the discovery of Gateway API resources only. For Services there can be lot of use cases that requires flexibility with namespaces.

In the initial approach we thought of using a list of namespaces, label selectors also can be added if required but we can initially go with list of namespaces and improve it further.

[2022-10-19 17:09] danehans opened #619 "EG Panics When Removing Gateway"
EG panics after removing a working Gateway. Follow the quickstart, add HTTPS listeners based on the draft secure gateways guide, delete Gateway:
[code]

[2022-10-19 17:20] danehans commented on #520
Reopening since #612 doesn't appear to fix the issue. I set up quickstart and then update the gateway:
[code]

EG panics:
[code]

[2022-10-19 17:23] arkodg commented on #424
thanks for rethinking this, hope this helps you with the API design to expose initial functionality as well as add room for expansion, good luck !

[2022-10-19 17:38] #588 closed

[2022-10-19 17:39] #601 closed

[2022-10-19 17:56] AliceProxy commented on #500
/assign

[2022-10-19 18:44] #619 closed

[2022-10-19 20:50] lizan commented on #601
@arkodg yeah that sounds good. basically every field in filter chain match has the semantics that "empty matches all".

[2022-10-19 21:13] danehans commented on #65
Closing since all core conformance tests are passing. All but one RefernceGrant test (tracked by https://github.com/envoyproxy/gateway/issues/539) is passing.

[2022-10-19 21:13] #65 closed

[2022-10-19 21:26] danehans commented on #520
Fixed by https://github.com/envoyproxy/gateway/pull/621.

[2022-10-19 21:26] #520 closed

[2022-10-19 21:27] danehans commented on #204
https://gateway-api.sigs.k8s.io/implementations/#envoy-gateway booyah!

[2022-10-19 21:29] danehans opened #624 "Add Reference to Gateway API Implementations Page"
Add a reference to the [Gateway API implementations page](https://gateway-api.sigs.k8s.io/implementations/#envoy-gateway) from Sphinx docs.

[2022-10-19 21:29] danehans commented on #204
https://github.com/envoyproxy/gateway/issues/624 for adding a return ref ;-)

[2022-10-19 21:29] #204 closed

[2022-10-19 21:31] danehans commented on #500
Moving this to v0.3.0.rc.1 since we can add docs post-v0.2.0 release.

[2022-10-19 21:32] danehans commented on #498
Moved to 0.3.0-rc.1 so the group can further discuss implementation details.

[2022-10-19 21:33] danehans commented on #503
We have a good start to docs in v0.2.0. Moved to 0.3.0-rc.1 to resolve the remaining tasks.

[2022-10-19 21:34] danehans commented on #515
Votes have been cast and maintainers have been updated.

[2022-10-19 21:34] #515 closed

[2022-10-19 21:35] danehans commented on #501
All but one of the tasks was completed in v0.2.0... yay!!! Moving to 0.3.0-rc.1 to resolve the last task.

[2022-10-19 21:39] danehans commented on #539
Being noted in the v0.2.0 release notes and moving to v0.3.0-rc.1.

[2022-10-19 21:42] danehans commented on #599
Noted in the v0.2.0 release notes and moving to v0.3.0-rc.1 to continue tracking the upstream issue.

[2022-10-19 21:47] danehans commented on #613
I am not seeing this issue and I have done ~50 installs since #510 merged. Let's continue to keep this open for tracking purposes and we can revert if this becomes more common in the wild.

[2022-10-19 21:51] danehans commented on #543
#542 has been moved to v0.3.0-rc.1 since docs can be added post-v0.2.0.

[2022-10-19 21:51] #543 closed

[2022-10-19 21:53] arkodg commented on #613
yeah EG starts properly, but applying resources doesnt have any affect (no Envoy created), I test locally on Docker Desktop K8s

[2022-10-19 21:59] danehans commented on #613
I have used the `install.yaml` and `quickstart.yaml` ~50 times and have not hit this issue.

[2022-10-19 22:01] danehans commented on #613
@LukeShu @AliceProxy @Xunzhuo @skriss @youngnick can you please test:

Install EG
[code]

Install the Quickstart:
[code]

[2022-10-19 22:02] #596 closed

[2022-10-19 22:42] AliceProxy commented on #613
@danehans Anecdotally, it works for me on a GKE cluster first try.

[2022-10-19 23:40] Xunzhuo commented on #613
Me too, everything works fine for me 😄

[2022-10-20 01:10] #92 closed

[2022-10-20 01:28] arkodg commented on #499
markdown docs can be published now with https://github.com/envoyproxy/gateway/pull/571
keeping this issue open to figure out how to separate dev docs from user ones

[2022-10-20 02:19] Xunzhuo commented on #71
Sorry, I missed these comments, yes, this should be after #24.

[2022-10-20 04:22] NomadXD commented on #551
@youngnick @arkodg Opened a PR to fix this. Kubernetes Gateway Spec supports `backendRefs` at `spec.rules` and `spec.rules.matches`.

[code]

With the PR I opened (#623 ) we are looking only at the backendRefs in `spec.rules` and creating a single cluster with load balance endpoints. And I think the ideal case would be to create per route clusters (Resource level clusters) only if the user has spe

[2022-10-20 07:29] Xunzhuo commented on #477
I am thinking this is a standard of release naming, why cover this in ci area? If the release manager tag like v0.3.0-rc.1, I think the generated image and git tag will follow this way.

Need more context of this issue:) cc @arkodg

[2022-10-20 10:08] Xunzhuo commented on #499
Hi, can you explain the meaning of dev docs here? The docs under docs/dev? If so, why do we need to separate them, I think user or developer can read them too, need some context on this:)

[2022-10-20 15:43] danehans opened #629 "Allow Release Workflow to Support Quickstart Guide Changes"
Update the release GitHub workflow to accommodate Quickstart guide changes and not result in a failed CI run.

xref: https://github.com/envoyproxy/gateway/actions/runs/3290977504

[2022-10-20 15:43] danehans commented on #629
cc: @Xunzhuo

[2022-10-20 15:54] Xunzhuo commented on #629
![image](https://user-images.githubusercontent.com/48784001/196998145-1db82fae-d3d0-4a28-8abe-a330213438ef.png)

The build and test release branch pattern is not matched with the release/vxxx. We should update this.

[2022-10-20 16:31] arkodg commented on #499
@Xunzhuo the goal is to get the user to experience EG w/o bogging them down with inner details.
Right now navigation is flat for https://gateway.envoyproxy.io/ , we need to make it tiered (user/examples as well as dev/design) and maybe even default to user

[2022-10-20 16:31] #629 closed

[2022-10-20 16:34] danehans opened #632 "Support Versioned Docs"
Currently, docs runs on the main branch. Docs should be versioned, where the default version is the latest supported version, e.g. `v0.2.0`.

[2022-10-20 16:49] Xunzhuo commented on #632
I will work on this in v0.3.0-rc1.

[2022-10-20 16:50] Xunzhuo commented on #499
Yep, I see. Thanks for the comments.

[2022-10-20 18:48] arkodg commented on #551
@NomadXD both the cases could be solved if the `backendRefs.Name` is treated as a unique key within the Gateway API Translator.
related https://github.com/envoyproxy/gateway/pull/623#discussion_r1000994536
So the Gateway API Translator would
* map all K8s Services to a top level Destinations `map`
* link each Route to the above destination using a key, the key here being the backendRefs FQDN

[2022-10-20 19:15] arkodg commented on #477
good point, can be closed since this in incorporated in the release doc
https://github.com/envoyproxy/gateway/blob/main/docs/dev/releasing.md#creating-a-release-candidate

[2022-10-20 19:15] #477 closed

[2022-10-20 20:00] arkodg commented on #362
@danehans is this still needed ?

[2022-10-20 20:49] danehans commented on #499
Now that .md support was added, we just need to link GOALS.md to the Sphinx docs generator.

[2022-10-20 21:12] danehans commented on #362
Since EG now manages a unique set of Envoy resources per Gateway, this issue is resolved.

[2022-10-20 21:44] #512 closed

[2022-10-21 12:02] #374 closed

[2022-10-21 18:00] arkodg opened #641 "Add support for UDPRoute API"
*Description*:
Add Support for the UDP Route API defined [here](https://github.com/kubernetes-sigs/gateway-api/blob/21bba43681b3db3a62d7ca9f108bf3be4c0cea71/apis/v1alpha2/udproute_types.go#L33)

Related https://github.com/envoyproxy/gateway/issues/47

[2022-10-21 18:01] arkodg commented on #641
we should wait on https://github.com/envoyproxy/gateway/issues/413 which is refactor the provider before kickstarting this

[2022-10-21 18:04] arkodg opened #642 "Add support for the GRPCRoute API"
*Description*:

Add support for the GRPCRoute API defined [here](https://github.com/kubernetes-sigs/gateway-api/blob/21bba43681b3db3a62d7ca9f108bf3be4c0cea71/apis/v1alpha2/grpcroute_types.go#L64)

[2022-10-21 18:05] arkodg commented on #642
we should wait on https://github.com/envoyproxy/gateway/issues/413 which will refactor the provider before starting this issue

[2022-10-21 18:17] arkodg opened #643 "Add Support for TCPRoute API"
*Description*:
Add support for TCPRoute API defined [here](https://github.com/kubernetes-sigs/gateway-api/blob/21bba43681b3db3a62d7ca9f108bf3be4c0cea71/apis/v1alpha2/tcproute_types.go#L33)

Related https://github.com/envoyproxy/gateway/issues/47

[2022-10-21 18:17] arkodg commented on #643
we should wait on https://github.com/envoyproxy/gateway/issues/413 which will refactor the provider before starting this issue

[2022-10-21 18:59] danehans commented on #643
@arkodg this seems like a dupe of https://github.com/envoyproxy/gateway/issues/47.

[2022-10-21 19:11] arkodg commented on #643
@danehans I broke up #47 into individual issues and linked it back to #47  (one for TCP and other for UDP)

[2022-10-21 20:15] skriss opened #644 "switch to Listener ports 80/443 instead of 8080/8443 for the quickstart & secure Gateway guides"
Using the standard ports 80 & 443 would be more realistic, and  would simplify various commands that would no longer need to explicitly specify ports. It would also eliminate the need to explicitly specify `Host` headers in curl commands using `--resolve` (that seems to include the port # in the Host header by default if using non-standard ports).

[2022-10-22 14:36] chauhanshubham commented on #413
I can take this up, have some psuedo code ready.

[2022-10-22 14:45] Xunzhuo commented on #413
Thanks @chauhanshubham

[2022-10-23 00:10] #180 closed

[2022-10-23 06:54] Xunzhuo commented on #643
I am assigning myself, but if this is required #413, I think the finished time cannot be measured correctly. Not sure if this can be done in v0.3.0-rc1, but let us see the progress.

[2022-10-24 20:20] danehans commented on #31
Currently, the bootstrap config is managed as a go template rendered by the Infra Manager and referenced as `--config-yaml` by the Envoy pod.  As the Envoy Gateway [Configuration API Design](https://github.com/envoyproxy/gateway/blob/main/docs/design/config-api.md#configuration-api-design) states:

I suggest extending the `EnvoyProxy` API type to support this use case. For example:

[code]

A user

[2022-10-24 20:48] danehans commented on #31
@arkodg thanks for providing feedback.

The following are a few concerns that come to mind for "... allowing the user to completely specify a new bootstrap spec":

1. If we will eventually support managing bootstrap config through `EnvoyProxySpec`, EG will have two ways to accomplish the same goal.
2. Since EG CLI flags should also be supported by the EG config file, we would pollute the `EnvoyGat

[2022-10-25 09:00] zhaohuabing commented on #641
@arkodg May I take this one? It would be a relatively easy start for me to dig into the core mechanism of EG since I can refer to the implementation of the current HTTRoute. If this goes well, I would like to take https://github.com/envoyproxy/gateway/issues/642 as well.

[2022-10-25 16:27] arkodg commented on #31
I think we should better understand what the (advanced) users would like and what the project can provide.
https://github.com/envoyproxy/gateway/issues/31#issuecomment-1113531309 suggests we were planning on starting with all BYO bootstrap

[2022-10-25 16:34] arkodg commented on #641
go for it @zhaohuabing . suggesting raising incremental PRs in the below order to increase PR review speeds and reduce merge conflicts :)
* [Xds IR](https://github.com/envoyproxy/gateway/blob/d572c238cfde8623046de85c06b3139479f1d7aa/internal/ir/xds.go#L41)
* [Xds Translator](https://github.com/envoyproxy/gateway/blob/d572c238cfde8623046de85c06b3139479f1d7aa/internal/xds/translator/translator.go#L1

[2022-10-26 13:46] danehans opened #647 "Add Envoy Gateway Support to Flagger"
Add Envoy Gateway as a reference ingress controller to Flagger. See the Flagger [docs](https://fluxcd.io/flagger/) for additional details.

[2022-10-26 13:51] Xunzhuo commented on #647
Anyone else want to work on this? If not, I would like to assign this and work on this. Since this is a backlog task, I think I can work on this in low level priority, compared with implementing gateway api.

[2022-10-26 13:57] danehans commented on #647
Feel free to work on the issue. However, it's currently in the backlog. We will be reviewing the backlog issues next week during the community meetings to plan for the v0.3.0 release. In my opinion, we have a ton of higher priorities to address for v0.3.0.

[2022-10-26 15:04] danehans commented on #47
xref https://github.com/envoyproxy/gateway/pull/646 for adding UDPRoute support.

[2022-10-26 15:56] danehans commented on #31
https://github.com/envoyproxy/gateway/issues/31#issuecomment-1113531309 suggests we were planning on starting with all BYO bootstrap

I consider ^ a discussion more than a plan. v0.3.0 planning will take place post-KubeCon NA 2022. Let's discuss this issue during planning to try and achieve a concensensouse on the path forward.

[2022-10-26 16:02] arkodg commented on #31
sg @danehans
also linking the extensibility goals section https://github.com/envoyproxy/gateway/blob/main/GOALS.md#extensibility here which should help drive the discussion, and would need to be revised if its no longer valid

[2022-10-26 16:28] danehans opened #648 "Add Support for Managing the Envoy Proxy Service"
As of v0.2.0, the Kube Infra Manager manages a Service of type `LoadBalancer` to perform L4 load-balancing across the managed Envoy proxy fleet. Some users may wish to use Envoy for internal-only proxying, configuring various load-balancer settings, etc. Envoy Gateway provides the `EnvoyProxy` API type for configuring the Envoy proxy infrastructure. This API should be expanded to support common Se

[2022-10-26 19:07] bmetzdorf commented on #648
Thanks @danehans.   I'm specifically interested in the integration with 3rd party cloud providers, beginning with AWS and their NLB.  Something like these annotations will be needed on the `Service`:

[code]

Since Envoy Gateway will handle TLS and HTTP(S) itself, we just need TCP and UDP traffic forwarded by the NLB.  And in order to not pay the node port double hop penalty, we could use NLB IP b

[2022-10-26 19:09] arkodg commented on #648
@bmetzdorf this should be addressed with https://github.com/envoyproxy/gateway/issues/377

[2022-10-26 19:13] bmetzdorf opened #649 "[Data Plane] Add support for fetching TLS certificates from different certificate management systems (like AWS Certificate Manager)"
*Description*:
It would be great to have support for getting TLS certificates via the [AWS Certificate Manager](https://aws.amazon.com/certificate-manager/).  For Envoy Gateway running on EKS, we can allow the envoyproxy gateway pods (as well as the envoy gateway control plane pods) to get their certs from ACM (similar to the `Service` annotation: `service.beta.kubernetes.io/aws-load-balancer-ssl-

[2022-10-26 22:25] danehans commented on #368
I'm closing this issue since owning Gateway ns/name labels were added.

[2022-10-26 22:25] #368 closed

[2022-10-26 23:24] danehans commented on #377
IMHO this issue is very different from #368. #368 was required because EG needs a mechanism to correlate the Gateway ns/name that was used to create the managed resources, e.g. Service. If the managed resources were in the same ns as the Gateway, an [ownerReference](https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/) could be used and the owning ns/name label woul

[2022-10-26 23:45] youngnick commented on #641
I'd like to see some work done on how the UDP flows will actually work. It's pretty straightforward to set up a UDP listener for Envoy, but it's very difficult to preserve the client address at the same time.

Basically, you have two options:
- Use Envoy in non-transparent proxy mode, which means that the client address will be seen at the backend pods as Envoy's address. As I said, most UDP proto

[2022-10-26 23:52] danehans commented on #648
Currently, an ELB gets created for the Envoy service when running EG in AWS. We should probably set `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp` to put the ELB in TCP mode and `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"`  to enable proxy protocol by default (when running in AWS). Or should we default to NLB with the annotations specified by @bmetzdorf?

[2022-10-27 01:27] zhaohuabing commented on #641
I think transparent proxy mode can be benifical for both TCP and UDP since in some use cases, the server behind the EG would like to know the original addreess of the client. To get this done, we'll need to set the route inside a cluster to get the traffic route back to EG, and then EG can send the traffic right back to the client.

[2022-10-27 01:28] arkodg commented on #641
@youngnick the  https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/udp_filters/udp_proxy docs states that envoy operates as a non transparent proxy.
The xds implementation does not seem too complex, if you prefer, either @zhaohuabing or I could
PoC with Envoy proxying UDP traffic to a pod running a TFTP server or UDP Ping server and share those details on this issue.
If some UDP p

[2022-10-27 01:34] zhaohuabing commented on #641
non-transparent proxy should work, I'll test that after the translators implemention is done. transparent proxy mode is also helpful, maybe we could discuss how to support it if there're more requests from the clients to ask for it. Besides, we should also consider the transparent mode for TCP listeners together.

[2022-10-27 02:19] arkodg commented on #641
Reread the envoy docs which states that envoy also support transparent mode but needs added privileges ( not given to the envoy deployment today )
@youngnick do you have any info handy on which protocols support non transparent mode and which dont ?

[2022-10-27 14:35] bmetzdorf opened #650 "Provide helm charts for Envoy Gateway installation"
Would be great to have helm charts.

Question for you:

Should they follow the same release cycle and versioning as Envoy Gateway itself?  That would make it easy to qualify them and track changes.  Many other projects don't do that and then the charts sometimes rot a bit.

[2022-10-27 15:43] arkodg commented on #650
thanks for raising this issue, agree, the charts should be published with every release.
also relates to https://github.com/envoyproxy/gateway/issues/479

[2022-10-27 16:57] Xunzhuo commented on #650
I will work on this, so I would like to assign this:)

[2022-10-28 00:02] youngnick commented on #641
It's tricky, but in general UDP protocols expect the client address to be the actual one. DNS, and syslog are the ones I can think of from the top of my head. I'm not sure about other ones - I know that lots of gaming applications use UDP as well. It's going to be on a per-protocol basis though - and lots of people roll their own protocol.

If we really want to do it, it will be extremely importan

[2022-10-28 00:08] youngnick commented on #643
Similarly to UDPRoute(#641), I think we need some design docs around the tradeoffs we'll need to make between transparent mode and proxy mode for TCP streams. The choice is basically between:

- transparent mode: client address available, routing changes required somehow to avoid return path check failure in transit.
- proxy mode: client address will appear to be the Envoy IP.

[2022-10-28 05:03] Amila-Rukshan commented on #396
This issue is created to track this issue in gateway api project - https://github.com/kubernetes-sigs/gateway-api/issues/1485

[2022-10-28 08:52] stevehipwell commented on #650
I'd like to suggest that the Helm chart version isn't tied to the Gateway version so it can also be release without a corresponding Gateway release. This isn't something that is generally possible and even less likely to be successful for a pre-release product with a brand new Helm chart.

[2022-10-28 15:55] arkodg commented on #643
@youngnick we are already using the the [tcp_proxy filter](https://github.com/envoyproxy/gateway/blob/d572c238cfde8623046de85c06b3139479f1d7aa/internal/xds/translator/listener.go#L147) for TLS Passthrough which works well, and envoy **only supports proxy mode** for TCP (docs are [here](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/tcp_proxy/v3/tcp_proxy.proto#tcp-pr

[2022-10-28 16:01] arkodg commented on #650
@stevehipwell we release a `latest` release on every commit to `main`
https://github.com/envoyproxy/gateway/releases/tag/latest
users should be able to access bleeding edge Helm Charts from above artifcacts if they need to.

[2022-10-28 16:08] stevehipwell commented on #650
@arkodg would it not be better for that use case to be met by changing the chart image tag? To correctly lifecycle a chart you need a manual step after the image has been released to update _Chart.yaml_ to set the new app and chart version (you would also need to update _values.yaml_ if the image tag isn't based on the app version).

[2022-10-28 16:30] #526 closed

[2022-10-28 16:31] danehans commented on #440
Closing due to ^ feedback.

[2022-10-28 16:31] #440 closed

[2022-10-28 16:42] danehans commented on #88
@arkodg I suggest adding an agenda item for https://github.com/kubernetes-sigs/gateway-api/issues/91#issuecomment-1287437166 to the Gateway API community meeting. I expect a design doc, review, etc will be needed for the Gateway API community to achieve consensus.

[2022-10-28 16:47] danehans commented on #82
I'm closing this issue since a simple self-signed CA-based solution was implemented in https://github.com/envoyproxy/gateway/pull/208. A more comprehensive solution will be implemented to resolve https://github.com/envoyproxy/gateway/issues/81.

[2022-10-28 16:56] danehans commented on #81
An EG example should be added to the Cert-Manager docs when this issue is resolved.

xref: https://cert-manager.io/docs/tutorials/acme/nginx-ingress/

[2022-10-28 16:58] danehans commented on #649
@bmetzdorf does ACM Private CA support meet your requirements? Cert-Manager supports an [ACM Private Issuer plugin](https://github.com/cert-manager/aws-privateca-issuer/). We are considering adding support for Cert-Manager to resolve https://github.com/envoyproxy/gateway/issues/81. I prefer having EG support issuers through Cert-Manager instead of natively.

[2022-10-28 17:19] #599 closed

[2022-10-28 17:25] #346 closed

[2022-10-28 18:40] skriss commented on #493
Assigning myself, will pick this up soon.

[2022-10-28 19:34] arkodg commented on #177
linking https://github.com/tetratelabs/func-e/issues/433 here which should allow downstream projects like this one to programmatically run envoy which can be used for xds server end to end testing

[2022-10-28 20:13] bmetzdorf commented on #650
@stevehipwell You make good points.  We could explicitly version the Chart independently.  But we would have to track which Chart versions are compatible with which EG versions (e.g have a separate Changelog for the Helm chart).  I'm a fan of explicit versions (the `Chart` version in _Chart.yaml_).

Another (maybe not so standard) approach could be this:  Envoy Gateway `0.3.x` includes Chart versi

[2022-10-28 20:22] arkodg commented on #650
@stevehipwell we have a similar image updating strategy for our kube yamls (eg. [here](https://github.com/envoyproxy/gateway/blob/09155a96662da1407527ab9ec72384eccaa78415/tools/make/kube.mk#L93)), so doing something similar for helm cherts before publishing it shouldnt be too hard.
Today, all the artifacts pushed by this project (container images, GH releases containing kube install YAMLs) are bas

[2022-10-28 21:11] skriss opened #655 "support HTTP method matching for HTTPRoute (extended conformance)"
*Description*:
Add support for HTTP method matching for HTTPRoute:

- https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteMatch
- https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/httproute-method-matching.go

This can be implemented as a header match on the `:method` pseudo-header.

[2022-10-28 21:15] skriss opened #656 "support HTTPRequestMirror filter (extended conformance)"
*Description*:
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteFilter (HTTPRequestMirrorFilter)

There is no upstream conformance test for this yet.

[2022-10-28 21:18] skriss opened #657 "Add Support for HTTPRoute ResponseHeaderModifier Filter"
https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io%2fv1beta1.HTTPRouteFilter (responseHeaderModifier)

Note, this one is currently marked experimental, but likely to be promoted soon since it's very similar to the existing requestHeaderModifier filter.

There is a conformance test for this upstream (https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/

[2022-10-28 21:49] danehans commented on #648
I've created a [design doc](https://docs.google.com/document/d/1H6_xbtj_yfszaB_vQa0gQa2l2E5t5-h4yz1qip5Ziow/edit?usp=sharing) to help faciliate discussion for supporting this use case. @bmetzdorf @arkodg @youngnick @skriss @LukeShu @AliceProxy @Xunzhuo PTAL.

[2022-10-28 21:57] stevehipwell commented on #650
@arkodg a Helm chart is effectively another application, unlike manifests which are part of the primary application and can be versioned according. I'm yet to see a scenario where an application has had it's version implicitly tied to a dependency work out (app to app, chart to app, etc). I think you'd add more complexity trying to keep the versions in sync than by having a different chart version

[2022-10-28 21:59] skriss opened #659 "enable HTTPRoute method matching conformance test"
Once Gateway API v0.6.0 has been released and picked up here, we should enable the HTTPRoute method matching test, since it's been implemented in #658.

The test is here: https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/httproute-method-matching.go

It also requires adding the SupportedFeature to our suite.Options:
- https://github.com/kubernetes-sigs/gateway-api/blob/mai

[2022-10-28 22:07] arkodg commented on #650
thanks for raising these points @stevehipwell , imho this project should follow what the rest of the landscape is doing w/o incurring too much complexity
cc @Xunzhuo

[2022-10-28 22:43] #655 closed

[2022-10-29 09:31] Xunzhuo commented on #615
Fixed in https://github.com/envoyproxy/gateway/pull/651
Tracked in https://github.com/envoyproxy/gateway/issues/632

[2022-10-29 09:31] #615 closed

[2022-10-30 04:19] #410 closed

[2022-10-31 15:37] arkodg opened #661 "Invalid Listener status when Gateway listener hostname is empty for TLSRoute"
*Description*:
Unable to setup a TLRoute and route traffic when the `hostname` field in the Gateway listener is not set.

*Repro steps*:
Follow the steps in https://gateway.envoyproxy.io/user/tls-passthrough.html but omit the `hostnames` field in the listener

*Environment*:

*Logs*:
[code]

[2022-10-31 18:10] danehans opened #663 "Document Release Schedule"
Currently, GitHub milestones are used to document the release schedule. As with [Envoy Proxy](https://github.com/envoyproxy/envoy/blob/main/RELEASES.md#major-release-schedule), the release schedule should be formally documented.

[2022-10-31 21:34] arkodg opened #664 "[xds] Remove total_weights in weighted cluster"
*Description*:
The release notes for Envoy v1.24 highlight that  `total_weights` field in the weighted cluster is deprecated
https://www.envoyproxy.io/docs/envoy/latest/version_history/v1.24/v1.24.0
[code]

So we should be able to safely delete this field from our code
https://github.com/envoyproxy/gateway/blob/592863ad53b097eeca602180d1394d7c4ef41522/internal/xds/translator/route.go#L165

[2022-10-31 21:38] arkodg commented on #664
blocked on https://github.com/envoyproxy/gateway/pull/654 & deprecation strategy adopted by the project

[2022-10-31 22:58] danehans commented on #641
xref https://github.com/envoyproxy/gateway/pull/646 for adding UDPRoute to IR.

[2022-10-31 23:04] danehans commented on #641
Although most UDP protocols don't like this, non-transparent proxy mode could be considered "initial" UDPRoute support. We can document these details while we work on a long-term UDPRoute solution that covers the other UDP protocols.

@mattklein123 PTAL at this issue and #643. Let us know if you have any input on adding L4 support.

[2022-10-31 23:16] danehans commented on #641
Maybe a solution similar to kube-proxy's [internalTrafficPolicy: Local](https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy) can help workaround this issue?

[2022-10-31 23:18] danehans commented on #608
@zhaohuabing can you help me understand why this issue is labeled as a bug and not an enhancement?

[2022-10-31 23:21] arkodg commented on #641
cc @moderation

[2022-10-31 23:46] zhaohuabing commented on #608
@danehans Yes, it should be an enhancement instead of a bug. Could you please help change the label? Thanks.

[2022-10-31 23:49] arkodg commented on #608
@zhaohuabing assigning this issue to you, since you volunteered :)

[2022-11-01 00:18] lizan commented on #664
this is not blocked in anyway since Envoy didn't need it for a long time, I'll fix

[2022-11-01 03:14] youngnick commented on #643
I think it's fine as long as we call out the limitation. I wouldn't be surprised if people end up wanting us to put in something about PROXY mode eventually, but that seems fine to me.

[2022-11-01 03:41] youngnick commented on #641
Sadly, it's not about the _inbound_ traffic, transparent mode will get the packets _to_ the backend properly. It's about the return path _from_ the backend back to the client - because Envoy doesn't do any address translation, the packets will be sent straight from the backend to the client, _without going back through Envoy_. To change that behavior, you'd need to mess with the routing tables for

[2022-11-01 05:45] moderation commented on #641
@youngnick a couple of questions:

1. NGINX in theory supports UDP ingress today irrespective of Envoy Gateway - do they have a feature or implementation that differs from Envoy that enables them to provide this UDP ingress solution
2. Ambassador Labs Emissary Ingress which is based on Envoy supports HTTP/3. HTTP/3 rides on QUIC which is UDP based. What are they doing that is out of reach for Envo

[2022-11-01 06:04] youngnick commented on #641
No, from what I can see, their UDP implementation will have the same client address limitation. I seem to recall looking at a version of their documentation that called this out, but I can't see it in their current one.

In addition, the fact that their Service Mesh product uses eBPF to inject PROXY protocol headers in order to make this work tends to bear this out, for me.

QUIC is different, bec

[2022-11-01 06:09] Xunzhuo opened #668 "Support non-versioned Homepages"
IMO, we miss something like envoy-website and envoy-mobile site, they have the homepages separated with the docs, the homepage contains things which do not need to be versioned like blogs, announcements and etc. As for the the sphinx docs, they are all versioned.

So contents in sphinx docs would be better to be all versioned, we can just add our homepage support after this.

Take what istio has a

[2022-11-01 13:45] lakamsani opened #669 "Please bundle VMware modsecurity into the gateway"
*Description*:
This will give us basic WAF features like we can with Apache or Ngnix.

Here's the VmWare project link.

https://github.com/vmware-archive/ModSecurity-envoy

As VMware is involved in this project, perhaps already in a future roadmap? Requesting because the current roadmap doesn't mention it.

[2022-11-01 16:12] danehans opened #670 "Add Global Rate Limiting Support"
*Description*:

Add support for [global rate limiting](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_features/global_rate_limiting).
- [ ] Create a design doc for the user-facing API. See #529 (draft) as an example.
- [ ] Update IRs. Maybe we should initially focus on the xds IR and require the global rate limiting infra to be pre-provisioned?
- [ ] Update the Kube provider

[2022-11-01 16:51] arkodg commented on #336
Design PR for JWT is [here](https://github.com/envoyproxy/gateway/pull/529)

[2022-11-01 17:52] danehans opened #671 "Add Support for WAF"
*Description*:

Add WAF support. The implementation should focus on [coraza-proxy-wasm](https://github.com/corazawaf/coraza-proxy-wasm) but allow other WAF solutions in the future.
- [ ] Create a design doc for the user-facing API. See #529 (draft) as an example.
- [ ] Update xds IR.
- [ ] Update the Kube provider to reconcile the WAF Custom Resource.
- [ ] Update the resource translator to transl

[2022-11-01 18:22] arkodg commented on #669
thanks for raising this issue and also linking the specific project that can be used to implement WAF.
I see @danehans recently raised a GH issue highlighting support for WAF [here](https://github.com/envoyproxy/gateway/issues/671)
It does point to a different library for WAF, so the next steps I see for the community are
* If we do support WAF, **when** / in which release should the feature be ro

[2022-11-01 19:03] danehans commented on #671
@nacx thanks for providing input on this issue. To make sure I understand your comment, are you suggesting that this feature be implemented as an [ExternalProcessor](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_proc_filter) filter instead of a Wasm filter?

[2022-11-01 19:25] danehans opened #672 "Add Support for Main to use envoy-dev Image"
#665 updates EG releases to coincide with Envoy (1 week after). This may not be enough time for the community to test and fix potential bugs since `main` tracks a released version of Envoy. Instead, have `main` track [envoy-dev](https://hub.docker.com/r/envoyproxy/envoy-dev/tags).  The Envoy image can then be updated to a released version as part of the release workflow.

xref: https://github.com/

[2022-11-01 19:29] #663 closed

[2022-11-01 19:43] nacx commented on #671
My bad. I was mixing the runtime with the control plane, so the suggestion won't apply beyond the fact that coraza is fully written in go and that the project could leverage that, if needed. But at runtime, the wasm module should be the way to go.

[2022-11-01 20:01] lakamsani commented on #669
@arkodg thanks. I didn't know about https://github.com/corazawaf/coraza-proxy-wasm before today. I don't have any particular preference personally as long the Envoy Gateway comes up with some kind of  WAF bundled. Happy to test for sure in a production setting and may contribute if I can set aside time.  The VMWare project also talks about being more of an `east-west` or as a sidecar between servi

[2022-11-01 20:26] arkodg commented on #672
this is a great idea in theory, but it also means that PRs raised in the project might flake or fail due to some intermittent issue in the upstream `main`

[2022-11-01 20:43] danehans commented on #670
From the Gateway API [Policy Attachment spec](https://gateway-api.sigs.k8s.io/references/policy-attachment/):

Based on this information, it appears that global rate limiting fits better as an [implementation-specific filter](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteFilter) since HTTPRoute rules may require different rate limits. Thoughts @youngni

[2022-11-01 20:55] danehans commented on #672
@arkodg Understood, but that could also benefit us by discovering breaking changes early. As EG matures, I could see the benefits being reciprocated to Envoy. In the future, I could also foresee releasing EG on the same day as Envoy which would be a competitive advantage for the project. Both approaches have tradeoffs. Thoughts @LukeShu @youngnick @skriss @Xunzhuo @AliceProxy?

[2022-11-01 21:54] youngnick commented on #672
I'm +1 on this, it makes sense for Gateway dev to be linked to Envoy dev. I think that the risks of having flakes because of Envoy `main` having problems is probably a net win, because we'll be further exercising envoy-dev.

[2022-11-01 22:15] sunjayBhatia opened #675 "Gateway API extensions: Usage of Policy Attachment vs. Filters"
*Description*:
[Policy Attachment](https://gateway-api.sigs.k8s.io/references/policy-attachment/) and [HTTPRouteFilters](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteFilter) represent two different extension points in Gateway API to implement features outside the core/extended APIs provided by the upstream project.

Envoy Gateway is moving forward wit

[2022-11-02 03:49] Xunzhuo commented on #672
I am +1 on this, dev to dev, make sense in main branch, it makes a good collaboration with EG and upstream Envoy.

[2022-11-02 03:50] Xunzhuo commented on #672
Wait for others comments, if most think this is OK to process, I would like to assign this.

[2022-11-02 04:04] arkodg opened #677 "decision: Segmenting API Gateway features into PolicyAttachment CRDs"
*Description*:

Adding options for how API Gateway features such as `ratelimiting` can be expressed as PolicyAttachment CRDs. Please dont focus on the names, just added placeholders.

1. one generic policy CRD with features as top level fields
[code]
2. one generic policy CRD with `networking`  (shapes traffic) and `security` (authenticates & authorizes traffic) as top fields
[code]
3. 2 Policy CR

[2022-11-02 04:05] arkodg commented on #677
@Xunzhuo @danehans @youngnick @skriss @LukeShu @AliceProxy can you please vote on this issue

[2022-11-02 04:08] Xunzhuo commented on #677
I prefer 3 or 4, they have more independence and loose coupling between features.

[2022-11-02 04:10] arkodg commented on #677
I vote for 2. or 3. and here's why
* 1 or 2 CRDs are easier to maintain for the project than multiple
* The user can express their intent in 1 instantiated resource (useful when team is small) or multiple ( useful when multiple teams author intent)

[2022-11-02 05:15] AliceProxy commented on #677
I think 3 would be preferable over 1 and 2 although I prefer 4 the most. Allows for clear separation of resources depending on what the user is trying to accomplish. Prioritize keeping things self contained. While you could group two features into a single group like `networking` / `security` I feel that when a user has the goal of setting up a ratelimt they shouldn't need to worry about what othe

[2022-11-02 08:29] zhaohuabing commented on #641
It seems like we don't have a workable solution for trasparent proxying for UDP and TCP. So I'll go with the non-trasparent mode and add some documentation on that to make it clear to the users. Does this sounds good?

[2022-11-02 15:04] sunjayBhatia commented on #677
Also, see the [Policy Boilerplate](https://gateway-api.sigs.k8s.io/references/policy-attachment/#policy-boilerplate) section which uses *MUST* language around the `default` and `override` fields for Policies. The hierarchical nature and defaulting/override behavior is a core concept of the Policy resource. Using more focused resources IMO leads to a lot less complexity for implementers and users w

[2022-11-02 16:47] arkodg commented on #677
I think the complexity of merging individual policies is the same for 3. and 4.

3. just gives the **flexibility** of merging **personas** into **one** (a small independant team) or allowing
individual personas to author and instantiate **many** policy resources
[code]

[2022-11-02 17:08] arkodg commented on #677
thanks for raising the argument around retrieving current intent.
* from a production point of view, the intent will version controlled / `git` and checked before being edited
* from a live state perspective, I can understand the case when the user only wants to retrieve the `ratelimit` block having a command like `kubectl get ratelimit` is easier than `kubectl get trafficpolicy`, but there are al

[2022-11-02 17:28] danehans commented on #669
@lakamsani thanks for creating the issue. The intent of #671 is to develop a WAF solution that can support different implementations, with https://github.com/corazawaf/coraza-proxy-wasm being the first supported implementation. I'm open to discussing a different initial implementation but I have concerns about supporting https://github.com/vmware-archive/ModSecurity-envoy since it recompiles Envoy

[2022-11-02 17:40] danehans commented on #677
xref https://github.com/envoyproxy/gateway/issues/675 as @sunjayBhatia has spent considerable time researching this topic for Contour. As I stated [here](https://github.com/envoyproxy/gateway/pull/529#discussion_r1012015640), I suggest EG focus on extensions that can be implemented as [implementation-specific filters](https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.1/apis/v1beta1/httprout

[2022-11-02 17:42] danehans commented on #677
Regarding https://github.com/envoyproxy/gateway/pull/529#issuecomment-1299536714, my understanding is that EG maintainers achieved consensus for expressing extended functionality through separate resource kinds. Let's use this comment to formalize the vote. Maintainers, please use a thumbs-up or thumbs-down emoji for expressing extended functionality through separate resource kinds, e.g. separate

[2022-11-02 17:48] danehans commented on #677
+1 on 4

[2022-11-02 17:51] lizan commented on #677
I would also +1 on 4 (non-maintainer), that gives each feature independence and they can evolve in their own pace as well.

[2022-11-02 17:55] zinuga commented on #677
+1 for 2 and 3 as they align with well with networking and security persona

[2022-11-02 18:00] danehans commented on #677
Note that 4 meets this requirement while supporting more granular RBAC.

[2022-11-02 18:06] arkodg commented on #677
* for features like `auth` it might need to be enforced, so policy fits better for that case imho
* the deprecation for policy and extension filter will look similar once the features have been graduated into GAPI, so no difference from that perspective

[2022-11-02 18:07] skriss commented on #672
:+1: I think this makes sense

[2022-11-02 18:39] danehans commented on #677
True, but AuthN "enforcement" should not be conflated with providing EG users with a request authentication mechanism. I agree that "enforcement" should be achieved through GWAPI Policy Attachment but as a separate backlogged feature.

IMHO GWAPI Policy Attachment is still evolving (see xrefs) while [implementation-specific filters](https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.1/apis/v

[2022-11-02 19:05] lakamsani commented on #669
@danehans I don't know much about that VmWare project. Just found that via Google. As it was developed by VmWare and they created the envoy based Contour project,
https://tanzu.vmware.com/developer/guides/service-routing-contour-to-ingress-and-beyond/

I think it might be useful here. I wasn't aware of the Coraza project until yesterday. Don't have a preference either way on how WAF support is add

[2022-11-02 19:05] #669 closed, assigned to nobody

[2022-11-02 21:13] #661 closed

[2022-11-02 21:46] arkodg opened #680 "Use HTTPRoute hostname as SNI match for HTTPS traffic"
*Description*:
The current Gateway API Translator logic maps the the [Gateway hostname to the Xds IR Listener](https://github.com/envoyproxy/gateway/blob/0646f946ebb854adbd71b5499704e9bf9c50f1b4/internal/gatewayapi/translator.go#L560) Hostname and uses the Hostnames within the HTTPRoute spec to populate the [Xds IR HeaderMatches](https://github.com/envoyproxy/gateway/blob/0646f946ebb854adbd71b5499

[2022-11-02 22:05] arkodg commented on #675
@sunjayBhatia  thanks for sharing all the research on this topic !
The EG community too needs a decide on which extension point to use for the supporting advanced API Gateway features.
I'm sharing some options here, so the community can voice their preference.
1. Use HTTPRoute Filters for all API Gateway features
[code]

2. Use PolicyAttachment for all API Gateway features
[code]

  3. On a case b

[2022-11-02 22:07] arkodg commented on #675
@skriss @danehans @youngnick @AliceProxy @LukeShu @Xunzhuo can you please share your thoughts and preferences on this issue, please also consider sharing alternative options.

[2022-11-02 22:09] sunjayBhatia commented on #675
Specifically targeting #1, this comment is relevant: https://github.com/envoyproxy/gateway/pull/529#discussion_r1012164693

Not all configuration can be translated to Envoy config from per-Route configuration, due to the nature of particular Envoy filters and how Envoy Gateway's xDS translation logic may set up Listeners/Virtualhosts/Routes

[2022-11-02 22:12] sunjayBhatia commented on #675
In addition to thinking about how things will be implemented, we should consider in this decision what the intended UX we want is, which involves what resources/personas/scopes we want to target:
- What features make sense to expose as a configuration for a *whole virtualhost*? (e.g. I want a certain configuration for foo.com and a different for bar.com)
- What features make sense to expose just p

[2022-11-02 22:12] arkodg commented on #675
Prefer 2 because
* the notion of `default` and `override` is powerful, addresses persona hierarchy
* Policy can be applied to the `Gateway` but Filters cannot be applied to the `Gateway`
  * this is useful for some auth features such a client-validation / mTLS which haven't made their way into the Gateway API yet

Imho 3. adds cognitive load on the user and
1. cannot be applied to `Gateway` as sha

[2022-11-02 22:48] lizan commented on #675
This has been discussed in the authn policy document as well in [this comment](https://docs.google.com/document/d/1TlQjBy1utEwgrxE_HVT4-EHpVJ51hgnfMuAh0Q_uNoE/edit?disco=AAAAd7WFUEQ). As a result of a brief community call we agreed on something like 2. We might want to add some sort of support with PolicyAttachment to select routes in an HTTPRoute though.

Also note that Filters in HTTPRoute does

[2022-11-02 22:52] skriss opened #682 "update to Kubernetes 1.26.x"
*Description*:
EG should be compatible with and tested against the latest Kubernetes 1.25.x.

Tasks:
- [x] upgrade metallb to latest (current version uses PSP which is no longer available in Kube 1.25)
- [x]  upgrade kind to latest
- [x]  update conformance test matrix node images (pending https://github.com/envoyproxy/gateway/pull/681)
- [ ]  update k8s go modules

[2022-11-02 23:28] skriss opened #683 "CI: use built image for conformance tests"
*Description*:

Right now, our CI builds a Docker image twice -- once as part of the `make conformance` task, and once as part of the Docker build/push steps. We should de-dupe this so we build the image once, use it to run conformance, and then push that same image to Docker Hub if it's a push build.

[2022-11-02 23:33] skriss commented on #683
Actually looks like we don't build the image a second time unless it's a push build to main, but we do still build the binaries for multiple arches twice per the above description.

[2022-11-03 00:53] arkodg commented on #248
@danehans is this needed ?
imho the data in the watchable map is based off the controller cache which should be in sync with the API Server, so shouldn't be needed

[2022-11-03 00:53] arkodg commented on #199
@LukeShu can you help understand if this is needed ?

[2022-11-03 00:56] arkodg commented on #523
@Xunzhuo I dont see this issue on main, can this be closed ?

[2022-11-03 01:14] arkodg commented on #648
@danehans took a look at this review, was unable to leave comments in there due to limited permissions, so leaving them here - the doc proposes creating high level load balancer providers such as `aws`
* I worry such level of vendor specificity will trigger the project supporting and maintaining many
such loadbalancer types/providers and a lot of time might get spent managing such `driver` code
*

[2022-11-03 01:24] Xunzhuo commented on #523
It appears on build and test workflow in pull request, can you help check this too? @arkodg

[2022-11-03 01:25] arkodg opened #684 "Enable access logging for xds components"
*Description*:

Update [access logging](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/observability/access_logging.html?highlight=access%20logging) to `/dev/stdout` for xds components supporting this feature.

[2022-11-03 01:29] arkodg commented on #523
you're right, I see it, looks like its still relevant

[2022-11-03 01:48] #632 closed

[2022-11-03 05:28] gitanuj opened #686 "Support for TLS termination for TCP protocol?"
*Description*:
Is it possible to support TLS termination for TCP protocol?

I'm trying to use envoy gateway as an API gateway which accepts TCP connection from a client and does SSL termination and then proxies the request down to a service in the cluster which also accepts TCP connection with SSL using a self signed cert. Is this something envoy gateway can support?

Currently TLS Termination is

[2022-11-03 11:26] YasiruShaminda opened #688 "Add support for Aws Lambda"
*Description*:
Add support for invoke Aws Lambda

[2022-11-03 15:44] danehans opened #689 "Support Multiple Release Versions"
#639 added support for versioned docs. However, the only versions supported are `latest` and the version specified in `VERSION`. It would be helpful if versioned docs supported every EG release. Possibly update `VERSION` to include `$CURRENT` and `$PREVIOUS` versions that are populated by iterating through `/docs/html`?

[2022-11-03 15:51] danehans opened #690 "Generate Docs Compatibility Matrix"
Currently, the compatibility matrix is manually maintained. With #609, we have most of the information required to update the compatibility matrix for a release. Consider creating a make target that updates the matrix by scraping the output of `envoy-gateway version` and grep'ing `$KIND_NODE_TAG` from `tools/hack/create-cluster.sh`.

[2022-11-03 15:56] arkodg opened #691 "Support attaching multiple TLSRoutes to the same gateway/port"
*Description*:

Since the xds tcp proxy at the listener level directly routes to a xds cluster, we'll need to create a new IR TCP listener for every TLSRoute so every Xds IR Listener maps to a unique Xds IR Route Destination

[2022-11-03 16:13] skriss opened #692 "README links are broken"
Looks like a bunch of the links on README.md are broken with some of the recent docs changes (e.g. quickstart, roadmap)

[2022-11-03 16:30] danehans commented on #448
This issue should be resolved when #413 is fixed.

[2022-11-03 16:38] #498 closed

[2022-11-03 16:44] Xunzhuo commented on #689
Yes, it could generate every history release by iterating folder name in docs/. I will fix this.

[2022-11-03 16:45] Xunzhuo commented on #689
Yes, it could generate every history release by iterating folder name in docs/. I will fix this.

[2022-11-03 17:46] arkodg commented on #671
this issue shouldnt depend on https://github.com/envoyproxy/gateway/issues/71, both the issues are orthogonal, #71 is about exposing a user facing API for WASM, this issue might use WASM which is an internal implementation detail

[2022-11-03 17:50] danehans commented on #675
@arkodg I feel like https://github.com/envoyproxy/gateway/issues/675#issuecomment-1301376173 is a repeat of https://github.com/envoyproxy/gateway/issues/677. Can you please clarify?

As stated [upstream](https://github.com/kubernetes-sigs/gateway-api/discussions/1498#discussioncomment-4030909), this can become very complicated which leads to poor UX.

[2022-11-03 17:53] arkodg commented on #677
thanks everyone for sharing your votes and comments, realized that chatting about PolicyAttachment might be too premature, and will require us to first agree on which extension points we should be using and when, hoping we can use #675 for aligning together about which extension type to use.

[2022-11-03 17:58] arkodg commented on #688
thanks for raising this issue, this will most likely require EG to run in a non K8s environment as well as be able to route to non K8s Backend, hoping the community has cycles to design for this in 2023, moving it to the backlog for now

[2022-11-03 18:05] danehans commented on #690
xref https://github.com/envoyproxy/gateway/pull/681 for supporting multiple k8s releases.

[2022-11-03 18:10] #692 closed

[2022-11-03 19:48] arkodg commented on #686
thanks for raising this issue, based on the Gateway API Spec https://gateway-api.sigs.k8s.io/guides/tls/?h=tls#clientserver-and-tls, the downstream client TLS connection should be supported

[2022-11-03 20:00] arkodg commented on #608
fixed with https://github.com/envoyproxy/gateway/pull/676

[2022-11-03 20:00] #608 closed

[2022-11-03 20:35] danehans commented on #686
Although I have not tested this with Envoy Gateway, it should be supported by setting the listener [protocol type](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.ProtocolType) to `TLS` and supplying an appropriate [TLS config](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.GatewayTLSConfig).

The doc referenced in https://gith

[2022-11-03 20:39] danehans commented on #672
xref https://github.com/envoyproxy/gateway/pull/654 for bumping the envoy image.

[2022-11-03 20:44] danehans commented on #81
Note that cert-manager now has support for Gateway API: https://gateway-api.sigs.k8s.io/implementations/#cert-manager

[2022-11-03 23:42] #493 closed

[2022-11-04 01:25] arkodg commented on #567
Hi @Amila-Rukshan my earlier comment was incorrect and the above GEP only drop extension support within `matches` disallowing custom matches, but still supports extensions under `filters` . This means there are still 2 options of either using PolicyAttachment or Filter Extensions. There is a detailed discussion here https://github.com/envoyproxy/gateway/issues/675, hoping the outcome will help dri

[2022-11-04 16:18] arkodg commented on #670
I can find cycles to work on this

[2022-11-04 17:22] danehans commented on #675
From the draft [Gateway API patterns: Policy Attachment and Metaresources](https://docs.google.com/document/d/1p_kmAOmqebX8zyHnXW5I58cD8ZhNX4QNSa_gw8uAYxw/edit?usp=sharing) doc authored by @youngnick :

If Policy Attachment should __not__ be used as `a standardized means of attaching a policy to resources`, then a different mechanism should be used. Let's refer to #529 as a concrete example. A dev

[2022-11-04 18:09] arkodg commented on #675
@danehans thanks for raising this case about using two separate CRDs here - `Authn` and `AuthnPolicy`. Here are some follow up questions
* If the App Dev had the RBAC to apply `AuthnPolicy` to the `HTTPRoute`, shouldnt we be able to achieve the same outcome with 1 CRD type `AuthnPolicy` ?

[2022-11-04 18:12] sunjayBhatia commented on #675
relevant discussion topic for this as well, given some of the documentation in the Policy Attachment reference: https://github.com/kubernetes-sigs/gateway-api/discussions/1503

currently Filters and Policies aren't "supposed" to overlap, but as you point out and I think others have realized as well, this pattern seems useful

[2022-11-04 18:16] arkodg opened #699 "Observability: Envoy Proxy"
*Description*:
This epic tracks the design and implementation for surfacing `logs`, `metrics` and `traces` generated by Envoy Proxy that are relevant to the user personas

[2022-11-04 18:18] arkodg opened #700 "Observability: Envoy Gateway"
*Description*:
This epic tracks the design and implementation for surfacing logs, metrics and traces generated by Envoy Gateway that are relevant to the user managing Envoy Gateway

[2022-11-04 18:19] arkodg commented on #699
related PR for metrics https://github.com/envoyproxy/gateway/pull/581/files

[2022-11-04 18:21] arkodg commented on #699
related PR for traces https://github.com/envoyproxy/gateway/pull/697

[2022-11-04 18:25] arkodg commented on #684
@zirain for this issue, would be great to enable access logging to stdout for xds components (connection manager, tcp proxy etc) for now until we have a full fledged observability solution

[2022-11-05 01:37] zirain commented on #699
best practices form prometheus: https://prometheus.io/docs/practices/naming/#metric-and-label-naming

[2022-11-05 01:39] zirain commented on #699
accesslog: I think should focus on File(send /dev/stdout) and OpenTelemetry(I believe it's the future)
traces: only support OpenTelemetry is an options

[2022-11-05 09:29] zirain commented on #684
assign this to me, I will send a temporary solution next week.

[2022-11-05 09:45] Xunzhuo opened #701 "Observability Design and Implementation of EG"
*Description*:

This issue tracks the Observability designs and implementations of EG.

EG Observability Design should be two main parts and such subtasks:
+ The Control Plane (CP): Design and Implement the CP Observability of EG (https://github.com/envoyproxy/gateway/issues/700).

   - [ ] Metrics generated by Envoy Gateway
  - [ ] Logging generated by Envoy Gateway
  - [ ] Tracing generated by E

[2022-11-05 09:54] Xunzhuo commented on #657
/assign this in v0.3.0-rc1

[2022-11-05 17:07] Xunzhuo commented on #671
Yes, I am willing to design and implement #71 and this issue, since I am familiar with proxy-wasm. But not sure for the issues priorities, maybe this can be done in v0.3.0, but I can not promise this, this depends on the status of issues I already assigned in v0.3.0 and the priority of wasm extension support.

[2022-11-06 09:02] gitanuj opened #703 "HorizontalPodAutoscaler for envoy proxy"
*Description*:
Does envoy gateway have any design to scale out envoy proxy pods? Are there any best practices on how to handle increased number of requests? I'm mostly looking at deploying this to clouds like AWS/GCP/Azure which will allocate application/network Load Balancers but then how can I make sure that envoy proxy pod is not the bottleneck in the gateway and can scale out when needed.

[2022-11-07 03:41] zirain opened #705 "Github action `build-and-test` fails randomly"
- fail on `make go.test.coverage`

https://github.com/envoyproxy/gateway/actions/runs/3406968389/jobs/5666166782

- fail on `make conformance` v1.23.6

https://github.com/envoyproxy/gateway/actions/runs/3407232578/jobs/5666696862

- fail on `make conformance` v1.24

https://github.com/envoyproxy/gateway/actions/runs/3407315316/jobs/5666855486

[2022-11-07 03:42] zirain commented on #705
[code]

[2022-11-07 03:58] youngnick commented on #567
Sorry @arkodg, I missed this one earlier. I think that a Policy resource is going to be the best fit for now, that is enough implementation to be able to suggest that something like this be implemented upstream in the HTTPRoute object (which I think is not unreasonable, since it's a common request). Its support level will depend on the data plane support, but I can see it ending up as Extended at

[2022-11-07 04:03] youngnick commented on #677
So, seems like I missed the discussion here. I'm a strong +1 for option 4, even with the cost it will impose on EG development, because (in addition to @AliceProxy and @sunjayBhatia's excellent arguments):
- I think the Policy objects should be called _Envoy_RatelimitingPolicy, _Envoy_AuthNPolicy, _Envoy_TimeoutPolicy, etc. We are the official Envoy Gateway API implementation, and work we do to de

[2022-11-07 06:11] zirain commented on #677
+1 on 4

[2022-11-07 06:26] youngnick commented on #675
The poor UX issue will be addressed in upstream, I think that option 2 sounds about right here.

[2022-11-07 16:24] danehans commented on #675
Providing App Devs the ability to CRUD `AuthNPolicy` would defeat the purpose of separating concerns. App Devs should not be allowed to set or override default policies, e.g. `AuthNPolicy`. If we need the ability for App Devs to define authN for API endpoints and cluster admins to override/default authN, then separate resources are required.

[2022-11-07 16:38] arkodg commented on #677
thanks everyone for sharing your preference, the majority of the maintainers  have voted for **option 4  (1 CRD per API Gateway feature)**

[2022-11-07 16:40] danehans commented on #703
HPA is currently not supported by Envoy Gateway. It's a feature that would be beneficial to the project. I have added the feature to the backlog. Let me know if you're interested in working on it and I can assign it to you.

Envoy Gateway currently creates an ELB when running in AWS.  #648 intends to design an API for managing the Envoy service, PTAL, and comment as needed.

[2022-11-07 16:42] arkodg commented on #567
thanks @youngnick
hey @Amila-Rukshan, it would be great if you would be able to contribute to the design and implementation for CORS, it could be a stretch goal for v0.3.0 / Jan 2023

[2022-11-07 17:30] arkodg commented on #677
@youngnick reg your comment about naming, my opinion is that we should not add any Envoyisms into the name or the feature API. The ideal goal would be to build platform agnostic APIs that can be moved into the Gateway API repository in the future. Any Envoyisms should be part of the a[dvanced mode Envoy API ](https://github.com/envoyproxy/gateway/issues/24)

[2022-11-07 19:33] arkodg opened #707 "Support extended fields defined in the Gateway API"
*Description*:
This epic tracks all the individual issues associated with adding support for various fields within the Gateway API marked as `Extended` support
  - [x] https://github.com/envoyproxy/gateway/issues/564
  - [x] https://github.com/envoyproxy/gateway/issues/656
  - [x] https://github.com/envoyproxy/gateway/issues/657

[2022-11-07 19:38] arkodg opened #708 "Address comments from PR 685"
*Description*:
Consider addressing comments raised in https://github.com/envoyproxy/gateway/pull/685

[2022-11-07 19:38] arkodg commented on #708
cc @zhaohuabing

[2022-11-07 22:48] youngnick commented on #677
Thanks @arkodg, but I disagree. Almost everything we do for Ratelimiting, Auth etc will be heavily influenced by how Envoy configures things anyway, so we should lean into making ours the Envoy versions, and then taking those to the community and seeing what can be made generic.

Rob and I spent _days_ looking into how to write a generic Timeout policy across implementations, and it is _impossible

[2022-11-07 23:49] gitanuj commented on #703
1. Is there any design doc explaining which pods are involved in the data path for EG? I'm trying to understand if there are any other components other that EnvoyProxy which need to be scaled out as well.
2. Before implementing HPA I wanted to understand if I can simply update the number of replicas [here](https://github.com/envoyproxy/gateway/blob/7c6c37ad72a6fb2403f7ea85b94732c0e14906f7/internal

[2022-11-08 01:25] zhaohuabing commented on #708
Sure, @arkodg  could you please assign this to me?

[2022-11-08 02:39] #689 closed

[2022-11-08 02:43] #624 closed

[2022-11-08 17:21] arkodg commented on #642
I can commit to delivering this for v0.3.0
@zhaohuabing if you have cycles as well, can split this issue into smaller units so we can tag team this one in

[2022-11-08 17:42] danehans commented on #677
^ would also be consistent with existing EG API naming, EnvoyGateway and EnvoyProxy.

[2022-11-08 17:57] danehans commented on #703
Only the Envoy proxy deployment needs to be scaled. The [design docs](https://gateway.envoyproxy.io/v0.2.0/design_docs.html) are the best place for this type of info, specifically the system design and config API design docs.

You can update this field but EG will revert it back to the desired state. This field should be configurable using the [EnvoyProxy config API](https://github.com/envoyproxy/

[2022-11-08 18:15] gitanuj opened #713 "Support configuring number of replicas of Envoy Proxy"
Currently EG deploys only a single instance of Envoy Proxy. For scaling to high number of requests it will be useful to be able to increase number of replicas of Envoy Proxy to distribute load. It can be used for the following scenario -
- Deploy EG with one replica of Envoy Proxy
- As the traffic increases, metrics report high CPU usage of Envoy Proxy pod
- Increase the number of replicas of Envo

[2022-11-08 18:36] #672 closed

[2022-11-08 20:30] danehans commented on #684
@arkodg can you assign a priority label to this issue?

[2022-11-08 20:37] danehans commented on #497
Moving the docs to .rst is no longer needed now the .md is supported.

[2022-11-08 20:37] #497 closed

[2022-11-08 20:42] danehans commented on #88
Moving to the backlog since the dependent upstream issue, https://github.com/kubernetes-sigs/gateway-api/issues/91, is not fixed.

[2022-11-08 20:44] danehans commented on #47
Note: This is a tracking issue and separate issues/PRs are used for specific L4 protocol support. I assigned myself this issue to track the overall progress of L4 support.

[2022-11-08 22:13] arkodg commented on #656
cc @AliceProxy

[2022-11-08 22:14] AliceProxy commented on #656
/assign

[2022-11-08 22:19] danehans commented on #677
If we do move forward with PolicyAttachment, separate CRDs should be used.

[2022-11-08 23:48] danehans opened #714 "Document API Deprecation Policy"
A deprecation policy should be documented for EG APIs. I suggest EG follow the [Kube API deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/).

[2022-11-09 01:19] Xunzhuo commented on #479
I think this is related to https://github.com/envoyproxy/gateway/pull/651. If we support helm, we do not need this I think.

[2022-11-09 01:19] Xunzhuo commented on #479
cc @danehans

[2022-11-09 01:43] arkodg commented on #675
assigning myself this issue, so that I can help moderate this discussion to a decision.
* setting a semi arbitrary **deadline for decision to Nov 17th**, so the PRs for feature API design (auth, rate-limiting) leveraging this decision can start to be formally reviewed post that.
* 2 of the maintainers (@arkodg @youngnick ) have already voted, please feel free to change your vote based on the any n

[2022-11-09 01:50] arkodg commented on #479
thinking out loud, we might not need kustomize but it would be good to continue uploading the complete `install` yaml as a GH artifcat

[2022-11-09 01:51] Xunzhuo commented on #479
This can be done in helm too, just use helm template to generate a install.yaml similar to the previous aritifact. @arkodg

[2022-11-09 01:53] Xunzhuo commented on #479
If you guys think it is Okay, I can work on helm support in v0.3.0-rc1 and  remove the previous kustomize way.

[2022-11-09 01:57] #684 closed

[2022-11-09 01:58] arkodg commented on #479
@Xunzhuo would prefer if this was a stretch goal instead :)

[2022-11-09 02:21] Xunzhuo commented on #479
Agree:)

[2022-11-09 15:29] danehans commented on #713
@gitanuj tya is for creating the issue. Are you willing to work on a PR to fix this issue? If so, I would be happy to help provide guidance.

[2022-11-09 17:20] arkodg opened #716 "Update to the v0.6.0 Gateway API release"

[2022-11-09 17:20] arkodg commented on #716
currently blocked on the Gateway API release itself

[2022-11-09 17:26] #691 closed

[2022-11-09 17:56] arkodg commented on #707
@skriss anything else that needs to be added in here ?

[2022-11-09 18:47] arkodg commented on #707
thanks for investigating ! tracking #642 as a top level epic highlighted in the [roadmap](https://github.com/envoyproxy/gateway/blob/main/docs/latest/design/roadmap.md#v030-drive-advanced-features-through-extension-mechanisms) so probably doesnt need to be included here

[2022-11-09 19:06] danehans opened #719 "Bump Echoserver Image Tag"
https://github.com/kubernetes-sigs/gateway-api/pull/1520 bumps the echoserver image version in conformance tests. When https://github.com/envoyproxy/gateway/pull/717 is merged, it should cause Gateway API conformance tests in EG to use the new image tag. The image tag should be bumped to `v20221109-7ee2f3e` in user docs for consistency.

[2022-11-09 19:27] gitanuj commented on #713
@danehans It'll be great if you can give me some pointers to get started on this and I can work on it sometime next week. Would love for this to be included in the next release.

[2022-11-09 20:42] danehans commented on #713
Since the EnvoyProxy API is currently unimplemented, fixing this issue will require more work than what will be needed in the future.

### Implementation Tasks

- [ ] Review the [config API dev guide](https://gateway.envoyproxy.io/v0.2.0/design/config-api.html#data-plane-api) for background on the Envoy Gateway data plane API, e.g. EnvoyProxy.
- [ ] Update the EnvoyProxySpec API to define the sche

[2022-11-10 03:45] Xunzhuo commented on #716
I am assigning this to bump GWAPI to v0.6.0, since some tasks of extended filters are not covered in v0.5.1.

[2022-11-10 03:46] Xunzhuo commented on #719
I am going to bump this after https://github.com/kubernetes-sigs/gateway-api/pull/1520 got merged. ResponseHeaderModifier is required this new echo-server to demonstrate response header modifying abilities.

[2022-11-10 04:02] danehans commented on #719
Yes, the image tag for the conformance tests should get bumped as part of bumping Gateway API. This issue targets the image tag used by the user docs that will not get bumped without manual intervention.

[2022-11-10 04:46] youngnick commented on #675
Okay, I think I wasn't clear enough in my answer before, so let me clarify.

When talking about these features, we have a few extension points that _can_ be used. For Auth and Ratelimiting, it conceptually makes sense that those be a filter that _modifies_ a HTTPRoute match before it's sent on to the backends. That allows for very specific targeting of routes, headers, methods etc for these filter

[2022-11-10 17:35] arkodg commented on #716
this is blocking https://github.com/envoyproxy/gateway/pull/717

[2022-11-10 17:54] danehans commented on #567
Policy will depend on the outcome of #675.

[2022-11-10 18:26] arkodg commented on #675
@youngnick are there any plans on also supporting `extensionRef` in the Gateway API ? else from a capability perspective
EG will be unable to provide support for extended features at a connection / listener level with just `extensionRef` filters at the HTTPRoute level

[2022-11-10 19:29] sunjayBhatia commented on #567
What Gateway API extension mechanism works best for this feature may come down to what UX is allowed

The Envoy filter is configurable per-Virtualhost or per-Route, so can be configured e.g. for all of say `foo.com` or for a particular path like `foo.com/restricted`. Depending on the choice made on what extension mechanism to provide, this may rule out (or make difficult/unwieldy) some use cases.

[2022-11-10 19:44] danehans commented on #675
Thanks for clarifying. From reviewing your [Policy Attachment doc](https://docs.google.com/document/d/1p_kmAOmqebX8zyHnXW5I58cD8ZhNX4QNSa_gw8uAYxw/edit?usp=sharing), this was my understanding and why #529 is designed as an implementation-specific filter. I anticipate EG supporting an AuthenticationPolicy resource in the future that would allow admins to override and/or set default settings defined

[2022-11-10 19:58] danehans commented on #713
@arkodg thanks for sharing the Istio reference. If we take the [KubernetesResourcesSpec](https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#KubernetesResourcesSpec) approach, EnvoyProxy will need a higher-level abstraction similar to [provider](https://github.com/envoyproxy/gateway/blob/v0.2.0/api/config/v1alpha1/envoygateway_types.go#L37-L42) in EnvoyGateway to wrap the Kube-i

[2022-11-10 20:48] arkodg commented on #642
blocked on https://github.com/envoyproxy/gateway/issues/716 since the API is not available in v0.5

[2022-11-10 21:11] arkodg commented on #713
yah @danehans above approach looks good
reg level of customizations, imho EG should provide the subset of deployment & service kubernetes customizations to allow the user to run EG in production, and it will have to be via such a config API because Envoy proxy is being deployed programmatically

[2022-11-10 21:42] arkodg opened #721 "Fix Envoy Gateway docs links"
*Description*:

The Enovy Gateway docs link has changed from https://gateway.envoyproxy.io/releases/v0.2.html to https://gateway.envoyproxy.io/v0.2.0/ . Raising this issue to surface this and fix it in any downstream content leveraging these links

[2022-11-10 22:20] danehans commented on #35
I suggest holding this issue until https://github.com/envoyproxy/gateway/pull/702 is merged.

[2022-11-11 17:41] arkodg commented on #675
here's my current take based on three pillars
* **Capability**
  * Policy - Yes
     * Can be applied to `Gateway` as well as `HTTPRoute` allowing attributes to be applied at
     Layer 4-6 (connection) level as well as Layer 7 (request)
  * Filter - Not Always
     *   Cannot be applied to the `Gateway`
* **Persona Hierarchy**
    * Policy - Yes
       * Can be applied by the platform admin on th

[2022-11-11 18:45] danehans commented on #675
We have already heard feedback from @jcheld for the desire to allow App devs to configure auth for endpoints (HTTPRoute filter) but allow cluster admins to override (Policy Attachment). @jcheld please correct me if I misunderstood your input on this subject. Maybe we need to collect authentication requirements from potential Envoy Gateway users so we can design the API appropriately.

[2022-11-11 23:01] arkodg opened #727 "Fix stat prefix for xds components"
*Description*:
Add meaningful stat prefixes for xds components such as [this](https://github.com/envoyproxy/gateway/blob/c1f2585c2de5eca380d21b93a1c3815b1013d65d/internal/xds/translator/listener.go#L67)

[2022-11-12 15:59] shivanshu1333 commented on #721
/assign

[2022-11-12 16:04] shivanshu1333 commented on #727
/assign

[2022-11-12 16:10] shivanshu1333 commented on #721
I couldn't find any occurrence of https://gateway.envoyproxy.io/releases/v0.2.html in the gateway repo. Can you help me, Where exactly do we need to make this change?

[2022-11-12 16:13] shivanshu1333 commented on #727
I'm new to envoy/gateway. I'm unable to understand what exactly we need to do here; some guidance, please...
thanks!!

[2022-11-12 16:15] shivanshu1333 commented on #680
I can try to fix this :)
/assign

[2022-11-12 16:16] shivanshu1333 commented on #523
/assign

[2022-11-12 21:52] arkodg commented on #721
hey @shivanshu1333 , i raised this issue to surface this issue of broken links that we noticed downstream in blog posts and release notes. Ive updated the links in the Release notes, just letting this issue hang out a while longer before we close it out.
Thanks for scanning through the repo searching for its occurrences and making sure it doesnt exist

[2022-11-12 21:57] arkodg commented on #727
hey @shivanshu1333 thanks for volunteering to work on this issue !
the outcome of this issue to fix all the `stat_prefix` logic within the xds translator which gets assigned to the `StatsPrefix` field within structures such as the [http connection manager](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#extensio

[2022-11-15 01:08] gitanuj opened #729 "Is there a recommended way to update EG?"
There is `install.yaml` which contains CRDs for EG. Is there any recommendation on how to update to a newer version of EG? Can I just update the CRDs?

[2022-11-15 01:34] anuraaga commented on #671
Hi all - copying some points from the email thread on this.

We will be doing more scientific analysis of coraza-proxy-wasm's performance in the next couple of weeks - for now, we see unscientific numbers of ~3ms of overhead for requests with small payloads. It will be important to get distributions correlated with payload size, and a comparison of WAF via coraza directly in a Go server vs using w

[2022-11-15 02:49] Xunzhuo commented on #729
Currently you can get the latest EG from https://github.com/envoyproxy/gateway/releases/tag/latest.

If you want to set specific version of EG, you can set the image tag of EG in install.yaml.

[2022-11-15 06:06] youngnick commented on #675
That use case is exactly the sort of thing I was talking about when I meant option 3 - I just have to finish the upstream work to change the wording of Policy Attachment - but I haven't got any objections to that part yet, so I'm reasonably confident it will go ahead.

[2022-11-15 21:10] jcheld commented on #675
@danehans, yes, there is typically a "standard" path for auth that is adhered to by the various API producers that I would want to enforce by default from the gateway admin perspective, though there does need to be an exception process by which other auth measures can be applied in cases where the auth being provided to the gateway cannot be adjusted.

As an example, if JWT is your standard auth t

[2022-11-15 22:02] AliceProxy commented on #675
Overall I would prefer Policies over Filters from an end-user perspective if given the choice.

[2022-11-15 22:57] danehans commented on #545
Wait until https://github.com/envoyproxy/gateway/issues/413 is fixed.

[2022-11-15 23:26] danehans opened #731 "Support Authentication Overrides and Defaults"
#529 allows App Devs to manage request authentication on a per-route rule basis. As a Cluster Admin, I need the ability to:
- Override authentication settings configured by App Dev-managed resources, e.g. HTTPRoutes.
- Apply default authentication settings to App Dev-managed resources, e.g. HTTPRoutes.
- Apply default/override settings to resources I manage, e.g. Gateway, and affect all dependent

[2022-11-15 23:28] danehans commented on #731
__Note__: This issue is backlogged until #529 matures and maintainers understand the pros/cons of the filter approach to implementing request authentication.

[2022-11-16 10:55] wilsonwu commented on #721
Searched and confirmed that no such link like:https://gateway.envoyproxy.io/releases/v0.2.html in any files.

[2022-11-16 16:49] arkodg commented on #721
thanks @wilsonwu @shivanshu1333 , closing this issue for now

[2022-11-16 16:49] #721 closed

[2022-11-16 16:53] Xunzhuo opened #732 "Support `/` style commands to maintain EG Issues and PRs"
## *Description*

Support `/` style commands to maintain EG Issues and PRs

This is useful for maintainers of Project and contributors from community to mange issues and PRs.

## Status

I have wrote a GitHub Action in my private Repo:

## Available Commands ✨

Commands Usage and Naming follows k8s-ci-bot style, if you are familiar with k8s commands you used in the issues and PRs, you can easily t

[2022-11-16 17:19] arkodg commented on #732
ha thanks for building and documenting this out ! will be super useful for this project, would be great if you could add another column mentioning who can perform the action

regarding command names
* prefer `review` over `cc`
* lets not add a `/merge`
* lets pick one between `/approve` and `/lgtm`

[2022-11-17 04:33] zhshw opened #734 "restart gateway ,HandleSubscription panic"
*Description*:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x1722fb5]

goroutine 842 [running]:
github.com/envoyproxy/gateway/internal/xds/server/runner.(*Runner).subscribeAndTranslate.func1({{0xc000cce100?, 0xc0009d35e0?}, 0x4e?, 0xc0004021a8?})
	/home/runner/work/gateway/gateway/internal/xds/server/runner/

[2022-11-17 05:05] Xunzhuo commented on #734
Thanks for raising it, I will take a look later this day.

[2022-11-17 09:28] Xunzhuo commented on #734
@zhshw which EG version is used?

[2022-11-17 09:38] zhaohuabing opened #736 "Refactory: gateway api translator duplication"
The gateway API translator has grown too big(nearly 2000 lines now) and has a large amount of duplicated code in it, I'd like to clear it to make it easier to read and maintain.

[2022-11-17 09:40] zhaohuabing commented on #736
I would like to take this one.

[2022-11-17 10:36] Xunzhuo commented on #643
I will start to work on this, other filters implementations are blocked for the release fo v0.6.0 GWAPI.

[2022-11-17 10:49] YasiruShaminda commented on #688
I am proposing the following design for the AWS Lambda filter for the Envoy Gateway. What do you think about the design? Is this fit with requirements on envoy side and align with the other filters/policies that are available in the Envoy Gateway?

[code]

[2022-11-17 15:08] #675 closed

[2022-11-17 21:09] pydctw commented on #732
I've seen `/lgtm` is used by reviewers (basically anyone) and `/approve` is reserved for maintainers as the final step that triggers automatic merge of the PR in other projects.

When the community grows, it may be useful to have both `/lgtm` and `/approve` with different privileges. Just a thought.

[2022-11-17 22:32] paveliak opened #738 "Wildcard in HttpRoute hostnames generates exact match"
*Description*:
When `listeners` spec in the Gateway does not specify hosts and HttpRoute spec specifies _wildcard_ host envoy-gateway generates Exact match for the `:authority` that results in matching failures and hence 404.

E.g. for HttpRoute host name `*.example.com` it generates
[code]

The problem seems to be in [this code](https://github.com/envoyproxy/gateway/blob/cede77ebbecf25fbe8994cfd7

[2022-11-17 22:38] arkodg commented on #738
thanks for raising this issue, fixing https://github.com/envoyproxy/gateway/issues/680 fix this bug as well
cc @shivanshu1333

[2022-11-17 23:30] arkodg commented on #738
decided to tackle this bug separately from #680

[2022-11-18 01:06] Xunzhuo commented on #732
Thanks @pydctw. Yes and correct l, this is why I use both /lgtm and / approve. /lgtm is for reviewers and /approve is for approvers.

/merge will merge this PR if we have both /lgtm and /approve, and without /hold

[2022-11-18 01:49] arkodg commented on #688
thanks for kickstarting this debate, would recommend looking into [BackendObjectReference](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io%2fv1beta1.BackendObjectReference) to consider routing to a AWSLambda backend.
[code]
This should solve the user feature but before we attempt to support custom backends the project will need to think of a way
to provide extensions for

[2022-11-18 04:13] zhshw commented on #734
v0.2.0

[2022-11-18 04:36] Xunzhuo commented on #734
Can you provide more context on this?

Like how to reproduce this, just delete envoy gateway pod and let it recreate one?

@zhshw

[2022-11-18 07:33] Xunzhuo commented on #705
Probably right, the cert might not be generated, so the auth is failed.

[2022-11-21 16:03] thredreams opened #742 "Invalid escape character in command line help document"
*Description*:
In fact, I don't quite understand why only the Target part is normal when I type `make help`，while the escape characters in the Usage and Options parts are not displayed properly

Correct display: (This is the result of my modification)
![image](https://user-images.githubusercontent.com/44553414/203098632-7940b70e-b04e-4018-900f-d8e187cb31ff.png)
![image](https://user-images.githubu

[2022-11-21 16:19] Xunzhuo commented on #742
Thank you @thredreams, can you sign your commit and push it again?

[2022-11-21 16:23] thredreams commented on #742
OK, I will sign it tomorrow and push again

[2022-11-22 03:08] thredreams commented on #742
`cat /etc/redhat-release`

`cat /proc/version`

[2022-11-22 03:36] Xunzhuo commented on #742
The issue is In different OS, like in darwin(macos), this issue will not appear. And if you add the -e, the log will looks:
<img width="269" alt="image" src="https://user-images.githubusercontent.com/48784001/203215117-3a426fc1-31d2-4b2a-bb94-71b72f8fa33b.png">
There will be an extra -e in the start.

[2022-11-22 04:00] Xunzhuo commented on #742
You can just add `SHELL=/bin/bash` at common.mk @thredreams.

This can solve this issue : )

[2022-11-22 04:32] #742 closed

[2022-11-22 08:23] Xunzhuo opened #746 "Infra Manager updates Service failed and trigger svc/deployment wrongly"
*Description*:

the bug, for example: Envoy should not crash, the expected value isn't
returned, etc.

Infra Manager updates Service Failed and Wrongly

+ Update Service Failed:
<img width="1078" alt="企业微信截图_ef8a2076-e871-4aa0-8b50-3e17f506b6cf" src="https://user-images.githubusercontent.com/48784001/203260562-90b32fab-570c-479c-9a9b-6396ab618c58.png">

It can be reproduced after update Gateway CR

[2022-11-22 08:34] Xunzhuo opened #747 "xDS Runner Panics Occasionally"
*Description*:

xDS Runner Panics occasionally.

*Repro steps*:

Scale envoy gateway deployment to 0, 1, 2, 3. Randomly panics.

We should setup xDS Runner before starting subscription.

[2022-11-24 08:35] thredreams commented on #613
I think it may be that some images failed to pull, which caused some containers to fail to start successfully, or the "job" did not complete. The cause of the error may be the same as #705. Completing #390 may solve the problem.

[2022-11-25 20:01] #424 closed

[2022-11-26 04:01] #501 closed

[2022-11-28 05:17] Xunzhuo commented on #650
/stale cancel

[2022-11-28 06:11] chauhanshubham commented on #539
https://github.com/envoyproxy/gateway/pull/702 fixes this issue and uncomment's the two conformance tests.

[2022-11-28 18:35] danehans opened #752 "Bump to Go 1.19"
[Go 1.19](https://go.dev/blog/go1.19) was released in August 2022. EG should be bumped to use Go 1.19

[2022-11-29 16:28] #738 closed

[2022-11-29 16:31] danehans commented on #732
I agree with this approach.

[2022-11-29 16:36] danehans commented on #729
As @Xunzhuo mentions, you can use the `latest` release or when v0.3 is released, you will upgrade using:
[code]

[2022-11-29 16:36] #729 closed

[2022-11-29 21:44] danehans opened #753 "EG Image Fails to Build"
Running on MacOS:

[code]

[code]

Docker Desktop version:
[code]

[2022-11-30 00:05] danehans opened #755 "Latest Install and Quickstart Fails"
[code]

[2022-11-30 00:20] danehans opened #756 "Update Deprecated access_log_path in Envoy Bootstrap Config"
From Envoy logs:
[code]

[code]

[2022-11-30 00:21] danehans opened #757 "Update Deprecated http2_protocol_options"
From Envoy logs:
[code]

[code]

[2022-11-30 18:32] danehans opened #758 "HTTPRoute Fails to Get Reconciled"
An HTTPRoute fails to get reconciled when other HTTPRoutes exist that reference an unmanaged GatewayClass. Reconciliation for the HTTPRoute is bypassed with `httproute doesn't reference any managed gateways`. This is b/c the controller lists all HTTPRoutes (including ones that reference an unmanaged GatewayClass). If the HTTPRoute that references an unmanaged GatewayClass is the first in the list,

[2022-11-30 18:54] danehans opened #759 "Certs Do Not Get Generated When Running in Non Default Namespace"
The cert gen functionality hardcodes the "envoy-gateway-system" default namespace. Instead, cert-gen should set the `ENVOY_GATEWAY_NAMESAPCE` environment variable from the pod namespace and use its value to configure the namespace. If the value is unset, e.g. running Envoy Gateway outside of Kubernetes, the default namespace should be used.

[2022-11-30 19:20] danehans opened #762 "Duplicative Envoy CLI and Bootstrap Config Args"
The Envoy deployment contains duplicative CLI arg and bootstrap config settings. The duplication can cause confusion and potentially unexpected behavior.

- https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-service-cluster
- https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-service-node

[2022-11-30 22:31] #705 closed